
*{margin:0px;padding:0px;}

html{overflow-y: auto !important;}

body{
	background-color:#fff;
	font-family:arial;
	font-size:12px;
	width:100%;
	height:100%;
}

.fright{float:right;}
.fleft{float:left;}

h1{font-size:1.8em;}

/******************************* OBJETOS DE FORMULARIOS **************************************/
input, select, textarea{color:#666;}
.estilotextarea{width:385px;height:120px;}
.estilotextarea2{width:500px;height:300px;font-family:arial;!important;}
.multiple{padding:10px 15px;border:0;background-color:#ddd;width:100%;;}
.multiple1{padding:10px 15px;border:0;background-color:#ddd;width:100%;;}
/* OBJETOS DE FORMULARIOS*/

a{color:#333;text-decoration:none;}
a:hover{color:#333;text-decoration:underline;}
a img {border: 0;}

.page{height:100%;margin:20px;}
.titleAdmin
{
	font-size:1.8em;
	margin-bottom:0px;
}

.addAdmin
{
	background-color:#aaa;	
	margin-bottom:5px;
	padding:5px;
	text-align:center;
	font-weight:bold;
}

.submenuAdmin
{
	padding:5px;
	text-align:center;	
	background-color:#4bacc6;
	color:#fff;
	font-weight:bold;
	margin-bottom:15px;
}

.subtitleAdmin
{
	color:#666;
	font-weight:bold;
	text-align:center;
	margin:20px 0 5px 0;
}
.accordian{
	background-color:#333;
	color:#fff;
	min-height:100%
}

.accordian a{color:#fff;text-decoration:none;}
.accordian h1 {
	font-size: 1.2em;
	color: #fff;
	text-align: left;
	padding-left: 10px;
	padding-top:20px;
}

.col2{
	color:#111;
	width: 100%;
	/*background: url("../imagenes/fondo_admin.gif") repeat;*/
	/*width:520px;*/
}


/***************************** CONFIGURACION DEL CONTENIDO EN DOS COLUMNAS *******************/
.2_colum{overflow:hidden;}
.col_izq{float:left;width:50%;boder:1px solid #000;}
.col_drch{float:left;width:50%;}


/************************************* MENU ACORDEON ****************************************/
.titular{color:#999;}
.accordian {/*margin: 30px 0 0 0;*/text-align:right;list-style-type: none;}
.accordian .seccion {
	list-style-type: none;
	height:23px;
	padding:3px 5px 0 5px;
	margin:10px 0;
	background-color:#22aaFF;
	font-size:1.2em;
	font-weight: 600;
}
.accordian .seccion  span{padding-bottom:5px;}

/*********************************** FORMULARIOS ********************************************/

.filafrmExtra{overflow:hidden;width:100%;margin-bottom:10px;padding-left:20px;}
.etiquetafrmExtra{float:left;width:260px;}
.campofrmExtra{float:left;width:610px;}

.filafrm{overflow:hidden;width:100%;margin-bottom:10px;}
.etiquetafrm{float:left;width:140px;}
.campofrm{float:left;width:510px;}
.titulo_second{margin-bottom:20px;overflow:hidden;}
.titulo_second .text{float:left;margin:10px 10px 7px 0;}
.btn_separado{margin-top:15px;}
.buscador{
	padding:10px 0 10px 10px;
	/*margin:0 10px 0 -10px;*/
	background-color:#ccc;
}

.formulariosAdmin
{
	margin-top:5px;
	background-color:#eee;
	padding:15px 5px;
}

.formulariosAdmin > form {
	width: 700px;
	margin: auto;
}

.updt{margin-top:15px;overflow:hidden;}

.stContainer {
    position:relative;
    margin:0;
    padding:0;          
    font: normal 12px Verdana, Arial, Helvetica, sans-serif; 
    color:              #5A5655;
   /* width:906px;   */
    text-align:left;
}

.stContainer .navegacion{
	/*overflow:hidden;
	height:30px;*/
	background-color:#eee;
	border:1px solid #ccc;
}

.btn_navegacion{
	/*float:left;*/
	/*width:165px;*/
	/*height:30px;*/
	display: inline-block;
	padding:6px 12px;
	border-right:1px solid #ccc;
	text-align:center;
}

.tab{padding:20px 0;}
.obligatorio{float:left;}
/*********************************** SIMULACION TABLA *****************************************/
.view{border:1px solid #e4e4e4;margin:15px 0 0 0;font-size:0.9em;color:#333;}
.view .header{background-color:#e4e4e4;overflow:hidden;padding:6px;text-align:center;}
.view .itemg3{float:left;width:660px;text-align:left;}
.view .itemg1{float:left;width:50%;text-align:left;}
.view .itemg2{float:left;width:170px;text-align:center;}
.view .itemm{float:left;width:202px;}
.view .itemp{float:left;width:10%;text-align:center;}
.view .boder{overflow:hidden;padding:6px;border-bottom:1px solid #e4e4e4;}
.view .bod_cont{margin-bottom:5px;padding-bottom:10px;border-bottom:1px solid #e4e4e4;overflow:hidden;}
.view .foot{overflow:hidden;background-color:#e4e4e4;padding:6px;}

/***************************** IMAGENES PERSONALIZACION GRAFICA *******************************/

.fila_imagen{overflow:hidden;height:180px;float:left;}
.imagenes_personalizacion{overflow:hidden;}
.cuadros_imagen{
	float:left;
	width:250px;
	border:1px solid #ccc;
	background-color:#fff;
	margin:10px;
}

/**************************** TIPO CURSO *******************************************************/
.enlaceBoton
{
	background-color:#bbb;
	text-align:center;
	margin-bottom:10px;
	padding:5px;
	width:600px;
}

.buscadorTipoCurso
{
	width:600px;
	padding:5px;
	background-color:#ccc;
	text-align:center;
	margin-bottom:10px;
}

.tipoCurso
{
	border:1px solid #ccc;
	padding:5px;
	width:600px;	
}

.formTipoCurso
{
	margin-top:-30px;
	margin-left:-5px;
}

.botoneraTipoCurso
{
	padding-left:5px;
}

.columCheck
{
	float:left;
	width:100px;
}

.hide {
	display: none !important;
}
.elementoBorradoMotivos {
	display
}

/* ---------- */
#modalAlertAdmin {
	position: fixed;
	top: 0;
	right: 0;
	padding: 10px;
	width: 200px;
	background: #22AAFF;
	color: #fff;
}

/* ----------- */
#fondoWebAdmin {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}
#fondoWebAdmin img {
	width: 100%;
	height: 100%;
}

/* ------ */

.listarElementos {
	margin: 0 !important;
}

.selectMultipleAdmin{
	width:100%;
	border:1px solid #ccc;
	background-color:#eee;
	padding:10px;
}