.windowPopupCloseBtn {
	text-align: center;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 5px;
	background-color: #DFDFDF;
	border-top:1px solid #CCCCCC;	

	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-bottom-left-radius: 6px;
	-moz-border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	
}
.windowPopupCloseBtn a {
	/*background: #009CBF;*/
	color: #565656;
}
.windowPopupCloseBtn a:hover {
	color: #565656;
}

/* ------------- */

.listarElementos {
	/*border-top: 1px solid #CFCFCF;*/
	/*margin: 10px -20px 0 -20px;*/
}

.elemento {
	padding: 10px 20px;
	border-bottom: 1px solid #CFCFCF;
}
div.elemento:hover {
	/*background: #CFCFCF;*/
}
div.elemento .hide {
	display: block;
	visibility: hidden;
}
div.elemento:hover .hide {
	visibility: visible;
}
.elementoPie .hide {
	visibility: visible !important;
}

.elemento h2, .elementoTitulo {
	font-size: 1.2em;
	margin-bottom: 5px;
}
.elementoTitulo a {
	margin: -10px -20px;
	padding: 10px 20px;
	display: block;
	font-weight: bold;
}
.elementoTitulo a:hover {
	text-decoration: none;
}

.elementoContenido p {
	line-height: 16px;
}

.elementoNombre {
	font-size: 0.9em;
}
.elementoPie {
	font-size: 0.9em;
}
.elementoPie .elementoFecha, .elementoPie .elementoNombre, .elementoPie .elementoNombre a, .elementoPie .elementoNombre a:hover {
	color: #999;
}

#paginaVolver {
	margin: 10px 5px 15px 0;
	display: block;
	background: #E7EAEB;
	font-weight: bold;
	padding: 5px;
	border: 1px solid #cecece;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color:#565656;
}
#paginaVolverTop {
	margin: 0 5px 0 0;
	display: block;
	background: #E7EAEB;
	font-weight: bold;
	padding: 5px;
	border: 1px solid #cecece;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color:#565656;
}

#paginaVolver a, #paginaVolverTop a {
	color: #565656;
}

.elementosNoEncontrados {
	text-align: center;
	font-size: 1.1em;
	padding: 10px 0;
	border-bottom: 1px solid #CFCFCF;
}

ul.elementoListOptions {
	display: block !important;
	visibility: visible !important;
}
.elementoListOptions li {
	float: left;
	display: inline-block;
	margin-left: 5px;
}

.elementoNombre {
	color:  #5D5D5D;
}

#paginado {
	float:right;
	margin-top: 10px;
}

.paginado li {

	display: block;
	float: left;
	padding: 2px 5px;
	border:1px solid #cecece;
	margin-right:3px;
}

.ui-autocomplete {
	z-index: 80 !important;
}
.ui-autocomplete {
		max-height: 300px;
		overflow-y: auto;
		/* prevent horizontal scrollbar */
		overflow-x: hidden;
		/* add padding to account for vertical scrollbar */
		padding-right: 20px;
}

.highlight {
	background: yellow;
}
