body {
	background: url('../imagenes/error404.png') top center no-repeat !important;
}

#pageError404_num {
	font-size: 1.5em;
	font-weight: bold;
}
#pageError404 {
	padding: 20px;
}
#pageError404_text {
	margin-top: 10px;
	font-size: 1.2em;
}
#pageError404_text a {
	text-decoration: underline;
}