html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
    outline:none;
}

textarea
{
	outline:none;	
}

*{
	padding:0;
	margin:0;
	text-align:left;
}

/* END RESET */

html {
	/*overflow-y: auto !important;*/
	overflow: hidden !important;
}
body{font-family:arial;font-size:0.85em;}
.select100{width:100%;}
h3{color:#666;padding-bottom:5px;}
h4{color:#666;font-size:1em;}
.negrita{font-weight:bold;}
.cursiva {font-style:italic;}
.rojo{color:#ff3333;}
.verde{color:#33cc66;}
.obligatorio{font-size:0.8em;float:left;margin-left:5px;}
.sangria{text-indent:15px;}
a{color:#333;text-decoration:none;}
a:hover{color:#333;text-decoration:underline;}
a img {border: 0;}
.boxSizing{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

img.centered { display: block;  margin:auto;}

ul{list-style:none; padding: 0;}

.clear {clear: both;}
.t_left {text-align: left;}
.t_right {text-align: right;}
.t_center{text-align: center;}
.t_justify{text-align:justify;}
.fleft{float:left;}
.fright{float:right;}
.t_borde{
	border:1px solid #ccc;
	padding:5px;
}
.width100{
	width:100%;
	margin-top:10px;
}

.width100_nomargin{
	width:100% !important;
}

.hide {display: none;}
.invisible {visibility: hidden;}
.subrayadoAmarillo {background: yellow;}
a {color: #65574C;}

a:hover {
	color: #65574C;
	text-decoration: underline;
	cursor: pointer;
}

.rlt{
	margin:5px 15px;	
}

.paddingTdTable {
	padding: 10px 0;
}

.lbCheckbox{
	padding:0 7px;	
}

.lbCheckbox:hover {
	cursor: pointer;
	text-decoration: underline;
}

/******************************* SISTEMA DE LOGEO ***************************************/
/*
.login{
	width:300px;
	padding:30px;
	margin:100px auto;
	border:1px solid #ccc;
	overflow:hidden;
	font-size:1.1em;
	background-color:#eee;
}*/
.t_log{width:145px;float:left;}
.fila_log{margin-bottom:5px;float:left;width:100%;}

.cabeceralms{
	width:100%;
	overflow:hidden;
	position: absolute;
	bottom: 0;
	background-color: #FFF;
	z-index: 1;
	opacity: 0.7;
}
/******************************** ENCABEZADO GENERAL **************************************/

.info_general{width:100%;height:60px;}
.cont_curso{
	width:100%;
	height:465px;
	font-family:san-serif;
	font-size:16px;
}
.cont_curso a{text-decoration:none;color:#336699;}

.m{width:100%;height:60px;}

.logo{float:left;}
.datos_tutor{
	float:right;
	margin:5px 0 5px 10px;
	padding-left:10px;
	width: 345px; 
	height: 60px;
	font-weight: bold;
}
.fecha{
	float:right;
	border-right:2px solid #ccc;
	border-left:2px solid #ccc;
	height:50px;
	width:150px;
	padding:2px 10px;
	margin:5px 0;
	text-align:center;
}

.prelative{
	padding:2px 15px;
	background-color:#fff;
	float:left;
	color:#336699;
	position:relative;
}

.cartel{background-color:#fff;padding:3px;width:140px;margin:5px 0;text-align:center;font-weight:bold;}

/*********************************** LISTADOS DE ELEMENTOS **********************************/
.estilotextarea2{height:200px;font-family:arial!important;}
.titulo_elemento{background-color:#ccc;text-align:center;padding:5px;}
.fila_elemento{padding:5px;border-left:1px solid #eee;border-right:1px solid #eee;border-bottom:1px solid #eee;overflow:hidden;}
.elemento1{float:left;width:100px;}
.elemento2{float:left;}
.eliminar_elemento{float:right;}
.elemento_tutoria{float:right;margin-right:20px;}

/*************************** LISTADOS DE ELEMENTOS  CON DESCRIPCION *************************/
.contenido_anuncio{
	margin-bottom:15px;
	background-color:#eee;
	padding:10px;
	border:1px solid #ccc;
}

/*********************************** LISTADOS DE ELEMENTO COMO TABLA ************************/
.encabezado_tabla{background-color:#ccc;padding:5px;}
.listado_tabla{
	overflow:hidden;
	padding:5px;
	/*border-bottom:1px solid #ccc;*/
}
.titulo_tabla{width:89%;float:left;}
.objeto_tabla{float:left;width:8%;text-align:center;font-size:0.9em;}
.objeto_tabla2{float:left;width:3%;text-align:center;font-size:0.9em;}
.elemento_tabla{float:left;width:610px;margin-bottom:10px;}
.subtitleModulo
{
	color:#1C97D1;
	font-size:1.2em;
	font-weight:bold;
	padding:10px 0;
	margin:10px 0 10px 0;
}
.subtitle
{
	/*
	color:#1C97D1;
	font-size:1.5em;
	font-weight:bold;
	padding:10px 0;
	margin:0 0 10px 0;
	*/
	color:#444;
	font-weight: bold;
	font-style: italic;
	text-transform: uppercase;



}
.subtitle span, .subtitle2 span
{
	/*border-bottom:dotted 2px #a24309;*/
}
.subtitle2
{
	color:#a24309;
	font-size:1.2em;
	font-weight:bold;
	padding:10px 0;
	margin:0 0 5px 0;	
}
.subtitle span {
	line-height: 25px;
}

.imageIntro{
	width: 40px;
	height: 40px;
	vertical-align: middle;
}

/*********************************** FORMULARIOS ********************************************/

form > ul > li {
	margin-bottom: 10px;
}
button, input[type="submit"], input[type="reset"], input[type="button"] {

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #E7EAEB;
	color: #565656;
	font-weight: bold;
	padding: 7px;
	text-align: center;
	border: 1px solid #cecece;

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#cccccc');
	background: -webkit-gradient(linear, left top, left bottom, from(#dddddd), to(#cccccc)); 
	background: -moz-linear-gradient(top, #dddddd,  #cccccc);
	background: -o-linear-gradient(top, #dddddd,  #cccccc);
	background: -ms-linear-gradient(top, #dddddd,  #cccccc);
	background: linear-gradient(top, #dddddd,  #cccccc);

}
button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="reset"]:focus, input[type="button"]:hover {

	cursor: pointer;
	background: #D7DADB;

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#dddddd');
	background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#dddddd)); 
	background: -moz-linear-gradient(top, #cccccc,  #dddddd);
	background: -o-linear-gradient(top, #cccccc,  #dddddd);
	background: -ms-linear-gradient(top, #cccccc,  #dddddd);
	background: linear-gradient(top, #cccccc,  #dddddd);
}

textarea, input[type="text"], input[type="password"] {

	padding: 4px;
	width: 98%;
	border: 1px solid #999;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus {
	-moz-box-shadow: 0 0 5px #999;
	-webkit-box-shadow: 0 0 5px #999;
	box-shadow: 0 0 5px #999;
}

.caja_frm{margin:10px 0;}
.titulillo{background-color:#eee;padding:3px;text-align:center;border-bottom:1px solid #ccc;}

.filafrmExtra{overflow:hidden;width:100%;margin-bottom:10px;padding-left:20px;}
.etiquetafrmExtra{float:left;width:260px;}
.campofrmExtra{float:left;width:400px;}

.filafrm{overflow:hidden;width:100%;margin-bottom:5px; padding:5px;}
.etiquetafrm{float:left;width:140px;}
.campofrm{float:left;}
.estilotextarea{width:385px;height:120px;overflow-x: hidden;}
.multiple{
	margin:0 20px 5px;
	padding:10px;
	background-color:#eee;
	width:450px;}
.boton_radio{margin:5px 5px 0 0;}

/************************* SIMULACION TABLA ****************************************************/
.view
{
	border:1px solid #117995;
	margin:5px 20px 15px;
	font-size:0.9em;
	color:#eee;
}
.view .titulo
{
	border-bottom:1px solid #eee;
	margin: 0 0 10px 0;
	padding:0 0 5px 0;
}
.view .header
{
	background-color:#117995;
	overflow:hidden;
	padding:6px;
	text-align:center;
}
.view .item1
{
	float:left;
	width:10%;
}
.view .item2
{
	float:left;
	width:15%;
}
.view .item3
{
	float:left;
	width:37%;
}
.view .boder
{
	overflow:hidden;
	padding:6px;
	border-bottom:1px solid #e4e4e4;
	color:#333;
}
.view .bod_cont
{
	margin-bottom:5px;
	padding-bottom:10px;
	border-bottom:1px solid #e4e4e4;
	overflow:hidden;
	text-align:center;
}
.view .foot
{
	overflow:hidden;
	background-color:#117995;
	padding:6px;
}

/************************** CAJA SIMPLE ******************************************************/
.caja_simple{margin:10px 20px;border:1px solid #ccc;}
.caja_simple .encabezado{background-color:#eee;padding:5px;}
.cuerpo_simple{padding:5px;}

/************************** CAJA SEPARADA******************************************************/
.caja_separada{
	margin:0 20px;
	/*border:1px solid #ccc;*/
	padding:5px;
}
.titulo_anuncio{background-color:#eee;padding:3px;border-bottom:1px solid #ccc;}
.anuncio{padding:5px;}
.fecha_anuncio{padding:5px;font-size:11px;}
.titulo_emergente{overflow:hidden;margin:20px 20px 5px 20px;border-bottom:2px dashed #ccc;padding-bottom:5px;}


.menu_interno {
	text-align: center;
	margin-bottom: 10px
}

.menu_interno .elemento_menuinterno
{

	/*background:#fef8ec;*/
	background: #cfcfcf;
	/*border:1px solid #DDD;*/
	border: 1px solid #999;
	overflow:hidden;
	/*padding:5px;*/
	padding: 5px 10px;
	/*margin:10px 0;*/
	margin: 0 5px 0 0;
	margin-right: 5px;
	font-size: 0.9em;
	font-weight: bold;
	/*
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	*/
	border-radius: 3px;
	display: inline-block;
}

.menu_interno .elemento_menuinterno a
{
	/*color:#65574c;*/
	color: #444;	
}

.menu_interno li {
	display: inline-block;
	float: left;
}
.menu_interno li a {
	display: block;
	padding: 0 6px;
	margin: 7px 0;
	border-right: 1px solid #666;
}
.menu_interno li a:hover {
	text-decoration: none;
}
.menu_interno li a.menu_interno_activo {
	background: #aaa;
	color: #fff;
	margin: 0;
	margin-left: -1px;
	padding: 7px 6px;
}


.nota{
	padding:5px;
	margin:10px 0;
	background-color:#99cccc;
}

/* -------------- */

.popupNombreCurso {
	margin-bottom: 0;
	font-size: 0.9em;
	padding: 5px 10px;
	background: #fff;
	border-bottom: 1px solid #999;

	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
.popupIntro {
	margin: 0 0 20px 0;
}
.popupIntro h2 {
	font-size: 0.95em;
	color: #000;
	text-align: center;
}
.popupIntro p {
	font-size: 0.9em;
	line-height:1.3em;
}

/****************************** INICIO **********************************************************/

.la_imagen{
	width:1002px;
	height:468px;
	margin:0 auto;
	position: relative;
}

.inicio{
	background-image: url(imagenes/inicio_full.jpg);
	background-repeat: no-repeat;
	background-position: center center; 

	width: 100%;
	height: 100%;

	position: fixed;
	top: 0;
	left: 0;

   	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.listado_cursos{
	width:295px;
	height:440px;
	position:relative;
	top:30px !important;
	float:right;
	right:23px;
	padding:10px;
	overflow:auto;
	background-color:#FFF;
}

.listado_cursos .tutorizado{
	padding-bottom:10px;
	margin-bottom:5px;
	border-bottom:1px solid #000;
}

/*************************************** HALL **************************************************/
#hall{

	background-image: url(imagenes/hall_full.jpg);
	background-repeat: no-repeat;
	background-position: center center; 

	width: 100%;
	height: 100%;

	position: fixed;
	top: 0;
	left: 0;

   	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/*************************************** AULA **************************************************/
#aula{
	background-image: url(imagenes/aula_full.jpg);
	background-repeat: no-repeat;
	background-position: center center; 
	min-height: 100%;
	min-width: 980px;

	/* Set up proportionate scaling */
	width: 100%;
	height: 100%;

	position: fixed;
	top: 0;
	left: 0;

   	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/*************************************** zona tutor **************************************************/
#zona-tutor{

	background-image: url(imagenes/zona_tutor.jpg);
	background-repeat: no-repeat;
	background-position: center center; 

	width: 100%;
	height: 100%;

	position: fixed;
	top: 0;
	left: 0;

   	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* ---------NAVEGACION JAVASCRIPT ------*/
#navPopupHistory {
	padding: 5px 0 5px 20px;
	margin-bottom: 10px;
	border-bottom: 2px solid #CFCFCF;
	background: #999;
}
#navPopupHistory a {
	margin-right: 5px;
}
#navPopupHistory img {
	width: 20px;
	height: 20px;
}

/* */

#mensajeInformacion {
	width: auto;
	max-width: 400px;
	min-width: 100px;
	position: fixed;
	top: 15px;
	padding: 10px 20px;
	text-align: center;
	background: #fef8ec;
	/*border: 3px solid #65574c;*/
	border: 3px solid #a24309;
	color: #a24309;
	cursor: pointer;
	font-size: 1.1em;
	font-weight: bold;
	overflow: hidden;
	z-index: 100;

	/* for IE */
	filter:alpha(opacity=90);
	/* CSS3 standard */
	opacity:0.9;

	box-shadow: 0 0 10px #000;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


/* */

h1, h2, h3 {
	color: #009CBF;
}
h1 {
	font-size: 1.25em;
	margin-bottom:10px;
}
h2 {
	font-size: 1.15em;
	margin-bottom: 10px;
}
h3 {
	font-size: 1.10em;
	margin-bottom: 5px;
}

/* ---- VALIDAR DATOS JS --- */
.error {
	clear: right;
	color: #E2424F;
	margin-top: 2px;
}

#msgCargaAjax {
	position: absolute;
	position: fixed;
	top: 0;
	left: 45%;
	z-index: 50;
	background: #009CBF;
	color: #fff;
	padding: 3px 6px;

	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;

	-webkit-box-shadow: 0 0 5px #009CBF;  
    -moz-box-shadow: 0 0 5px #009CBF;  
    box-shadow: 0 0 5px #009CBF;
}

#popupsButtons {
	position: absolute;
	position: fixed;
	right: 0;
	top: 50px;
	z-index: 15;
}
.popupButtonFixed {
	background-image:url(imagenes/top-app.jpg);

	/* Para poner los elemento en linea */

	/*display: inline-block;*/
	/*float: left;*/

	padding-left:10px;

	margin-top:10px;
	margin-left: 7px;
	color: #565656;
	font-weight: bold;

	border-top: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;

	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;

	-webkit-box-shadow: 0 0 5px #000;  
    -moz-box-shadow: 0 0 5px #000;  
    box-shadow: 0 0 5px #000;
}
.popupButtonFixed a, .popupButtonFixed a:hover {
	padding : 5px 3px;
	display: inline-block;
	color: #565656;
	text-decoration: none;
}

/* TAB */
.menu_tab {
	margin: 0 -20px -10px -20px;
	padding: 0 20px;
	border-bottom: 1px solid #CFCFCF;
}
.menu_tab li {
	float: left;
	display: inline-block;
	padding: 3px 6px;
	margin-right: 2px;
	margin-bottom: -1px;
	background: #fff;

	border-top: 1px solid #CFCFCF;
	border-left: 1px solid #CFCFCF;
	border-right: 1px solid #CFCFCF;

	-webkit-border-top-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	border-top-left-radius: 3px;

	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	border-top-right-radius: 3px;
}
.menu_tab li.tab_current {
	background: #FFF;
}
.menu_tab a {
	color: #202020;
	display: block;
}
.menu_tab a:hover {
	color: #202020;
	text-decoration: none;	
}

/* TABLAS */

.tabla {
	width: 100%;
	border-collapse: collapse;
}
.tabla thead {
	background: #fef8ec;
	color: #65574C;
	text-align:left;
}
.tabla tr {
	border: 1px solid #ccc;
}
.tabla td {
	padding: 4px;
}

.tabla .filaTabla {
	background:#fef8ec;	
}

.tabla .celdaTabla {

}

/* --------- */

.button2 {
}
.button2 a {
	display: block;
	background: #FEF8EC;
	/*font-weight: bold;*/
	font-size: 1.1em;
	color: #65574C;
	padding: 5px 10px;
	border-radius: 8px;
	text-align: center;
	border: 1px solid #DDDDDD;
}
.button2 a:hover {
	/*color: #65574C;
	text-decoration: none;
	background: #E7DBCB;
	border-color: #DDB7B7;*/
}

/* NOTIFICACIONES DE CONEXIONES DE USUARIOS */
#notifiUsers {
	position: fixed;
	top: 0;
	background: #fff;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	padding: 10px;
	max-width: 500px;

	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;

	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;

	-webkit-box-shadow: 0 0 5px #000;  
    -moz-box-shadow: 0 0 5px #000;  
    box-shadow: 0 0 5px #000;
}
#notifiUsers .fleft {
	width: 90%;
	font-size: 0.9em;
}
#notifiUsers .fright {
	width: 10%;
	text-align: center;
}
#notifiUsers a, #notifiUsers a:hover {
	text-decoration: none;
	font-weight: bold;
	color: #000;
}

/*
* CSS PARA LAS AUTOEVALUACIONES DE RESPUESTAS DE ALUMNO 
*/
.cabeceraAutoeval {
	border:1px solid #CECECE;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding:15px 0 0 0;
	margin-bottom:15px;
}

/* ----------------- */

#panelAuxCursos {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 200px;
	padding: 10px;
	z-index: 50;
	margin-left: -220px;
	border-right: 20px solid #FA8933;
	background: #fff;
	overflow: hidden;
	box-shadow: 0 0 5px #000;
}

#panelAuxCursos h2 {
	background: #FA8933;
    color: #FFFFFF;
    font-size: 1em;
    margin: -10px -10px 10px -10px;
    padding: 5px;
}
#panelAuxCursos ul li {
	margin-bottom: 5px;
	font-size: 0.9em;
	font-weight: bold;

}

/* -------------------------------------- */

.blanco
{
	background-color:#FFFFFF;
	-moz-box-shadow: 0 8px 6px -6px #999;
	-webkit-box-shadow: 0 8px 6px -6px #999;
	box-shadow: 0 8px 6px -6px #999;
	border-bottom:1px solid #d5d5d5;
	border-top:1px solid #d5d5d5;
	border-left:1px solid #d5d5d5;
	margin-right: -1px;
	position: relative;
	z-index: 1;
}

.redondearBorde
{
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	-moz-border-top-lef-tradius: 7px;
	-moz-border-bottom-lef-tradius: 7px;
	-webkit-border-top-lef-radius: 7px;	
	-webkit-border-bottom-lef-radius: 7px;
}

/* -------------------------------------- */
#integrantes_curso {
	padding: 20px !important;
}

#integrantes_curso span{
	color:#444;
	font-weight: bold;
	font-style: italic;
}

#integrantes_curso_tab {
	margin: 0 -20px -10px -20px;
	padding: 0 20px;
}

#menuIntegrantesCurso{
	width:80px;
	position:relative;
}

.imgdatospersonales{
	vertical-align: middle;
	width: 40px;
	height: 49px;
}

/***************************************************************************************************/
/* ESTILO DE BOTONES NUEVO, EDITAR, ELIMINAR E IMPRIMIR */

.searchIcon{
	/*background-image: url('imagenes/lupa_faq.png') no-repeat right 50%;*/
	background-image: url("imagenes/lupa_faq.png");
	background-repeat: no-repeat;
	background-position: 98% 50%;
	padding-right: 27px !important;
	height: 20px;
}

.addButton{
	padding:7px 5px;
	border-radius:5px;
	background-color: #EFEFEF;
	border:1px solid  #CCC;
	font-size:0.8em;
}

.printerButton{
	background-image: url(imagenes/options/printer.png) !important;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color:#F3F3F3;
	min-width: 24px;
	min-height: 24px;
	border:1px solid #DBDBDB;
	border-radius:5px;
	float:right;
	padding: 2px;
	margin:0 2px;

}

.previewViewButton{
	background-image: url(imagenes/options/view.png) !important;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color:#F3F3F3;
	min-width: 24px;
	min-height: 24px;
	border:1px solid #DBDBDB;
	border-radius:5px;
	float:right;
	padding: 2px;
	margin:0 2px;
}

.previewViewButton:hover, .printerButton:hover{
	background-color: #E3E3E3;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.50);
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.50);
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.50);
}

.addElement{
	padding:7px 5px;
	border-radius:5px;
	background-color: #EFEFEF;
	border:1px solid  #CCC;
	font-size:0.8em;
}

.introAlignPopup{
	width: 100%;
	text-align: center;
}




/**************************************************************************
MENU IDIOMAS
**************************************************************************/
.accesRapidoMenu.language{
	background: red;
}
[data-flag-language],
.accesRapidoMenu.language img{
	width: 18px;
	height:18px !important;
    top: 4px;
    left: -5px;
    position: relative;
}



/**************************************************************************
DISEÑO RESPONSIVE
**************************************************************************/

/* width: 0 - 910 */
@media (max-width: 910px){
	.datos_tutor
	{
		float:left;
		padding-left:0;
	}

	#hall
	{
		background-image: url(imagenes/hall_low.jpg); 
		background-repeat: no-repeat;
		width: 981px;
		height: 551px;

		position: relative;
		margin: 0 auto;

		-webkit-background-size: 981px 551px;
		-moz-background-size: 981px 551px;
		-o-background-size: 981px 551px;
		background-size: 981px 551px;
	}

	#aula
	{
		background-image: url(imagenes/aula_low.jpg); 
		background-repeat: no-repeat;
		width: 981px;
		height: 551px;

		position: relative;
		margin: 0 auto;

		-webkit-background-size: 981px 551px;
		-moz-background-size: 981px 551px;
		-o-background-size: 981px 551px;
		background-size: 981px 551px;
	}
	.inicio
	{
		background-image: url(imagenes/inicio_low.jpg); 
		background-repeat: no-repeat;
		width: 981px;
		height: 551px;

		position: relative;
		margin: 0 auto;

		-webkit-background-size: 981px 551px;
		-moz-background-size: 981px 551px;
		-o-background-size: 981px 551px;
		background-size: 981px 551px;
	}

}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait){ 
	#hall
	{
		background-image: url(imagenes/hall_low.jpg); 
		background-repeat: no-repeat;
		width: 981px;
		height: 551px;

		position: relative;
		margin: 0 auto;

		-webkit-background-size: 981px 551px;
		-moz-background-size: 981px 551px;
		-o-background-size: 981px 551px;
		background-size: 981px 551px;
	}

	#aula
	{
		background-image: url(imagenes/aula_low.jpg); 
		background-repeat: no-repeat;
		width: 981px;
		height: 551px;

		position: relative;
		margin: 0 auto;

		-webkit-background-size: 981px 551px;
		-moz-background-size: 981px 551px;
		-o-background-size: 981px 551px;
		background-size: 981px 551px;
	}

	.inicio
	{
		background-image: url(imagenes/inicio_low.jpg); 
		background-repeat: no-repeat;
		width: 981px;
		height: 551px;

		position: relative;
		margin: 0 auto;

		-webkit-background-size: 981px 551px;
		-moz-background-size: 981px 551px;
		-o-background-size: 981px 551px;
		background-size: 981px 551px;
	}

}


#msgCargaAjax{
	z-index: 999;
}
#notifiUsers{
	z-index: 999;
	/*margin-top: 40px;*/
}



/* Custom input file with translate*/
.file-custom{
    margin: 4px 0px;
}
.file-custom label{
	cursor: pointer;
	padding: 7px;
    display: block;
	width: auto;
    position: relative;
	border-radius: 4px;
    color: #565656;
    text-align: center;
    border: 1px solid #cecece;
	background: -webkit-gradient(linear, left top, left bottom, from(#dddddd), to(#cccccc));
    background: -moz-linear-gradient(top, #dddddd, #cccccc);
    background: -o-linear-gradient(top, #dddddd, #cccccc);
    background: -ms-linear-gradient(top, #dddddd, #cccccc);
    background: linear-gradient(top, #dddddd, #cccccc);
}
.file-custom input[type=file]{
	opacity: 0;
	cursor: pointer;
	width: 100%;
	position: absolute;
	left: 0px;
    top: 0px;
}
.file-custom span{
	cursor: pointer;
}