#menuCurso a {
	width: 100% !important;
}
#menuCurso ul {
	position: relative;
	margin: 0 auto;
}
#menuCurso ul li {
	display: inline-block;
	float: left;
	/*font-weight: bold;*/
}
#menuCurso ul li hr {
	display: none;
}

#menuCurso ul li:hover ul {
	display: block !important;
}
#menuCurso ul li ul {
	display: none;
}
#menuCurso ul li ul {
	position: absolute;
	z-index: 2;
	background: #fff;
	border-top: 1px solid #5F5857;
	border-left: 1px solid #5F5857;
	border-right: 1px solid #5F5857;
	margin-left: -1px;
	bottom: 40px;
}
#menuCurso ul li ul li {
	float: none;
	diaplay: inline;
	font-weight: normal;
	height: 25px;
	line-height: 25px;
}
#menuCurso ul li ul a {
	color: #5F5857;
	white-space: nowrap;
}
#menuCurso ul li ul a:hover {
	background: #5F5857;
	color: #fff;
}

.panelTabContent {
	overflow-x: hidden !important;
	overflow-y: auto !important;
}

.panelTabMenu, .redondearBorde, .msjs, .contenido_correo, .subtitle2,
.general_correo, .gestor_de_correos, .carpetas_correo_bg, .carpetas,
.popupModalHeader, .upload, #agenda, .book a {
	position: static !important;
}
.upload {
	overflow: hidden !important;
	background-image: none !important;
	min-width: auto !important;
	min-height: auto !important;
}
.upload input {
	filter:alpha(opacity=100) !important;
	opacity: 1 !important;
	position: static !important;
}
#gestor_correos_botones li {
	float: left;
	margin-right: 10px;
}
#gestor_correos_botones input, #gestor_correos_botones button {
	border: 1px solid #999 !important;
	color: #444 !important;
}
#gestor_correos_ver_idcarpeta_scroll img, #gestor_correos_ver_idcarpeta_scroll a {
	float: left;
}
.gestor_correos_mail_count {
	float: right;
}

.carpetas .folder a, .carpetas .folder img {
	float: left !important;	
}
.carpetas .folder span {
	float: right !important;	
}
.importanciaAlta {
	position: static;
}
#popupModalInto {
	width: 400px;
}
#login-box button {
	background: transparent !important;
}
.optionsForo {
	position: static !important;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{margin-left:-2px !important;}