

.graphPreloading{ width:100%;height:116px}
.graphPreloading img{text-align:center;padding:30px 0 0 0}

.graphCont{position:relative;width:100%;margin:20px 0 0 0}
.graphLines{text-align:left;font-size:9px;color:#999}
.graphLines span.first{padding-top:3px;position:absolute;left:0;top:0;width:100%;border-top:1px solid #ebebeb;z-index:0}
.graphLines span.second{padding-top:3px;position:absolute;left:0;top:25%;width:100%;border-top:1px solid #ebebeb;z-index:0}
.graphLines span.third{padding-top:3px;position:absolute;left:0;top:50%;width:100%;border-top:1px solid #ebebeb;z-index:0}
.graphLines span.fourth{padding-top:3px;position:absolute;left:0;top:75%;width:100%;border-top:1px solid #ebebeb;z-index:0}

.graphHRed{width:auto}
.graphHRed div{position:relative; width:20px;height:120px;min-height:120px;display:inline-block}
.graphHRed div span.bar{position:absolute;bottom:0;left:0;width:20px;z-index:7;border-top:3px solid #b02e24;background-color:#eca5a0}
.graphHRed div span.hover{cursor:pointer;background-color:#86231b}
.graphHRed div span.graphSpecial{position:absolute;bottom:0;left:0;width:20px;z-index:7;border-top:3px solid #b02e24;background-color:#eca5a0}
.graphHRed div span.graphSpecial.hover{cursor:pointer;background-color:#86231b}
.graphHRed div span.graphBarZero{position:absolute;bottom:0;left:0;width:20px;height:4px;z-index:8;background-color:#ebebeb}
.graphHRed div span.graphBarZero.hover{background-color:#999}
.graphHGreen{width:auto}
.graphHGreen div{position:relative; width:20px;height:120px;min-height:120px;display:inline-block}
.graphHGreen div span.bar{position:absolute;bottom:0;left:0;width:20px;z-index:7;border-top:3px solid #34a60c;background-color:#96f575}
.graphHGreen div span.hover{cursor:pointer;background-color:#257609}
.graphHGreen div span.graphSpecial{position:absolute;bottom:0;left:0;width:20px;z-index:7;border-top:3px solid #b02e24;background-color:#eca5a0}
.graphHGreen div span.graphSpecial.hover{cursor:pointer;background-color:#86231b}
.graphHGreen div span.graphBarZero{position:absolute;bottom:0;left:0;width:20px;height:4px;z-index:8;background-color:#ebebeb}
.graphHGreen div span.graphBarZero.hover{background-color:#999}
.graphHGold{width:auto}
.graphHGold div{position:relative; width:20px;height:120px;min-height:120px;display:inline-block}
.graphHGold div span.bar{position:absolute;bottom:0;left:0;width:20px;z-index:7;border-top:3px solid #aaa61a;background-color:#eeeb8e}
.graphHGold div span.hover{cursor:pointer;background-color:#7e7b13}
.graphHGold div span.graphSpecial{position:absolute;bottom:0;left:0;width:20px;z-index:7;border-top:3px solid #b02e24;background-color:#eca5a0}
.graphHGold div span.graphSpecial.hover{cursor:pointer;background-color:#86231b}
.graphHGold div span.graphBarZero{position:absolute;bottom:0;left:0;width:20px;height:4px;z-index:8;background-color:#ebebeb}
.graphHGold div span.graphBarZero.hover{background-color:#999}
.graphHYellow{width:auto}
.graphHYellow div{position:relative;width:20px;height:120px;min-height:120px;display:inline-block}
.graphHYellow div span.bar{position:absolute;bottom:0;left:0;width:20px;z-index:7;border-top:3px solid #d6d14b;background-color:#f8f7e1}
.graphHYellow div span.hover{cursor:pointer;background-color:#c2bc2c}
.graphHYellow div span.graphSpecial{position:absolute;bottom:0;left:0;width:20px;z-index:7;border-top:3px solid #b02e24;background-color:#eca5a0}
.graphHYellow div span.graphSpecial.hover{cursor:pointer;background-color:#86231b}
.graphHYellow div span.graphBarZero{position:absolute;bottom:0;left:0;width:20px;height:4px;z-index:8;background-color:#ebebeb}
.graphHYellow div span.graphBarZero.hover{background-color:#999}
.graphHOrange{width:auto}
.graphHOrange div{position:relative; width:20px;height:120px;min-height:120px;display:inline-block}
.graphHOrange div span.bar{position:absolute;bottom:0;left:0;width:20px;z-index:7;border-top:3px solid #f3aa28;background-color:#fdefd6}
.graphHOrange div span.hover{cursor:pointer;background-color:#dc910c}
.graphHOrange div span.graphSpecial{position:absolute;bottom:0;left:0;width:20px;z-index:7;border-top:3px solid #b02e24;background-color:#eca5a0}
.graphHOrange div span.graphSpecial.hover{cursor:pointer;background-color:#86231b}
.graphHOrange div span.graphBarZero{position:absolute;bottom:0;left:0;width:20px;height:4px;z-index:8;background-color:#ebebeb}
.graphHOrange div span.graphBarZero.hover{background-color:#999}
.graphHOrangeDark{width:auto}
.graphHOrangeDark div{position:relative; width:20px;height:120px;min-height:120px;display:inline-block}
.graphHOrangeDark div span.bar{position:absolute;bottom:0;left:0;width:20px;z-index:7;border-top:3px solid #c97c49;background-color:#f3e2d7}
.graphHOrangeDark div span.hover{cursor:pointer;background-color:#ac6333}
.graphHOrangeDark div span.graphSpecial{position:absolute;bottom:0;left:0;width:10px;z-index:7;border-top:3px solid #b02e24;background-color:#eca5a0}
.graphHOrangeDark div span.graphSpecial.hover{cursor:pointer;background-color:#86231b}
.graphHOrangeDark div span.graphBarZero{position:absolute;bottom:0;left:0;width:10px;height:4px;z-index:8;background-color:#ebebeb}
.graphHOrangeDark div span.graphBarZero.hover{background-color:#999}
.graphHBrown{width:auto}
.graphHBrown div{position:relative; width:20px;height:120px;min-height:120px;display:inline-block}
.graphHBrown div span.bar{position:absolute;bottom:0;left:0;width:20px;z-index:7;border-top:3px solid #98764e;background-color:#ded0bf}
.graphHBrown div span.hover{cursor:pointer;background-color:#765c3d}
.graphHBrown div span.graphSpecial{position:absolute;bottom:0;left:0;width:20px;z-index:7;border-top:3px solid #b02e24;background-color:#eca5a0}
.graphHBrown div span.graphSpecial.hover{cursor:pointer;background-color:#86231b}
.graphHBrown div span.graphBarZero{position:absolute;bottom:0;left:0;width:20px;height:4px;z-index:8;background-color:#ebebeb}
.graphHBrown div span.graphBarZero.hover{background-color:#999}
.graphHBlue{width:auto}
.graphHBlue div{position:relative; width:10px;height:120px;min-height:120px;display:inline-block}
.graphHBlue div span.bar{position:absolute;bottom:0;left:0;width:10px;z-index:7;border-top:3px solid #609fc7;background-color:#e8f1f7}
.graphHBlue div span.hover{cursor:pointer;background-color:#4087b4}
.graphHBlue div span.graphSpecial{position:absolute;bottom:0;left:0;width:20px;z-index:7;border-top:3px solid #b02e24;background-color:#eca5a0}
.graphHBlue div span.graphSpecial.hover{cursor:pointer;background-color:#86231b}
.graphHBlue div span.graphBarZero{position:absolute;bottom:0;left:0;width:10px;height:4px;z-index:8;background-color:#ebebeb}
.graphHBlue div span.graphBarZero.hover{background-color:#999}
.graphHVioleta{width:auto}
.graphHVioleta div{position:relative; width:20px;height:120px;min-height:120px;display:inline-block}
.graphHVioleta div span.bar{position:absolute;bottom:0;left:0;width:10px;z-index:7;border-top:3px solid #9c51a8;background-color:#e2cbe6}
.graphHVioleta div span.hover{cursor:pointer;background-color:#7c4086}
.graphHVioleta div span.graphSpecial{position:absolute;bottom:0;left:0;width:20px;z-index:7;border-top:3px solid #b02e24;background-color:#eca5a0}
.graphHVioleta div span.graphSpecial.hover{cursor:pointer;background-color:#86231b}
.graphHVioleta div span.graphBarZero{position:absolute;bottom:0;left:0;width:20px;height:4px;z-index:8;background-color:#ebebeb}
.graphHVioleta div span.graphBarZero.hover{background-color:#999}




.graphWRed{width:auto}
.graphWRed div{position:relative;width:4px;height:80px;min-height:80px;margin:0 1px 0 0;display:inline-block;}
.graphWRed div span{position:absolute;bottom:0;left:0;width:4px;z-index:7;background-color:#b02e24}
.graphWRed div span.hover{cursor:pointer;background-color:#86231b}
.graphWRed div span.graphSpecial{position:absolute;bottom:0;left:0;width:4px;z-index:7;background-color:#b02e24}
.graphWRed div span.graphSpecial.hover{cursor:pointer;background-color:#86231b}
.graphWRed div span.graphBarZero{position:absolute;bottom:0;left:0;width:4px;height:4px;z-index:8;background-color:#ebebeb}
.graphWRed div span.graphBarZero.hover{background-color:#999}
.graphWGreen{width:auto}
.graphWGreen div{position:relative;width:4px;height:80px;min-height:80px;margin:0 1px 0 0;display:inline-block;}
.graphWGreen div span{position:absolute;bottom:0;left:0;width:4px;z-index:7;background-color:#34a60c}
.graphWGreen div span.hover{cursor:pointer;background-color:#257609}
.graphWGreen div span.graphSpecial{position:absolute;bottom:0;left:0;width:4px;z-index:7;background-color:#b02e24}
.graphWGreen div span.graphSpecial.hover{cursor:pointer;background-color:#86231b}
.graphWGreen div span.graphBarZero{position:absolute;bottom:0;left:0;width:4px;height:4px;z-index:8;background-color:#ebebeb}
.graphWGreen div span.graphBarZero.hover{background-color:#999}
.graphWGold{width:auto}
.graphWGold div{position:relative;width:4px;height:80px;min-height:80px;margin:0 1px 0 0;display:inline-block;}
.graphWGold div span{position:absolute;bottom:0;left:0;width:4px;z-index:7;background-color:#aaa61a}
.graphWGold div span.hover{cursor:pointer;background-color:#7e7b13}
.graphWGold div span.graphSpecial{position:absolute;bottom:0;left:0;width:4px;z-index:7;background-color:#b02e24}
.graphWGold div span.graphSpecial.hover{cursor:pointer;background-color:#86231b}
.graphWGold div span.graphBarZero{position:absolute;bottom:0;left:0;width:4px;height:4px;z-index:8;background-color:#ebebeb}
.graphWGold div span.graphBarZero.hover{background-color:#999}
.graphWYellow{width:auto}
.graphWYellow div{position:relative;width:4px;height:80px;min-height:80px;margin:0 1px 0 0;display:inline-block;}
.graphWYellow div span{position:absolute;bottom:0;left:0;width:4px;z-index:7;background-color:#d6d14b}
.graphWYellow div span.hover{cursor:pointer;background-color:#c2bc2c}
.graphWYellow div span.graphSpecial{position:absolute;bottom:0;left:0;width:4px;z-index:7;background-color:#b02e24}
.graphWYellow div span.graphSpecial.hover{cursor:pointer;background-color:#86231b}
.graphWYellow div span.graphBarZero{position:absolute;bottom:0;left:0;width:4px;height:4px;z-index:8;background-color:#ebebeb}
.graphWYellow div span.graphBarZero.hover{background-color:#999}
.graphWOrange{width:auto}
.graphWOrange div{position:relative;width:4px;height:80px;min-height:80px;margin:0 1px 0 0;display:inline-block;}
.graphWOrange div span{position:absolute;bottom:0;left:0;width:4px;z-index:7;background-color:#f3aa28}
.graphWOrange div span.hover{cursor:pointer;background-color:#dc910c}
.graphWOrange div span.graphSpecial{position:absolute;bottom:0;left:0;width:4px;z-index:7;background-color:#b02e24}
.graphWOrange div span.graphSpecial.hover{cursor:pointer;background-color:#86231b}
.graphWOrange div span.graphBarZero{position:absolute;bottom:0;left:0;width:4px;height:4px;z-index:8;background-color:#ebebeb}
.graphWOrange div span.graphBarZero.hover{background-color:#999}
.graphWOrangeDark{width:auto}
.graphWOrangeDark div{position:relative;width:4px;height:80px;min-height:80px;margin:0 1px 0 0;display:inline-block;}
.graphWOrangeDark div span{position:absolute;bottom:0;left:0;width:4px;z-index:7;background-color:#c97c49}
.graphWOrangeDark div span.hover{cursor:pointer;background-color:#ac6333}
.graphWOrangeDark div span.graphSpecial{position:absolute;bottom:0;left:0;width:4px;z-index:7;background-color:#b02e24}
.graphWOrangeDark div span.graphSpecial.hover{cursor:pointer;background-color:#86231b}
.graphWOrangeDark div span.graphBarZero{position:absolute;bottom:0;left:0;width:4px;height:4px;z-index:8;background-color:#ebebeb}
.graphWOrangeDark div span.graphBarZero.hover{background-color:#999}
.graphWBrown{width:auto}
.graphWBrown div{position:relative;width:4px;height:80px;min-height:80px;margin:0 1px 0 0;display:inline-block;}
.graphWBrown div span{position:absolute;bottom:0;left:0;width:4px;z-index:7;background-color:#98764e}
.graphWBrown div span.hover{cursor:pointer;background-color:#765c3d}
.graphWBrown div span.graphSpecial{position:absolute;bottom:0;left:0;width:4px;z-index:7;background-color:#b02e24}
.graphWBrown div span.graphSpecial.hover{cursor:pointer;background-color:#86231b}
.graphWBrown div span.graphBarZero{position:absolute;bottom:0;left:0;width:4px;height:4px;z-index:8;background-color:#ebebeb}
.graphWBrown div span.graphBarZero.hover{background-color:#999}
.graphWBlue{width:auto}
.graphWBlue div{position:relative;width:4px;height:80px;min-height:80px;margin:0 1px 0 0;display:inline-block;}
.graphWBlue div span{position:absolute;bottom:0;left:0;width:4px;z-index:7;background-color:#609fc7}
.graphWBlue div span.hover{cursor:pointer;background-color:#4087b4}
.graphWBlue div span.graphSpecial{position:absolute;bottom:0;left:0;width:4px;z-index:7;background-color:#b02e24}
.graphWBlue div span.graphSpecial.hover{cursor:pointer;background-color:#86231b}
.graphWBlue div span.graphBarZero{position:absolute;bottom:0;left:0;width:4px;height:4px;z-index:8;background-color:#ebebeb}
.graphWBlue div span.graphBarZero.hover{background-color:#999}
.graphWVioleta{width:auto}
.graphWVioleta div{position:relative;width:4px;height:80px;min-height:80px;margin:0 1px 0 0;display:inline-block;}
.graphWVioleta div span{position:absolute;bottom:0;left:0;width:4px;z-index:7;background-color:#9c51a8}
.graphWVioleta div span.hover{cursor:pointer;background-color:#7c4086}
.graphWVioleta div span.graphSpecial{position:absolute;bottom:0;left:0;width:4px;z-index:7;background-color:#b02e24}
.graphWVioleta div span.graphSpecial.hover{cursor:pointer;background-color:#86231b}
.graphWVioleta div span.graphBarZero{position:absolute;bottom:0;left:0;width:4px;height:4px;z-index:8;background-color:#ebebeb}
.graphWVioleta div span.graphBarZero.hover{background-color:#999}


.graphBarData{position:relative;width:100%;min-height:16px;padding:5px 0;background-color:#f9f9f9;text-align:center;font-size:.7em;color:#999}
.graphBarData span.one{position:absolute;left:20%;z-index:20}
.graphBarData span.two{position:absolute;left:45%;z-index:20}
.graphBarData span.three{position:absolute;left:70%;z-index:20}