.messagePopup {
	position: fixed;
	top: 100px;
	left: 0;
	width: 500px;
	z-index: 30;
	background: #CBA248;
	border: 1px solid #999;
	/*background: rgba(0, 156, 191, 0.7);*/
	
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	
	background: -webkit-linear-gradient(#FFFFFF, #CCCCCC);
  	background: -moz-linear-gradient(#FFFFFF, #CCCCCC);
  	background: -o-linear-gradient(#FFFFFF, #CCCCCC);
  	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#FFFFFF', EndColorStr='#CCCCCC');

	-webkit-box-shadow: 0 0 10px #000;  
    -moz-box-shadow: 0 0 10px #000;  
    box-shadow: 0 0 10px #000;  
}

.messagePopupAll {
	/*padding: 10px;*/
}

.msgPopupReply {
	margin-top: 10px;
	text-align: right;
	font-size: 0.9em;
}
.msgPopupReply img {
	margin-right: 5px;
}

.messagePopupHeader {
	text-align: right;
	color: #565656;
	font-weight: bold;
	margin: 0;
	padding:10px 10px 20px 10px;
	cursor: move;
	border-bottom: 1px solid #CCCCCC;
	
}

.numeroMensaje{
	background-color:#EE2C37;
	border:4px solid #CCCCCC;
	
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;	
	
	padding:3px 6px;
	margin-right:5px;
	
	color:#FFFFFF;
}

.messagePopupHeader h2 {
	color: #565656;
	margin: 6px 0 0 0;
	padding: 0;
	float: left;
}

.messagePopupHeader a, .messagePopupHeader a:hover {
	color: #565656;
	text-decoration: none;
	padding-top:6px;
	
}

.messagePopupContent {
	clear: both;
	background: #fff;
	padding: 15px;
	
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.messagePopupContent .elementoNombre {
	margin-bottom: 10px;
}

.messagePopupContent .elementoContenido {
	margin:15px 0 35px 0;
	width: 83%;
	margin-left:65px;
	padding-top:5px;
}

.msgPopupContent {
    float: right;
    line-height: 16px;
    width: 330px;	
    margin-top:10px;
}

.tituloMensage{
	color:#565656;
	font-weight: bold;
	font-style: italic;	
	margin:15px 10px 10px 0;
	width: 337px;
}

.tituloMensage .titleCurso{
	font-size:0.8em;	
}

.finTituloMensage{
	padding-bottom:5px;
	border-bottom:1px dotted #CCCCCC	
}

.msgPopupVisualCount {
	color: #777;
	padding-left: 10px;
	font-size: 0.8em;
	font-weight: bold;
	margin-top: 4px;
}

.msgPopupButtons {
	text-align: right;
	float:left;
	margin-left:25px;
}
.msgPopupButtonDisabled img {
	/* for IE */
	filter:alpha(opacity=50);
	/* CSS3 standard */
	opacity: 0.5;
}
.msgPopupButtonDisabled:hover {
	cursor: default !important;
}

.msgPopupButtons a {
	/*background: #009CBF;*/
	color: #fff;
	padding: 3px 6px;
	margin-left: 10px;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.msgPopupButtons a:hover {
	text-decoration: none;
	/*background: #0895C3;*/
}

.msgPopupButtons a img {
	float:left;
	margin-top:10px;
}