.popupModal input, .popupModal input:focus,
.popupModal textarea, .popupModal textarea:focus,
.cke_browser_webkit {
	outline: none !important;
}

.ui-state-disabled {
	opacity: 1 !important;
	filter:Alpha(Opacity=100) !important;
}

.popupModal {
	position: fixed;
	top: 100px;
	left: 0;
	z-index: 20;
	border: 1px solid #999;
	/*background: #65574c;*/
	/*min-width:700px;*/

	-webkit-box-shadow: 0 0 10px #000;  
    -moz-box-shadow: 0 0 10px #000;  
    box-shadow: 0 0 10px #000;  
    
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-bottom-left-radius: 6px;
	-moz-border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
    
}
.popupModalWrapper {

}

.popupModalHeader {
	text-align: right;
	color: #565656;
	font-weight: bold;
	line-height: 20px;
	cursor: move;
	
	position: relative;
	z-index: 2;
	
	padding: 4px;
	
	background-image:url(imagenes/top-app.jpg);
	
	/*
	background: -webkit-linear-gradient(#444444, #777777);
  	background: -moz-linear-gradient(#444444, #777777);
  	background: -o-linear-gradient(#444444, #777777);
  	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#444444', EndColorStr='#777777');
	*/
			
	border-bottom:1px solid #cccccc;
	
}
.popupModalHeader h2 {
	color: #565656;
	margin: 0;
	padding: 0;
	float: left;
}
.popupModalHeader a, .popupModalHeader a:hover {
	color: #565656;
	margin-left: 5px;
}

.popupModalContent {
	text-align: center;
	clear: both;
	height: 100%;
	/*
	padding: 15px;
	background: -webkit-linear-gradient(#F6F6F6, #FFFFFF);
  	background: -moz-linear-gradient(#F6F6F6, #FFFFFF);
  	background: -o-linear-gradient(#F6F6F6, #FFFFFF);
  	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#F6F6F6', EndColorStr='#FFFFFF');
	*/	
		
	/*border-right:3px solid #EFEFEF;*/	 
	/*border-left: 3px solid #EFEFEF;*/
}
.popupModalContent iframe {
	border: 0;
	width: 100%;
}

.popupModalHeaderLoader  {
	float: left;
	margin-left: 15px;
}
.popupModalLoader {
	/*padding: 20px 0;*/
    position: absolute;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    top: 40%;
}
.general_popup {
	height: 100%;
}

.popupModalHeaderIconDisabled {
	cursor: default !important;
	text-decoration: none !important;
	
	/* for IE */
	filter:alpha(opacity=40);
	/* CSS3 standard */
	opacity:0.4;
}
.popupModalHeaderIconDisabled a {
	cursor: default !important;
	text-decoration: none !important;
}

.popupModalHeaderHistory {
	float: left;
	
	/* for IE */
	filter:alpha(opacity=40);
	/* CSS3 standard */
	opacity:0.4;
}

.popupModalHeaderHistory a {
	cursor: default;
}
.popupModalHeaderHistory_back {
	/*margin-right: 0;*/
	margin-right: 15px;
}
.popupModalHeaderHistory_forward {
	margin-right: 15px;
}

.infoPopupModal{
	padding:5px 10px;
	background-color: #DFDFDF;
	float:right;
	margin-right: 50px;
}

.contentInfoPopupModal{
	display: none;
}

.windowPopupCloseBtn {
	position: relative;
	z-index: 2;
}