body
{
	font-size:11pt;
	text-align:justify;	
}

.fleft{float:left;}
.fright:{float:right;}

.cabeceraGuia
{
	padding-bottom:5px;
	margin-left:60px;
	text-align:left;
	border-bottom:2px dotted #0084c5;
	width:580px;
}

.pieGuia
{
	width:500px;
}

.paginasGuia
{
	padding:0px 60px;
	margin-bottom:5px;
	line-height:20px;
}

.tituloNoImagen
{
	font-weight:bold;
	text-align:center;
	font-size:12pt;
	margin-top:40px;
	margin-left:10px;
}

.tituloConImagen
{
	font-weight:bold;
	font-size:12pt;	
	margin-left:40px;
	line-height:35px;
}

.textoGuia
{
	/* arreglar */
	/*text-indent:40px;*/
	text-align:justify;
	margin:20px 0 20px 40px;	
}