#tutoria {
	/*padding: 20px;*/
}

#tutoria .subtitleModulo{
	color: #686868;
	margin-bottom: 15px;
	padding-bottom: 5px;
	border-bottom: 2px solid #69C6B3;
}

#tutoria .elementoPie{
	margin-top:8px;
}

#tutoria .elemento{
	padding:5px 10px;
}

#frm_tutoria_asignar_cursos label:hover {
	text-decoration:underline;
	cursor: pointer;
}
#frm_tutoria_asignar_cursos select {
	width: 320px;
	height: 150px;
}
#tutorias_curso_flechas {
	padding: 50px 10px 0 10px;
}

#frmInsertTutoria .selector, #frmEditTutoria .selector {
	float: left !important;
}

#tutoria .horaTutoria {
	margin-left:15px;
	line-height:34px;
	float:left;	
}

.tutoriaAbierta {
	text-align: center;
	width: 350px;
	margin: 0 auto;
	display: block;
	background: #69C6B3;
	font-weight: bold;
	padding: 10px;
	/*border: 1px solid #FD824B;*/
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#frm_tutoria_asignar_cursos_scroll {
	max-height: 250px;
	overflow-y: auto;
	border: 1px solid #CFCFCF;
    margin-bottom: 10px;
    padding: 10px;
}

#frm_tutoria_asignar_cursos_options li {
	float: left;
	display: inline-block;
	margin-right: 5px;
}

#tutoria img{
	margin-right: 5px;
	vertical-align: middle;
}

.tutoDoor {
	background-image: url('imagenes/puerta_tutoria.jpg');
	width: 400px;
	height: 400px;
}
