#archivador .tituloMenuEnlaceInteres {
	color: #686868;
	border-bottom: 2px solid #69C6B3;
	overflow: hidden;
	padding: 0;
	margin:5px 30px;
}

#archivador .subtitleModulo {
	color: #686868;
}

#archiveTemario .subtitleModulo{
	color: #686868;
	margin-bottom: 15px;
	padding-bottom: 5px;
}

.nombreModulo{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#FFFFFF');
	background: -webkit-linear-gradient(#FFFFFF, #EEEEEE);
  	background: -moz-linear-gradient(#FFFFFF, #EEEEEE);
  	background: -o-linear-gradient(#FFFFFF, #EEEEEE);
	color:#555;
	font-weight:bold;
	font-style:italic;
	
	border:1px solid #CCC;
	
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	padding:10px;
	
}

.archivosModulo{
	/*
	border-right: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	
	margin:-10px 0 15px 0;
	padding:5px 10px;
	*/
}

.library{
	min-height:556px;
	background-image: url("imagenes/archivador/library.png");
}

.menuVista{
	/*margin-bottom:10px;*/
}

.menuVista2{
	margin:0 10px 0 0;
}
.menuVista2 div,
.menuVista div {
	float: left;
}
.menuVista2 a,
.menuVista a {
	display: block;
}

.menuVista2 img
.menuVista img {
	vertical-align: middle;	
}

.vista1{
	background-color:#EFEFEF;
	border-top:1px solid #9F9F9F;
	border-left:1px solid #9F9F9F;
	border-bottom:1px solid #9F9F9F;
	border-right:1px solid #9F9F9F;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
}
.vista1 a, .vista2 a, .vista3 a, .vista4 a {
	padding:5px 10px;
}

.vista2{
	background-color: #CCCCCC;
	border-top:1px solid #9F9F9F;
	border-right:1px solid #9F9F9F;
	border-bottom:1px solid #9F9F9F;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
}

.vista3{
	background-color:#CCCCCC;
	border-top:1px solid #9F9F9F;
	border-left:1px solid #9F9F9F;
	border-bottom:1px solid #9F9F9F;
	border-right:1px solid #9F9F9F;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
}

.vista4{
	background-color:#EFEFEF;
	border-top:1px solid #9F9F9F;
	border-right:1px solid #9F9F9F;
	border-bottom:1px solid #9F9F9F;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
}

.vistaActiva{
	background-color: #EFEFEF;	
}

.cabeceraLibrary{
	color:#4F4F4F;
	background-color:#EFEFEF;
	font-weight: bold;
	overflow:hidden;
	padding:10px 0;
	border-top:1px solid #CFCFCF;
}

.titleLibrary{
	float:left;
	margin:3px 0 0 5px;
	text-transform: uppercase;
	width:855;
}

.menuLibrary{
	float:left;
	min-height:556px;
	width:105px;
	background-color:#CC6633;
	background-image: url("imagenes/archivador/library3.png");
}

.estante{
	height: 99px;
	width: 105px;
	margin-top:50px;
	color:#4F4F4F;
	font-weight: bold;
	text-align: center;
}

.estante span{
	background-image: url(imagenes/archivador/library.png);
	border-radius:5px;
	color:#FFF;
	padding: 10px;
	font-size: 10px;
}

.topLibrary{
	height: 3px;
	background-image: url("imagenes/archivador/top-library.png");
}

/* CLASES PARA LAS PESTAÑAS*/
#menuContenidosCurso{
	width:80px;
	position:relative;
}

#menuContenidosCurso > div{
	cursor: pointer;
}

#contenidoCurso{
	height:450px;
	width:581px;
	background-color:#FFFFFF;
	padding:15px 30px;
	/*
	-webkit-box-shadow: 3px 3px 5px -3px #999;
	-moz-box-shadow: 3px 3px 5px -3px #999;
	box-shadow: 3px 3px 5px -3px #999;	
	*/
	
	-moz-box-shadow:0px 7px 15px 0px #999;
	-webkit-box-shadow:0px 7px 15px #999;
	box-shadow:0px 7px 15px 0px #999;
	
	overflow:auto;
	border: 1px solid #D5D5D5;
}

/********************************************************************************************************************************
SHELF - VISTA DEL CONTENIDO REPARTIDO EN BALDAS
********************************************************************************************************************************/

#shelf{
	margin:100px 0 15px 0;
}

#shelf .shelfGuias{
	width:679px;
	height:139px;
	margin:0 auto;
	background-image:url('imagenes/archivador/shelf-guias.png');
	background-repeat:no-repeat;
	margin:50px auto;
}

#shelf .shelfTemario{
	width:679px;
	height:139px;
	margin:0 auto;
	background-image:url('imagenes/archivador/shelf-temario.png');
	/*background-image:url('imagenes/archivador/shelf-guias.png');*/
	background-repeat:no-repeat;
	margin:50px auto;
}

#shelf .shelfScorm{
	width:679px;
	height:139px;
	margin:0 auto;
	background-image:url('imagenes/archivador/shelf-scorm.png');
	/*background-image:url('imagenes/archivador/shelf-guias.png');*/
	background-repeat:no-repeat;
	margin:50px auto;
}

#shelf .book{
	background-color: #FFFFFF;
	width: 90px;
	height: 118px;
	border: 1px solid #CCC;
	margin: -100px 0 4px 40px;
	float: left !important;
}

#shelf .book:hover{
	background-color: #EFEFEF;
}

#shelf .book2{
	background-color: #FFFFFF;
	width: 118px;
	height: 90px;
	border: 1px solid #CCC;
	margin: -72px 0 4px 40px;
	/*padding-top: 30px;*/
	float: left !important;
}

#shelf .book2:hover{
	background-color: #EFEFEF;
}

.booksCenter{
	margin: 0 auto;
	width:	570px;
}
/******************************************************************************************************************************
CONTENIDOS - MODO LISTADO
******************************************************************************************************************************/

#archiveTemario .listado_tabla{
	border-bottom:1px dashed #A0A0A0;
	padding:12px 5px;
}