#anuncios{margin-bottom:15px;}

#anuncios span.cke_skin_kama{border:0; padding:0;}

.listarElementos {
	/*border-top: 1px solid #CFCFCF;*/
	/*margin: 10px -20px 0 -20px;*/
}

.elemento {
	/*
	padding: 10px 20px;
	border: 1px solid #ccc;
	margin-bottom:7px;
	
	border:1px solid #CCCCCC;
	background-color:#EFEFEF;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#FFFFFF');
	background: -webkit-linear-gradient(#FFFFFF, #EEEEEE);
  	background: -moz-linear-gradient(#FFFFFF, #EEEEEE);
  	background: -o-linear-gradient(#FFFFFF, #EEEEEE);
  	*/
}
div.elemento:hover {
	/*background: #E5F4F8;*/
}
div.elemento:hover .hide {
	display: block;
}

.elemento h2, .elementoTitulo {
	font-size: 1.1em;
	margin-bottom: 5px;
	font-weight:bold;
	font-style: italic;
}
.elementoTitulo a {
	margin: -10px -20px;
	padding: 10px 20px;
	display: block;
	font-weight: bold;
}

.elementoContenido
{
	margin-bottom:5px;
	color: #565656;
	line-height: 16px;
}

.elementoContenido p {
	line-height: 16px;
}

.elementoPie {
	margin-top: 5px;
}
.elementoPie .elementoFecha, .elementoPie .elementoNombre, .elementoPie .elementoNombre a, .elementoPie .elementoNombre a:hover {
	color: #999;
	float:left;
}

.elementosNoEncontrados {
	text-align: center;
	font-size: 1.1em;
	padding: 10px 0;
	border-bottom: 1px solid #CFCFCF;
}

.elementoListOptions li {
	float: left;
	diaplay: inline-block;
	margin-left: 5px;
}


/* */
.elementoNombre {
	color:  #5D5D5D;
}

.campofrm{width:75%;}

#anuncios img {
	/*margin-right:5px;*/
	vertical-align:middle;	
}

#anuncios .paginado{
	margin-top:15px;
}
