.menuContextual{
	display: none;
	width: 165px;
	background: #171717;
	border: 1px solid #777;
	position: absolute;
	z-index: 50;
}
.menuContextual ul{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	color: #222;
	background: #cfcfcf;
}
.menuContextual ul li{
	line-height: 1.5em;
	padding: 5px 10px;
	font-size: 11px;
	border-bottom: 1px solid #fff;
}
.menuContextual ul li:hover{
	background-color: #fff8cc;
	border-bottom: 1px solid #ffe222;
	color: #000;
	cursor: pointer;
}
.menuContextual ul li a{
	color: #6d6d6d;
	display: block;
}
.menuContextual ul li.disabled, .menuContextual ul li.disabled a{
	color: #bbbbbb;
	cursor: default;
}
.menuContextual ul li.disabled:hover{
	background: #fff;
	border-bottom: 1px solid #fff;
}
.menuContextual ul li{
	background-position: 3px 6px;
	background-repeat: no-repeat;
}

#general_correo_tooltip_menu {
	background: #cfcfcf;
	border: 1px solid #888;
	color: #444;
	padding: 5px 10px;
	position: absolute;
	z-index: 20;
	top: 25px;
	left: 0;
	border-radius: 5px;
	line-height: 20px;
}
