#menuGestionContenidos > div{
	cursor: pointer;	
}

#autoevaluaciones {
	padding: 20px !important;
}

#contenidoAutoevaluaciones{
	height:450px;
	width:450px;
	background-color:#FFFFFF;
	padding:15px 30px;
	/*
	-webkit-box-shadow: 3px 3px 5px -3px #999;
	-moz-box-shadow: 3px 3px 5px -3px #999;
	box-shadow: 3px 3px 5px -3px #999;	
	*/
	
	-moz-box-shadow:0px 7px 15px 0px #999;
	-webkit-box-shadow:0px 7px 15px #999;
	box-shadow:0px 7px 15px 0px #999;
	
	overflow:auto;
	border: 1px solid #D5D5D5;
}


.pyr{
	margin:10px;
	padding-bottom:5px;
	border:1px solid #ccc;
}
.pregunta{
	font-size:1.2em;
	font-weight:bold;
}

.respuesta{
	/*font-weight:bold;*/
	margin-bottom:3px;
}

.pregunta img, .tu_respuesta img {
	width: auto !important;
	height: 20px !important;
}

.preguntaTest{
	height:100px;
	width:695px;
	border:1px solid #ccc;
	overflow-y:scroll;
	padding:5px;
}

/* IMAGE TIP HOVER */
/*
#thumbPopup {
	max-width: 250px !important;
	min-width: 50px !important;
	border: 0 !important;
	background: transparent !important;
}
#thumbPopup img {
	width: 100%;
	height: auto;
	
	border: 4px solid #999 !important;
	
	border-radius: 3px;
	-moz-border-radius: 3px;
  	-webkit-border-radius: 3px;
  	
  	-moz-box-shadow: 0 0 5px #000;
	-webkit-box-shadow: 0 0 5px #000;
	box-shadow: 0 0 5px #000;
}*/

.listAutoeval{
	overflow:hidden;	
}

.listAutoeval img{
	vertical-align: middle;
	margin-right: 5px;
}

#AutoevaluacionesVista{
	background-image: url("imagenes/clipboard/clipboard.png");
}