#centrosBuscador li {
	float: left;
}
#centrosBuscador li input[type="text"] {
	width: 360px;
	margin-left: 10px;
	margin-right: 10px;
}

#frmNuevoMsgCentro {
	width: 500px;
}
#frmNuevoMsgCentro label {
	float: left;
}
#frmNuevoMsgCentro textarea {
	float: right;
	width: 370px;
}
#frmNuevoMsgCentro input[type="file"] {
	float: right;
}

/* --------- */


#frmCentro {
	width: 600px;
}
#frmCentro label {
	float: left;
}
#frmCentro input[type="text"], #frmCentro select {
	float: right;
	width: 400px;
}
#frmCentro .btnRadio {
	float: none;	
}

.formulariosAdmin #frmCentro li input{
	box-sizing: border-box;
}