#menuIntegrantesCurso > div{
	cursor: pointer;	
}

#contenidoIntegrantesCurso{
	height:450px;
	width:400px;
	background-color:#FFFFFF;
	padding:15px 30px;
	/*
	-webkit-box-shadow: 3px 3px 5px -3px #999;
	-moz-box-shadow: 3px 3px 5px -3px #999;
	box-shadow: 3px 3px 5px -3px #999;	
	*/
	
	-moz-box-shadow:0px 7px 15px 0px #999;
	-webkit-box-shadow:0px 7px 15px #999;
	box-shadow:0px 7px 15px 0px #999;
	
	overflow:auto;
	border: 1px solid #D5D5D5;
}

.tituloTabs{
	font-family:Arial, sans-serif;
	font-size:15px;
	color:#686868;
	margin-bottom:10px;
	padding-bottom:10px;
	border-bottom:2px solid #69C6B3;	
}



#contenidoIntegrantesCurso .listMembers
{
	padding: 10px;
	border-bottom: 1px dashed #D5D5D5;	
}

#contenidoIntegrantesCurso .listMembers:hover{
	background-color: #EFEFEF;
}

#contenidoIntegrantesCurso .elementoAvatar {
	float: left;
	width: 40px;
}
#contenidoIntegrantesCurso .elementoAvatar img {
	width: 100%;
}
#contenidoIntegrantesCurso .elementoNombre {
	float: left;
	width: 72%;
	margin-left:10px;
}

#docentes .elementoNombre{
	margin-top:3px;	
}

#alumnado .elementoNombre{
	margin-top:5px;	
}

#contenidoIntegrantesCurso .elementoListOptions{
	margin-top:6px;	
}

#equipoDocente, #alumnos{
	cursor: pointer;	
}