#agenda_recomendaciones_listado_cursos > div {
	margin-bottom: 5px;
}
#serviciosTutores {
}
.serviciosBloque {
	margin-top: 10px;
	padding: 10px;
	border: 1px solid #cfcfcf;
	border-radius: 5px;
}
.serviciosBloque div {
	margin-bottom: 5px;
}