.elementoCalfForoMsg {
	margin-bottom: 5px;
	font-size: 0.9em;
}

#evaluacion
{
	margin: 10px 20px 0 20px;
}

#calificaciones_menu
{
	margin: 20px 0 0 0;
}

#trabajos
{
	/*padding:20px;*/
}

#trabajos table, #speaking table
{
	width:100%;
	margin:5px 0;
}

#trabajos table .identificacion, #speaking table .identificacion
{
	padding:5px;
	border-bottom:1px solid #ccc;
	border-right:1px solid #ccc;
	text-align:center;
}

#trabajos table .identificacion_ultimo, #speaking table .identificacion_ultimo
{
	padding:5px;
	border-bottom:1px solid #ccc;
	text-align:center;
}

#trabajos table .rojo_pastel, #speaking table .rojo_pastel
{
	padding:5px;
	border-bottom:1px solid #454a4d;
	/*border-right:1px solid #454a4d;*/
	text-align:center;
	background-color:#ff9999;
}

#trabajos table .amarillo, #speaking table .amarillo
{
	padding:5px;
	border-bottom:1px solid #454a4d;
	/*border-right:1px solid #454a4d;*/
	text-align:center;
	background-color:#e6f59a;
}

#trabajos table .rosa, #speaking table .rosa
{
	padding:5px;
	border-bottom:1px solid #454a4d;
	/*border-right:1px solid #454a4d;*/
	text-align:center;
	background-color:#ffffcc;
}

#trabajos table .manzana, #speaking table .manzana
{
	padding:5px;
	border-bottom:1px solid #454a4d;
	/*border-right:1px solid #454a4d;*/
	text-align:center;
	background-color:#ffcccc;
}

#trabajos table .naranja, #speaking table .naranja
{
	padding:5px;
	border-bottom:1px solid #454a4d;
	text-align:center;
	background-color:#ffcc99;
}


#trabajos table, #speaking table
{
	border:1px solid #cecece;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#trabajos .titulo_curso, #speaking .titulo_curso
{
	background-color:#ccc;
	text-align:center;
	padding:7px 0;
}


#trabajos table input, #trabajos table .numero_romano, #speaking table input, #speaking table .numero_romano
{
	width:30px;
	text-align:center;
	font-size:0.8em;
}

.celda_autoevaluacion
{
	width:70%;
	padding:5px;
	text-align:left;
}

.celda_titulo
{
	background-color:#fef8ec;
	border-bottom:1px solid #cecece;
}

.celda
{
	padding:10px;
	text-align:center;
}

.autoevalVacio {
	padding:10px 5px;
}

.enlaceBoton {
	margin: 0 5px 15px 15px;
	display: block;
	background: #FEF8EC;
	font-weight: bold;
	padding: 7px;
	border: 1px solid #cecece;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#trabajos .tabla, #speaking .tabla {
	border:0;
}

/* ---------- */
#calificaciones_foro{
	/*padding: 20px;*/
}

#calificaciones_foro_mensajes {
	padding:20px;
}

.elementoTemaClick {
	margin-top: 20px;
	margin-bottom: 10px;
}
.elementoTemaClick h2 {
	color: #1C97D1;
}
.elementoFooterTema {
	margin-top: 5px;
	font-size: 0.9em;
	color: #999;
}

#calificaciones_foro_mensajes .cabeceraAutoeval {
	font-size: 0.9em !important;
}

/*********************************************** SUBMENU CALIFICACIONES ******************************************************/
.tituloEvaluaciones{
	position: relative;
	top: 35px;
}
.submenuTabs{
	float:right;
	border:1px solid #CCC;
	border-radius:5px;
}

.elementSubmenuTab{
	float:left;
	padding: 5px 7px;
}

.activeSubmenu{
	background-color: #EEEEEE;
}

.gestorTab{
	margin: 0 20px;
}

.headEvaluation{
   background-color: #EFEFEF;
   border: 1px solid #D5D5D5;
   border-radius: 5px 5px 5px 5px;
   padding: 5px;
   margin-bottom:15px;
}

.headEvaluation select{
	margin:5px;
}

.headEvaluation .printEvaluation{
	background-color: #FFF;
	border: 1px solid #d5d5d5;
	border-radius:5px;
}

/**************************************/
/*ESTILOS PARA LAS TABLA DE AVALUACION*/
/**************************************/

.headTableEvaluation{
	font-weight: bold;
	background-color: #FDEF88;
}

.tabla tr td{
	padding: 10px 5px;
	font-size: 0.9em;
}

.tabla .rowStudent{
	background-color:#EFEFEF;
}

.tabla .detalleForoHead{
	background-color:#444;
	color:#FFF;
}


