#informes  {
	/*padding: 20px;*/
}

#informes > div {
	overflow: auto;
}

#frm_informe_fecha {
	margin-top: 10px;
}

#frm_informe_fecha li {
	margin-right: 20px;
	line-height:40px;
}

#evaluacion {
	margin: 10px 20px 0 20px;
}

#informes_menu {
	margin: 20px 0 0 0;
}

#frm_informe_fecha label {
	width: 200px;
	float: left;
}

#frm_informe_fecha select {
	/*float: right;*/
	width: 300px;
}

#frm_informe_fecha .fleft label {
	width: 100px;
}

#datepicker1, #datepicker2 {
	width: 150px;
}

#informes td {
	border: 1px solid #999;
}

/******************* CELDA **********************/

.table_celda_informe {
	font-size: 0.8em;
}

.table_celda_informe_monocolor {
	background: #92FF9D;
	display: block;
    height: 100%;
    padding: 5px 0;
    width: 100%;
} 

