#popupModal_publicaciones_educativas .book a {
	height: auto;
	width: auto;
	padding: 5px;
	font-size: 0.9em;
}

#popupModal_publicaciones_educativas .library,
#popupModal_publicaciones_educativas .cabeceraLibrary {
	margin-left: -25px;
	margin-right: -25px;
}
#popupModal_publicaciones_educativas .menuLibrary {
	margin-left: -25px;
}

#revistaEducativaListado {
	margin-top: 15px;
}
#revistaEducativaListado div {
	line-height: 16px;
	font-size: 0.9em;
	padding: 5px 10px;
	background: #efefef;
	border: 1px solid #999;
	border-radius: 5px;
	margin-bottom: 10px;
}