#ayuda_faq {
	padding: 0 20px;
}
#ayuda_faq .caja_separada {
	margin: 0 !important;
}

#ayuda_faq .subtitleModulo{
	color: #444;
	font-size: 1.2em;
	font-weight: bold;
	padding: 0;
	margin: 35px 0 8px 0;
}

#ayuda_faq .elementoContenido p{border: 0;}

#listarFaqs {
	padding: 0 !important;
}
#listarFaqs .elemento {
	margin: 0 0 15px 0 !important;
}

#ayuda_faq .busquedaFAQ{
	float:right;
	margin:15px 0 0 0;	
}

#ayuda_faq .interaccionFAQ{
	width: 150px;
	padding:10px 10px;	
	text-align:center;
}

#ayuda_faq .interaccionFAQ span{
	width:200px;
	padding:7px;
	border:1px solid #CECECE;	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #FEF8EC;
}

#ayuda_faq .listarElementos {
	margin-top: 10px;
	padding:10px 10px;
	border:0;
}

#ayuda_faq .respuestaFaq {
	margin-left:15px;	
}

.inputBusqueda
{
	width: 250px !important;
	background: url("imagenes/lupa_buscador16.png") no-repeat scroll right 50% transparent;
    padding:7px 30px 7px 5px !important;
    margin-top:3px;
}

.botonFaq
{
	border-top:1px solid #999999;
	border-right:1px solid #999999;
	border-bottom:1px solid #999999;
	
	/*Redonde del border webkit */	
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	
	/*Redonde del border firefox */
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	
	/*Redonde del border css3 */
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	
	margin:5px 0;
}

.sinBorde:hover
{
	background-color:#FFF;	
}

botonFaq img
{
	height:22px;	
}

.sinBorde
{
	height:31px;
	border:0 !important;
	background-color:#FFF;
}

.topSeparation
{	
	margin-top:5px;
}

#ayuda_faq img{
	margin-right:5px;
	vertical-align:middle;	
} 

#ayuda_faq_busqueda{
border-bottom: 2px solid #69C6B3;
}