html {
	overflow-y: scroll;
}
#foroOpiniones {
	padding: 20px 20px 20px 20px;
}


/* ------- MENSAJES DEL FORO ---------- */
#foroOpinionesNuevoMensaje textarea {
	height: 60px;
	resize: vertical;
}
#foroOpinionesNuevoMensaje button {
	width: 100%;
}

#foroOpinionesEditarMensaje textarea {
	height: 150px;
	resize: vertical;
}
#foroOpinionesEditarMensaje button {
	width: 100%;
}

/* -------- */

#foroOpinionesRespuestaMensaje {
	margin: 10px -20px 0 -20px;
	padding: 20px;
	border-top: 1px solid #CFCFCF;
}
#foroOpinionesRespuestaMensaje .elementoContenido {
	color: #999;
	font-style: italic;
}

#foroOpinionesMensajes div.un_mensaje_respuesta {
	padding-left: 60px;
	background: #fff url('imagenes/foro_flecha_respuesta.png') no-repeat;
}

#foroOpinionesMensajes div.un_mensaje_respuesta .elementoAvatar {
	width: 6%;
}
#foroOpinionesMensajes div.un_mensaje_respuesta .elementoAll {
	/*width: 92%;*/
}

/* -------- */

#foroOpinionesMensajes .elementoAvatar, #foroOpinionesRespuestaMensaje .elementoAvatar {
	float: left;
	width: 8%;
}
#foroOpinionesMensajes .elementoAvatar img, #foroOpinionesRespuestaMensaje .elementoAvatar img {
	width: 100%;
	height: auto;
}
#foroOpinionesMensajes .elementoAll, #foroOpinionesRespuestaMensaje .elementoAll {
	/*float: right;
	width: 90%;*/
}
