#mensajes_emergentes {
	padding: 20px;
}
#mensajes_emergentes_menu {
	margin: 20px;
}

#frm_mensajes_emergentes textarea {
	height: 100px;
	width: 98%;
}

#frm_mensajes_emergentes h2 {
	font-size: 0.95em;
	color: #65574C;
	background: #FEF8EC;
	padding: 5px;
	text-align: center;
	border: 1px solid #DDDDDD;
	border-radius: 5px;
}
#frm_mensajes_emergentes select {
	margin-right: 10px;
}

#mensajes_emergentes_iconos li {
	float: left;
}
#mensajes_emergentes_iconos li img {
	padding: 5px;
	width: 35px;
	height: 35px;
	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
#mensajes_emergentes_iconos li img:hover {
	cursor: pointer;
	background: #FFB870;
}
#mensajes_emergentes_iconos img.mensajes_emergentes_iconos_active {
	background: #FF8000 !important;
}

#frm_mensajes_emergentes_fecha input[type="text"] {
	width: 100px;
}
#frm_mensajes_emergentes_hora select {
	margin-right: 5px !important;
}

#frm_mensajes_emergentes_repetir_dias li {
	float: left;
	margin-right: 10px;
}
#frm_mensajes_emergentes_repetir_dias div.checker {
	margin-right: 3px;
}

#optionsAvisosPersonales img{
vertical-align: middle;
margin-right: 5px;
}

.diasAviso{
	margin-top: 10px;
	font-size: 0.9em;
}

#navAvisosPersonales{
	width: 90px;
	position:relative;
}

#navAvisosPersonales a{
	display: block;
	text-align: center;
	padding-bottom:10px;
	width: 100%;
	height: 100%;
}

#navAvisosPersonales a span{
	font-size:0.8em;
	text-align:center;
	text-align: center;
}

#navAvisosPersonales > div{cursor: pointer;}

#contenidoAvisosPersonales{
	width: 550px;
	height: 440px;
	background-color:#FFFFFF;
	padding:15px 30px;
	-moz-box-shadow:0px 7px 15px 0px #999;
	-webkit-box-shadow:0px 7px 15px #999;
	box-shadow:0px 7px 15px 0px #999;
	overflow:auto;
	border:1px solid #d5d5d5;
	overflow: auto;
}

#mensajes_emergentes .paginado{
	margin:15px 0;
}