.listado_cursos{
	width:295px;
	height:440px;
	position:relative;
	top:90px;
	float:right;
	right:23px;
	padding:10px;
	overflow:auto;
}

.listado_cursos .tutorizado{
	padding-bottom:10px;
	margin-bottom:5px;
	border-bottom:1px solid #999;
}


#home_select_cursos_options {
	font-size: 0.85em;
}
#home_select_cursos_options li {
	float: left;
	display: inline-block;
	margin-right: 10px;
}

#home_show_cursos_active_search, #home_show_cursos_inactive_search {
	margin-bottom: 10px;
	background: url('imagenes/lupa_buscador16.png') no-repeat right 50%;
	height:16px;
	width:245px;
	padding-right:25px;
}

.home_show_cursos_list_blur {
	font-weight: bold;
	text-decoration: underline;
}

#home_show_cursos_inactive_conv {
	width: 100%;
	margin-bottom: 10px;
}