/* CALENDARIO */
#agenda_menu_principal {
	margin: 20px 20px 0 20px;
}

#agenda_menu_secundario {
	margin-bottom: 20px;
}

#general > .caja_separada {
	width: 560px;
	margin: 20px auto 0 auto;
	word-warp: no-wrap;
}
#agenda .menu_interno {
	margin-bottom: 10px;
}
#frm_agenda_ev_nuevo #frm_agenda_ev_contenido, #frm_agenda_ev_editar #frm_agenda_ev_contenido {
	width: 99% !important;
}

/* ----- */

.elementoFecha2 {
	font-size: 1.1em;
	color: #444;
	margin-right: 15px;
	font-weight: bold;
	text-align: center;
}
.elementoFecha2_hr {
	border-bottom: 1px solid #444;
	padding-top: 2px;
	margin-bottom: 2px;
}

/*---------*/

#menuAgendaAdmin a {
	display: block;
	font-size:0.8em;
	text-align:center;
	padding-bottom:10px;
}
#menuAgendaAdmin a:hover {
	text-decoration: none;
}

#agenda_admin {
	padding: 20px 20px 0 20px;
}
#contenidoAdminAgenda {
	height:450px;
	width:400px;
	background-color:#FFFFFF;
	padding:15px 30px;
	/*
	-webkit-box-shadow: 3px 3px 5px -3px #999;
	-moz-box-shadow: 3px 3px 5px -3px #999;
	box-shadow: 3px 3px 5px -3px #999;	
	*/
	
	-moz-box-shadow:0px 7px 15px 0px #999;
	-webkit-box-shadow:0px 7px 15px #999;
	box-shadow:0px 7px 15px 0px #999;
	
	overflow:auto;
	border: 1px solid #D5D5D5;
}