#calificaciones_pond_notas form label {
	float: left;
	width: 300px;
	line-height: 25px;
}
#calificaciones_pond_notas form input[type="text"] {
	float: left;
	/*width: 50px;*/
}

/* AUTOEVALUACION */

.celda_autoevaluacion
{
	width:70%;
	padding:5px;
	text-align:left;
}

.celda_titulo
{
	background-color:#e6f59a;
}

.celda
{
	padding:5px;
	text-align:center;
}

.titulo_curso
{
	margin-bottom:10px;
}

#ponderacion_notas_listado_cursos_labels label:hover {
	text-decoration: underline;
	cursor: pointer;
}

.filafrm
{
	width:530px;	
}

.etiquetafrm
{
	width:200px;
}

.campofrm
{
	width: 300px;
	margin-right:5px;
}