#blocNotas {
	width:100%;
}

#frmBlocNotas{
	margin:0 20px;	
}

#blocNotas form textarea {
	/*width: 98%;*/
	height: 60px;
}

#btnGuardar {
	margin-top: 5px;
	width:100%;
}

#optionHeadBlocNotas{
	min-height: 30px;
	border-bottom:1px solid #CCCCCC;	
	padding-bottom:7px;
}

#blocDeNotas{
	background-color: #FFFFFF;
	background-image: url(imagenes/boc_notas/line-orange.png);
	background-repeat: repeat-y;
	background-position: 50px;
	left:50px;
	
	min-height:250px;
	margin:10px 20px;
	

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	-moz-box-shadow: 0 0 5px #999;
	-webkit-box-shadow: 0 0 5px #999;
	box-shadow: 0 0 5px #999;
	
	padding:5px 0;
}

.checkBoxBlocNota{
	float:left;
	margin-right: 22px;
}

#msjList{
	border-bottom:1px solid #CCCCCC;	
	padding:5px 5px 7px 8px;
	margin-top:5px;
}

.fechaBloc{
	margin-top:5px;
	font-size: 0.9em;
	color:#777;	
}

#blocDeNotas img{
	margin:5px;
	vertical-align: middle;
}

#createNote{
	margin-left: 65px;
}

.taskBlocNotas{
	width: 350px;
	float:left;
}

.completada{
	color:#777;
	text-decoration:line-through; 
}

.butonTask{
	padding:1px;
	background-color: #DFDFDF;
	float:left;
	margin:0 2px 0 3px;
}

.butonTask:hover{
	background-color: #EFEFEF;
}

.viewTask{width: 400px;}

.blocNotasPaginado{margin-right:15px;}