



/*revisar estilo login*/
#acceso_campus {
	width: 550px;
	margin: 10px auto 0 auto;
}
#acceso_campus_logo {
	margin: 0 auto;
	width: 260px;
}
#acceso_campus_container {
	border: 1px solid #CFCFCF;
}

#acceso_campus h2 {
	margin-bottom: 0;
}

#acceso_campus_titulo {
	font-size: 0.95em;
	width: 500px;
	margin: 20px auto 0 auto;
	line-height: 20px;
}

.login {
	width: 300px;
	padding: 20px;
	margin: 20px auto;
	border: 1px solid #CFCFCF;
}

#acceso_campus_mail {
	font-size: 0.9em;
	text-align: center;
	/*margin: 40px 0 20px 0;*/
}

#acceso_campus_mail a {
	color: #ebebeb;
	font-size: 11px;
}

#acceso_campus_mail a:hover {
	color: #ebebeb;
	font-size: 11px;
	text-decoration:underline
}

#acceso_campus_lost_pass {
	font-size: 0.9em;
}

#acceso_campus_form .t_log {
	font-size: 0.95em;
}

#acceso_campus_form .fila_log .fleft {
	width: 100px;
}
#acceso_campus_form .fila_log .fright {
	width: 190px;
}

#acceso_campus_form select {
	width: 100%;
}

#acceso_campus_btn .t_log {
	width: 100%;
}
#acceso_campus_btn input {
	float: right;
	margin-top: 5px;
}
#acceso_campus_btn_login {
	margin-right: 10px;
}

/*******************************************
LOGIN NUEVO
*******************************************/

#login-box {
	width:333px;
	height: 352px;
	padding: 58px 76px 0 76px;
	color: #ebebeb;
	font: 12px Arial, Helvetica, sans-serif;
	background: url(imagenes/login-box-backg.png) no-repeat left top;
	margin:0 auto;
}

#login-box p
{
	font-size:11px;
}

#login-box img {
	border:none;
}

#login-box h2 {
	padding:0;
	margin:0;
	color: #ebebeb;
	font: bold 40px "Calibri", Arial;
}


#login-box-name, #login-box-name-2, #login-box-name-3 {
	float: left;
	display:inline;
	width:80px;
	text-align: right;
	padding: 5px 10px 0 0;
	margin:0 0 7px 0;
	font-weight:bold;
}

#login-box-field, #login-box-field-2 , #login-box-field-3 {
	float: left;
	display:inline;
	width:230px;
	margin:0;
	margin:0 0 7px 0;
}


.form-login  {
	width: 205px;
	padding: 10px 4px 6px 3px;
	border: 1px solid #0d2c52;
	background-color:#1e4f8a;
	font-size: 16px;
	color: #ebebeb;
}


.login-box-options  {
	clear:both;
	padding-left:90px;
	font-size: 11px;
}

.login-box-options a {
	color: #ebebeb;
	font-size: 11px;
}

.login-box-options a:hover {
	color: #ebebeb;
	font-size: 11px;
	text-decoration:underline;
}

#login-box button, #login-box button:hover
{
	padding:0;
	border:0;
	background:transparent;
}