/*********************************** GESTOR DE CORREOS ******************************************/

/*
.correo_en_respuesta {
	color: #999;
}
.correo_en_respuesta span {
	color: #999 !important;
}*/

#gestor_correos_botones {
	margin-top: 10px;
	margin-left: 14px;
}
#gestor_correos_botones li {
	display: inline-block;
	margin-right: 10px;
}
#gestor_correos_botones button {
	padding: 2px 4px;
}
#gestor_correos_botones button[type="submit"], #gestor_correos_botones button[type="button"] {
	background-color: #A24309;
    border: 1px solid #CCCCCC;
    color: #444;
}
		
.mensaje_correo span.cke_skin_kama {
	/*border: 0 !important;*/
}

#gestor_correos_ver_idcarpeta_scroll {
	max-height: 150px;
	overflow-y: auto;
	margin-left: 40px;
}
#gestor_correos_ver_idcarpeta li {
	padding: 2px 0;
}
#gestor_correos_ver_idcarpeta li img {
	margin-right: 4px;
}
	
#frm_gestor_reenvio_destinatarios {
	height: 100px;
	padding: 10px;
	margin: 10px;
	overflow-y: auto;
	border: 1px solid #999;
	border-radius: 5px;
}
#frm_gestor_reenvio_destinatarios div {
	margin-bottom: 5px;
}
#frm_gestor_reenvio_destinatarios div input {
	margin-right: 5px;
}
#frm_gestor_reenvio_destinatarios label:hover {
	cursor: pointer;
}

.alignVertical
{
	vertical-align: middle;	
}

.menuMasivoTutor
{
	font-size:0.9em;
	margin:10px 0 10px 15px;	
}

.menuMasivoTutorSin
{
	font-size:0.9em;
	margin:5px 0 10px 0;
}

.tituloBloques
{
	margin:0 15px 0 10px;
	font-weight:bold;	
	color:#A24309;
	background-color:#FEF8EC;
	padding:10px;
	border:1px solid #ccc;
}

a, a:hover
{
	color:#444;
}

#gestor_correo_nuevo_mensaje {
	text-align: center;
	margin-bottom: 10px;
}
#gestor_correo_nuevo_mensaje a {
	background: #fff;
	border: 1px solid #ddd;
	color: #65574C;
	padding: 5px 0;
	margin: 0 10px;
	display: block;
	text-decoration: none;
	font-weight: bold;
	text-align:center;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#gestor_correo_nuevo_mensaje a:hover
{
	text-decoration:underline;	
}

#paginado {
	margin-top: 0 !important;
	border-top: 1px solid #ddd;
	border:0 !important;
}
#paginado ul {
	float: right;
	padding: 5px;
}
#gestor_correos_ver_idcarpeta div.selector {
	width: auto !important;
	text-align: center !important;
	border: 1px solid #ddd;
	margin: 0 10px;
	font-weight: bold;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#gestor_correos_ver_idcarpeta div.selector, #gestor_correos_ver_idcarpeta div.selector span {
	padding: 0 !important;
}
#gestor_correos_ver_idcarpeta div.selector span {
	background: #fff;
	width: 100% !important;
}
#gestor_correos_ver_idcarpeta select {
	width: 95%;
}

#gestor_correo_listado {
	overflow-y: auto;
	padding: 5px;
}

.gestor_de_correos
{
	height: 100%;
	color:#444;
}
#popupModal_gestor_correos .general_popup > form {
	height: 100%;
}

.carpetas_correo
{
	/*
	background-color:#e7ecf2;
	min-height:680px;
	border-right:1px solid #ccc;
	*/
	width:25%;
	float:left;
	height: 100%;
	/*position: fixed;
	z-index: 2;*/
	/*padding-right: 10px;*/
	color: #65574C;
	font-size: 0.85em;
}

.folder img
{
	vertical-align: middle;		
}

.folder a
{
    padding-top: 2px;
    vertical-align: middle;	
}

.carpetas {
	/*background: #FEF8EC;*/
    height: 100%;
    position: relative;
    z-index: 1;
    
    /*border-right: 1px solid #ddd;*/
   /* border-right-width: 6px;
    border-right-image: url(imagenes/correos/zigzag.png);
    -webkit-border-image: url('imagenes/correos/zigzag.png') 0 6 round round;
    -moz-border-image: url('imagenes/correos/zigzag.png') 0 6 round round ;*/
}
.carpetas_correo a, .carpetas_correo:hover {
	color: #65574C;
}
.carpetas ul li {
	padding: 2px 5 !important;
	clear: both;
}

.gestor_correos_mail_count {
	border-radius: 7px;
	padding: 2px 7px;
	background: #cfcfcf;
	color: #444 !important;
	font-weight: bold !important;
	font-size: 0.85em;
	float: right;
	margin-top: 2px;
	width: 10px;
}
.gestor_correos_mail_count:hover {
	text-decoration: none;
	color: #444;
}

.subtitle2 {
	margin: -5px 0 5px 0;
	padding: 10px;
	/*background: #FEF8EC;*/
	position: relative;
	z-index: 2;
	border-bottom: 1px solid #ddd;
	color: #65574C;
	/*height: 22px;*/
}

.carpetas_correo {
	width: 25%;
}
.carpetas {
	padding-top: 10px;
	background: #FEF8EC;
    /*border-right: 1px solid #ddd;*/
    border-right-width: 6px;
    border-right-image: url(imagenes/correos/zigzag.png);
    -webkit-border-image: url('imagenes/correos/zigzag.png') 0 6 round round;
    -moz-border-image: url('imagenes/correos/zigzag.png') 0 6 round round ;
}

.msj_noleidos
{
	min-height:60px;
	padding:5px;
	text-align:center;
	font-weight:bold;
}

.organizador
{
	/*text-align:center;*/
	padding:20px 10px 0 10px;
	font-size:1.3em;
	height:100%;
	border-top:1px dashed #ccc;
}

.carpetas
{
	/*margin:15px 0;*/
}

.carpetas ul li
{
	padding:5px 5px 5px 10px;
}

.contenido_correo
{
	float: left;
	width: 75%;
	/*min-height: 585px;*/
	/*overflow:hidden;*/
	padding:10px 0 0 0px;
	/*border-left:1px dashed #ccc;*/
	position: relative;
}

#gestor_correo_titulo
{
	font-size: 1.3em;
	font-weight: bold;
	/*margin-bottom: 10px;*/
	margin: 0 10px 10px 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #FEF8EC;
}

.gestor_de_correos .subtitle2 {
	border:0;	
} 

.general_correo
{
	border: 1px solid #ddd;
	padding: 4px 6px;
	background: #FEF8EC;
	margin-top: 5px;
	margin-bottom: 2px;
	font-weight: bold;
	margin: 0 4px 0px 10px;
	text-align: center;
	/*float: right;*/
	font-size: 0.8em;
	border-radius: 4px;
	moz-border-radius: 4px;
	webkit-border-radius: 4px;
}
.general_correo a, .general_correo a:hover {
	color: #65574C;
}

.select_correo
{
padding:20px;
}

.msjs
{
	margin-top:5px;
	/*margin-left: 150px;*/
	background-color: #fff;
	clear: left;
	position: relative;
}

.encabezado_correo
{
	overflow:hidden;
	padding:4px;
	border-bottom:1px solid #eee;
	/*
	box-shadow: 0 0 10px #C7C7C7;
	webkit-box-shadow: 0 0 10px #C7C7C7;
	moz-box-shadow: 0 0 10px #C7C7C7;
	*/
	font-style: italic;
	font-weight:bold;
	font-size:0.9em;
}
.mensajes_correo{
	width:100%;
	overflow:hidden;
	padding:4px 0; 
	border-bottom:1px solid #eee;	
	font-size:0.9em;
}
.mensajes_correo:last-child {
	border-bottom: 0;
}

.asunto_s{float:left;width:5% !important;margin-left:10px;}
.asunto_d{float:left;width:30%;}
.asunto_a{float:left;width:30% !important;margin-right:10px;}
.asunto_i{float:left;width:10%;}
.asunto_f{float:left;width:21%;text-align:center;}
.asunto_item{float:left;width:5%;text-align:center;}

.asunto_a img{vertical-align:middle;}
asunto_a a
{
	vertical-align:middle;
	padding-top:2px;	
}

.opciones_envio, .redactar_mail {
	border:1px solid #ccc;
	margin:10px;
	padding:10px 0;
}

.asunto {
	width:100%;
	overflow:hidden;
	padding:5px 10px;
}

.title_asunto
{
	float:left;
	/*width:100px;*/
	padding-top:5px;
	margin-right:15px;
}

.inputAsunto{

}

.api_adjuntar{
	border:1px solid #cecece;
	margin:10px 15px;
	padding:5px;
	overflow:hidden;
	border-radius: 4px;
	moz-border-radius: 4px;
	webkit-border-radius: 4px;
}

.mensaje{
	min-height:200px
	;margin-bottom:5px;
}

.mensaje_correo
{
	margin: 0 10px;
}

.mensaje_correo textarea
{
	border: 1px solid #ccc;	
}

.etiquetaAsunto
{
	margin-right:10px;	
	line-height: 25px;
}

.menvio{
	/*overflow:hidden;*/
	padding-right:3px;
	border:1px solid #cecece;
	margin:10px 15px;
	border-radius: 4px;
	moz-border-radius: 4px;
	webkit-border-radius: 4px;
}

.users
{
	width:100%;
	margin-left:3px;
	padding:5px 0;
	border:0;
}

.users option 
{
	padding:2px;
}

.cabecera_mail
{
	/*
	background-color:#eee;
	*/
	border:1px solid #cecece;
	padding:5px 15px;
	margin:0 10px 10px 10px;
	border-radius: 4px;
	moz-border-radius: 4px;
	webkit-border-radius: 4px;
}

.cabecera_mail p { 
	margin-bottom:5px;
}

.datos_adjuntos
{
	padding:5px 15px;
	overflow:hidden;
	border:1px solid #cecece;
	margin:0 13px 10px 10px;
	border-radius: 4px;
	moz-border-radius: 4px;
	webkit-border-radius: 4px;
	font-size:0.9em;
}
.archivo_adjunto
{
	float:left;
	padding-right:5px;
	/*border-right:1px solid #eee;*/
	/*border-bottom:1px solid #ccc;*/
	margin:0 15px 5px 0;
}

.cuerpo_mail
{
	padding:5px 15px;
	margin:0 10px;
	border:1px solid #cecece;
	border-radius: 4px;
	moz-border-radius: 4px;
	webkit-border-radius: 4px;
	overflow: auto;
	line-height: 18px;
}
.cuerpo_mail ol
{
	margin-left: 20px;
}
.cuerpo_mail ul
{
	list-style: disc;
	margin-left: 15px;
}
.cuerpo_mail a, .cuerpo_mail a:hover
{
	color: #009CBF;
	text-decoration: underline;
}

.btn_responder a
{
	border: 1px solid #ddd;
	padding: 2px 6px;
	background: #fff;
	margin-top: 5px;
	margin-bottom: 2px;
	font-weight: bold;
	margin: 0 10px 0px 10px;
	text-align: center;
	float: left;
	font-size: 0.9em;
	color: #65574C;
	
	border-radius: 4px;
	moz-border-radius: 4px;
	webkit-border-radius: 4px;
	
	margin-top: -42px;
	position: relative;
	z-index: 5;
}

.n_msj
{
	background-color:#fff;
	border:1px solid #ccc;
	padding:3px;
}

.buscador_correo
{
	float: right;
	margin-top:5px;
	margin-right: 10px;
	z-index: 0 !important;
}

.buscador_correo input
{
	width:130px;
	float: left;
	
    background: url("imagenes/lupa_buscador16.png") no-repeat scroll right 20% transparent;
    padding: 4px 30px 4px 5px;
}

/*
.link_buscar
{
	margin-left:-5px;
	padding:6px 4px 5px;
	border:1px solid #999;
	background-color:#65574C;
	float: left;
	
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.link_buscar a, .link_buscar a:hover {
	text-decoration: none;
	color: #fff;
}*/

.selectorCurso
{
	background-color:#fff;
	padding:10px;
	margin-bottom: 0 10px;
}

.botonDetalle {
	margin-top:-44px;
	padding:5px;
	font-size:0.9em;
}

.importanciaAlta{
	margin:3px 15px 0 0;	
	position: absolute;
	left: 150px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webit-border-radius: 4px;
    padding: 2px 6px;
}
.importanciaAltaActive {
	background: #EEB383;
}

.saveas
{
	margin:5px 15px 0 0;	
	position: absolute;
	left: 283px;
}

.saveas img
{
	margin-right:5px;
}

.lineaAdjunto
{
	float:left;
	margin:5px 5px;
	background-color:#eee;	
	padding:5px;
	border:1px solid #ccc;
}

.botonEnviarCorreo
{
	margin: 0 15px 10px;
    width: 95%;
}

.ocultarInicio
{
	display: none;
	padding:10px 10px 0 10px;
	background-color: #eee;	
}

.filaConfirmacion
{
	padding-bottom: 15px;
}

.NombreConfirmacion
{
	float:left;
	width:72%;
}

/************************************** BOTON PARA ADJUNTAR ARCHIVOS ***************************************************/
div.upload {
position: relative;
min-height:25px;
min-width: 86px;
overflow:hidden;
background:url(imagenes/correos/clip.png) left top no-repeat;
clip:rect(0px, 80px, 24px, 60px );
left:52px;
margin-top: 6px;
}
 
div.upload input {
position: absolute;
left: -145px;
top: 0px;
margin:0;
padding:0;
filter: Alpha(Opacity=0);
-moz-opacity: 0;
opacity: 0;
cursos:pointer;
}
div.upload input:hover
{
	cursor: pointer;	
}

/******************************************* FIN DE BOTON PARA ADJUNTAR ARCHIVOS *********************************************/


#correos_nueva_carpeta, #correos_editar_carpeta {
	padding: 20px;
	background: #fff;
}
#correos_nueva_carpeta form label {
	float: left;
	width: 30%;
}
#correos_nueva_carpeta form input[type="text"] {
	float: right;
	width: 65%;
}
