#curriculum {
	padding: 10px;
	width: 700px;
	border: 1px solid #CFCFCF;
}

#frmCurriculum li {
	margin-bottom: 10px;
}
#frmCurriculum li label {
	width:150px;
}
#frmCurriculum li input[type="text"] {
	width: 300px;
}
#frmCvDatosPersonales {
	width: 300px;
	margin-right: 30px;
}
#frmCvDatosPersonales2 {
	width: 300px;
}