#popupModal_conversaciones_wrapper_aux{
	overflow:hidden !important;
}

#popupModal_conversaciones_iframe{
	overflow:hidden;
}
#popup_conversaciones{
	width: 100%;
	height: 100%;
}
#popup_conversaciones > div{
	height:100%;
	overflow: auto;
	display:inline-block;
	float:left
}
#popup_conversaciones .chat-left{
	width: 39%;
	border-right: solid 1px rgba(0,0,0,0.2);
	height: 100%;
	position: relative;
    overflow: auto;
}
#popup_conversaciones .chat-left.hide{
	display:none;
}
#popup_conversaciones .chat-left .empty{
	padding: 15px 20px;
}
#popup_conversaciones .chat-left .div-chat-back,
#popup_conversaciones .chat-left .div-chat-new{
    height: 25px;
	padding: 10px;
	position:relative;
	text-align: center;
	background: white;
}
#popup_conversaciones .chat-left  #listado_conversaciones{
	height: calc(100% - 50px);
	overflow: auto;
}
#popup_conversaciones .chat-left #listado_conversaciones li{
	padding: 15px 20px;
}
#popup_conversaciones .chat-left #listado_conversaciones li:hover{
	background-color: rgba(0,0,0,0.1);
}
#popup_conversaciones .chat-left #listado_conversaciones li span{
	line-height: 20px;
}
#popup_conversaciones .chat-left #listado_conversaciones a{
	text-decoration: none;
	cursor:auto;
	width: 100%;
    height: 100%;
    display: block;
}

#popup_conversaciones .chat-left #listado_conversaciones .logo_chat{
	width: auto;
	max-width: 20px;
	height: 20px;
	position: relative;
	top:6px;
	margin-right:5px;
}
#popup_conversaciones .chat-left #listado_conversaciones .contador{
	width: 20px;
    height: 20px;
    position: relative;
    display: inline-block;
    top: 0px;
    margin-right: 5px;
    background: red;
    border-radius: 50%;
    border: solid 2px white;
    color: white;
    line-height: 20px;
    text-align: center;
}
#popup_conversaciones .chat-left #listado_conversaciones .arrow{
	width: auto;
    max-width: 15px;
    height: 15px;
    position: relative;
    top: 10px;
    float: right;
}
#popup_conversaciones .chat-left #listado_conversaciones .hace_tiempo{
	font-style: italic;
    color: gray;
    margin-top: 4px;
    /*margin-left: 30px;*/
    display: block;
}
#popup_conversaciones #contactos img{
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}


#popup_conversaciones #conversacion{
	width: 59%;
	margin-left: 7px;
	overflow: hidden;
	height: 100%;
}
#popup_conversaciones #conversacion #content{
	height: calc(100% - 60px);
	overflow: hidden;
}
#popup_conversaciones #conversacion h1{
	width: 100%;
    color: black;
    text-align: center;
	font-size: 1em;
	padding: 15px 0px;
    height: 25px;
	line-height: 25px;
    overflow: hidden;
}
#popup_conversaciones #conversacion h1 img{
	width: auto;
	max-width: 20px;
	height: 20px;
	position: relative;
	top:5px;
	margin-right:5px;
}
#popup_conversaciones #conversacion .div-chat-input{
    height: 25px;
	padding: 10px;
	position:relative;
}
#popup_conversaciones #conversacion .div-chat-input input[type=text]{
	width:100%;
	margin: 0 auto;
    height: 30px;
}
#popup_conversaciones #conversacion .div-chat-input input[type=submit]{
	position: absolute;
    top: 15px;
    right: 5px;
    width: 25px;
    background: white;
    border: none;
    border-left: solid 1px rgba(0,0,0,0.2);
	outline:none;
}
#popup_conversaciones #conversacion #listado_conversacion{
    overflow: auto;
	position:relative;
	height: calc(100% - 60px);
}
#popup_conversaciones #conversacion .mensaje{
	float:left;
    clear: both;
    height: auto;
    min-height: 0px;
    width: auto;
    margin-bottom: 12px;
}
/*#popup_conversaciones #conversacion .mensaje.leido-0 p.message{
	font-weight: bold !important;
}*/

#popup_conversaciones #conversacion .mensaje p{
	padding: 8px 10px;
}
#popup_conversaciones #conversacion .mensaje p.name{
    color: #0093C9;
	padding-top: 5px !important;
	padding-bottom: 0px !important;
}
#popup_conversaciones #conversacion .mensaje p.time{
	color: #0093C9;
    padding: 3px 10px;
    font-size: 0.9em;
}
#popup_conversaciones #conversacion .mensaje.mensaje_propio p{
	margin-right: 45px;
	text-align: right;
    background: rgb(243, 243, 243);
}
#popup_conversaciones #conversacion .mensaje.mensaje_ajeno p{
	margin-left: 45px;
    background: rgb(243, 243, 243);
}
#popup_conversaciones #conversacion .mensaje.mensaje_propio{
	flex-direction: row-reverse;
    float: right;
}
#popup_conversaciones #conversacion .mensaje.mensaje_propio p.avatar_chat{
	left:auto !important;
	float: right !important;
}
#popup_conversaciones #conversacion p.avatar_chat{
	width: 40px;
    height: 40px;
    overflow: hidden;
    position: relative;
	margin-left:0px !important;
	margin-right:0px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
	padding: 0px;
	top: 5px;
}
#popup_conversaciones #conversacion p.avatar_chat img{
	height: 150%;
	width: auto;
	max-width: none;
}
#popup_conversaciones #conversacion .clearfix{
	display: block;
    content: "";
    clear: both;
}

.Sinleer {
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    background-color: #E11F17;
    border-radius: 10px;
    padding: 1px 5px;
    font-weight: bold;
    position: relative;
    top: -41px;
    left: 25px;
    font-size: 0.8em;
}