#configuracion_admin form li {
	width: 450px;
}
#configuracion_admin form li {
	line-height: 20px;
	clear: both;
}
#configuracion_admin form li label {
	width: 100px;
	float: left;
}
#configuracion_admin form li input[type="text"] {
	width: 300px;
	float: right;
}

.tituloGrafica{
	padding:10px;
	border:1px solid #CCCCCC;
	background-color:#EEEEEE;
	margin:10px 0;
}

.imagenVacia{
	font-size:1.1em;
	margin-bottom:10px;
}