#mis_progresos {
	padding:20px;
}

#mis_progresos span{
	color:#444;
	font-weight: bold;
	font-style: italic;
}

#misProgresos{
	margin-top:0 20px;
	position: relative;
}

#mis_progresos_menu {
	margin: 20px 20px 0 20px;
}

#misProgresos > div{
	cursor: pointer;	
}

#contenidoMisProgresos{
	width: 550px;
	height: 470px;
	background-color:#FFFFFF;
	padding:15px 30px;
	-moz-box-shadow:0px 7px 15px 0px #999;
	-webkit-box-shadow:0px 7px 15px #999;
	box-shadow:0px 7px 15px 0px #999;
	overflow:auto;
	border:1px solid #d5d5d5;
	overflow: auto;
}

#misProgresos .redondearBorde{
	width: 90px;
	padding: 0 5px;
}

.tabla{
}

.tablaPrgoresos{
	color:#FFF;
	background-color:#444;
	/*
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	*/
	padding:10px 2px;
	overflow:hidden;
	font-size:0.9em;
}

.fila{	
	border-right: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-bottom: 1px solid #CCC;	
	overflow: hidden;
	padding: 5px 0;
}

.fila1{
	float:left;
	margin:0 3px;
	width: 55%;
}

.fila2{
	float:right;
	width:31%;
	margin:0 3px;
	text-align: center;
}

.fila3{
	float:right;
	width:10%;
	margin:0 3px;
	text-align: center;
}

.filaExtra1{
	width: 67%;	
	float:left;
}

.filaExtra2{
	float: right;
	margin-right: 5px;
	width: 10%;	
}

#graficoNotaMedia{
	width: 200px;
	margin:0 auto;
}

#graficaProgresos{
	float: left;
	width:50%;
}

.imgDegradadoNota{
	width:550px;
	margin:0 auto;
}

.groupIndicadorNotaMedia{
	width:550px;
	margin:0 auto;
}

#indicadorNotaMedia{
	width: 53px;
	text-align: center;
}

#indicadorNotaMedia p{
	font-size:0.8em;
	width:60px;
}

.verticalNotes{
	float:left;
	font-size:0.8em;
	margin-right: 5px;
}

.verticalNotes p{
	margin-bottom: 3px;
}

.horizontalNotes{
	margin-left: 30px;
	margin-top: -5px;
}

.barraNote{
	width: 30px;
	height: 150px;
}

.barraNoteActive{
	width: 30px;
	background-color: #fff;
}

.notaLeyenda{
	font-size:0.9em;
	float:left;
	width: 30px;
	text-align: center;
	margin-bottom: 5px;
}

.notaLeyenda2{
	font-size:0.9em;
	float:left;
	width: 15px;
	text-align: center;
	margin-bottom: 5px;
}

.colorLeyenda10{
	background-color:#001cbe;
	width: 30px;
	height: 5px;
	float:left		
}
.colorLeyenda9{
	background-color:#005dfe;
	width: 30px;
	height: 5px;	
	float:left
}
.colorLeyenda8{
	background-color:#00b0fd;
	width: 30px;
	height: 5px;
	float:left
}
.colorLeyenda7{
	background-color:#00fcfc;
	width: 30px;
	height: 5px;	
	float:left
}
.colorLeyenda6{
	background-color:#22ff11;
	width: 30px;
	height: 5px;	
	float:left
}
.colorLeyenda5{
	background-color:#fff600;
	width: 30px;
	height: 5px;
	float:left	
}
.colorLeyenda4{
	background-color:#ffc200;
	width: 30px;
	height: 5px;	
	float:left
}
.colorLeyenda3{
	background-color:#ff9966;
	width: 30px;
	height: 5px;
	float:left
}
.colorLeyenda2{
	background-color:#ff6600;
	width: 30px;
	height: 5px;
	float:left
}
.colorLeyenda01{
	background-color:#ff0000;
	width: 30px;
	height: 5px;
	float:left
}  

.leyenda{
	width: 300px;
	margin:0 auto;
}

#mis_progresos #tab6 .tabla .filaTabla{
	background-color:#444;
	color: #FFF;
}