#tareas_pendientes {
	padding: 20px 20px 10px 20px;
}

.tareas_pendientes_bloque h2 {
	font-size: 1.1em;
	text-align: center;
	padding: 5px;
	color: #999;
	margin: 0;
}
.tareas_pendientes_bloque_content {
	margin-bottom: 20px;
	padding: 5px;
	line-height:20px;
}

.avisoTareasPendientes{
	border: 1px solid #999;
    border-radius: 5px 5px 5px 5px;
    padding: 3px 5px;
    
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#FFFFFF');
	background: -webkit-linear-gradient(#FFFFFF, #EEEEEE);
  	background: -moz-linear-gradient(#FFFFFF, #EEEEEE);
  	background: -o-linear-gradient(#FFFFFF, #EEEEEE);
	
    margin-bottom:5px;
    
    font-style: italic;
}

.avisoTareasPendientes img{
	vertical-align:middle;
	border-right:1px solid #CCC;
	margin-right:5px;padding-right:10px;	
}


.naviso{
	background-color: #999;
	border:1px soliid #999;
	padding:0 7px;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
	font-size:0.8em;
}