#biblioteca_nueva_aportacion, #biblioteca_busqueda {
	padding: 20px;
}
#biblioteca_nueva_aportacion_menu {
	margin-bottom: 10px;
}

#frm_biblioteca_buscar label {
	width: 20%;
}

#frm_biblioteca_buscar input[type="text"], #frm_biblioteca_buscar select {
	width: 60%;
	float: right;
}

/* ---------- */

#biblioteca_nueva_aportacion form {
	font-size: 0.9em;
	color: #444;
}
#biblioteca_nueva_aportacion label {
	width: 20%;
	float: left;
}
#biblioteca_nueva_aportacion input, #biblioteca_nueva_aportacion select {
	float: right;
	width: 75%;
}
#biblioteca_nueva_aportacion input[type="file"] {
	float: right;
	width: auto;
}

.frm_biblioteca_nueva_aportacion_label_no_format {
	float: none;
	width: auto !important;
	margin-bottom: 3px;
}
#frm_biblioteca_nueva_aportacion textarea {
	height: 40px;
	width: 98% !important;
	float: none !important;
}

#frm_biblioteca_nueva_aportacion_tab_fichero_tags, #frm_biblioteca_nueva_aportacion_tab_referencia_tags,
#frm_biblioteca_nueva_aportacion_tab_url_tags, #frm_biblioteca_nueva_aportacion_tab_definicion_tags {
	width: 98% !important;
	float: none !important;
}

/* ----------- */

.bibliotecaElemento {
	/*border-radius: 0 !important;*/
	/*border: 0 !important;*/
	/*border-bottom: 1px solid #CFCFCF !important;*/
}
.bibliotecaElementoTitulo {
	font-weight: bold;
	margin-bottom: 5px;
}
.bibliotecaElementoDescripcion {
	color: #444;
	font-size: 0.9em;
	margin-bottom: 5px;
}
.bibliotecaElementoFichero {
	font-size: 0.9em;
	margin: 5px 0;
	font-weight: bold;
	text-decoration: underline;
}
.bibliotecaElementoEtiqueta {
	color: #444;
	font-size: 0.9em;
	margin-bottom: 5px;
}

.bibliotecaMenu li {
	float: left;
	display: inline-block;
	margin-right: 5px;
}

.bibliotecaTipo {
	margin-left: 5px;
}
.bibliotecaTipo2 {
	font-size: 0.9em;
}