#enlacesInteres .tituloMenuEnlaceInteres {
	color: #686868;
	border-bottom: 2px solid #69C6B3;
	overflow: hidden;
	padding:0 5px;
}

#enlacesInteres .subtitleModulo {
	margin:0;
	color: #686868;
}

.nombreModulo{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#FFFFFF');
	background: -webkit-linear-gradient(#FFFFFF, #EEEEEE);
  	background: -moz-linear-gradient(#FFFFFF, #EEEEEE);
  	background: -o-linear-gradient(#FFFFFF, #EEEEEE);
	color:#555;
	font-weight:bold;
	font-style:italic;
	
	border:1px solid #CCC;
	
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	padding:10px;
}

.archivosModulo{
	/*
	border-right: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	
	margin:-10px 0 15px 0;
	padding:5px 10px;
	*/
}

.library{
	min-height:556px;
	background-image: url("imagenes/archivador/library.png");
}

.menuVista{
	/*margin-bottom:10px;*/
}

.menuVista2{
	margin:0 10px 0 0;
}

menuVista2 img{
	vertical-align: middle;	
}

/*
.vista1{
	margin:10px 0;
	padding:7px 5px 3px 7px;	
	background-color:#EFEFEF;
	border-top:1px solid #9F9F9F;
	border-left:1px solid #9F9F9F;
	border-bottom:1px solid #9F9F9F;
	border-right:1px solid #9F9F9F;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
}

.vista2{
	margin:10px 0;
	padding:7px 7px 3px 5px;
	background-color: #CCCCCC;
	border-top:1px solid #9F9F9F;
	border-right:1px solid #9F9F9F;
	border-bottom:1px solid #9F9F9F;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
}

.vista3{
	margin:10px 0;
	padding:7px 5px 3px 7px;
	background-color:#CCCCCC;
	border-top:1px solid #9F9F9F;
	border-left:1px solid #9F9F9F;
	border-bottom:1px solid #9F9F9F;
	border-right:1px solid #9F9F9F;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
}

.vista4{
	margin:10px 0;
	padding:7px 7px 3px 5px;
	background-color:#EFEFEF;
	border-top:1px solid #9F9F9F;
	border-right:1px solid #9F9F9F;
	border-bottom:1px solid #9F9F9F;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
}
*/

.vistaActiva{
	background-color: #EFEFEF;	
}

.book{
background-color: #FFFFFF;
width: 90px;
height: 118px;
border: 1px solid #CCC;
margin: 10px 0 9px 40px;
/*padding-top: 30px;*/
float: left !important;
}

.book:hover{
	background-color: #EFEFEF;
}

.book a{
	display: block;
	width: 90%;
	height: 100%;
}

.book a:hover{
	text-decoration:none;
}


.book2{
	background-color: #FFFFFF;
	width: 118px;
	height: 90px;
	border: 1px solid #CCC;
	margin: 40px 0 4px 40px;
	/*padding-top: 30px;*/
	float: left !important;
}

.book2:hover{
	background-color: #EFEFEF;
}

.book2 a{
	display: block;
	width: 90%;
	height: 100%;
}

.book2 a:hover{
	text-decoration:none;
}

/* TOOLTIP INFORMACION DE ARCHIVADOR */
a.Ntooltip {
position: relative; /* es la posición normal */
text-decoration: none !important; /* forzar sin subrayado */
font-size:9px;
text-align:center;
}

a.Ntooltip:hover {
z-index:999; /* va a estar por encima de todo */
background-color:#EFEFEF; /* DEBE haber un color de fondo */
}

a.Ntooltip span {
font-size:10px;
display: none; /* el elemento va a estar oculto */
border-radius:5px;
}

a.Ntooltip:hover span {
display: block; /* se fuerza a mostrar el bloque */
position: absolute; /* se fuerza a que se ubique en un lugar de la pantalla */
top:80px; left:-35px; /* donde va a estar */
padding:5px; /* la separación entre el contenido y los bordes */
background-color: #3F3F3F; /* el color de fondo por defecto */
color: #EEE; /* el color de los textos por defecto */
width: 150px;
/*
background-image: url("imagenes/archivador/triangle_tooltip.png");
background-repeat: no-repeat;
*/
}
/******************************************************************************************************/
/*bocadillo*/

.arrow_box {
	position: relative;
	background: #3F3F3F;
}
.arrow_box:after {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-bottom-color: #3F3F3F;
	border-width: 7px;
	left: 50%;
	margin-left: -7px;
}


/******************************************************************************************************/

.cabeceraLibrary{
	color:#4F4F4F;
	background-color:#EFEFEF;
	font-weight: bold;
	overflow:hidden;
	padding:10px 0;
	border-top:1px solid #CFCFCF;
}

.titleLibrary{
	float:left;
	margin:3px 0 0 5px;
	text-transform: uppercase;
	width:855;
}

.menuLibrary{
	float:left;
	min-height:556px;
	width:105px;
	background-color:#CC6633;
	background-image: url("imagenes/archivador/library3.png");
}

.estante{
	height: 99px;
	width: 105px;
	margin-top:50px;
	color:#4F4F4F;
	font-weight: bold;
	text-align: center;
}

.estante span{
	background-image: url(imagenes/archivador/library.png);
	border-radius:5px;
	color:#FFF;
	padding: 10px;
	font-size: 10px;
}

.topLibrary{
	height: 3px;
	background-image: url("imagenes/archivador/top-library.png");
}

/* CLASES PARA LAS PESTAÑAS*/
#menuContenidosCurso{
	width:80px;
	position:relative;
}

#menuContenidosCurso > div{
	cursor: pointer;
}

#contenidoCurso{
	height:450px;
	width:581px;
	background-color:#FFFFFF;
	padding:15px 30px;
	/*
	-webkit-box-shadow: 3px 3px 5px -3px #999;
	-moz-box-shadow: 3px 3px 5px -3px #999;
	box-shadow: 3px 3px 5px -3px #999;	
	*/
	
	-moz-box-shadow:0px 7px 15px 0px #999;
	-webkit-box-shadow:0px 7px 15px #999;
	box-shadow:0px 7px 15px 0px #999;
	
	overflow:auto;
	border: 1px solid #D5D5D5;
}

.optionEnlaces img{
	vertical-align: middle; 
	margin:0 3px;
}

.botonAdminEnlaceInteres{
	padding: 6px;
	background-color: #6F6F6F;
	color: white;
	border-radius: 5px;
	margin:0 3px 3px 3px;
}

#frmNuevoEnlaceInteres .filafrm .campofrm #cke_frmNuevoEnlaceInteresTextarea{
	border: 0;
}