#anuncios .subtitleModulo {
	color: #686868;
	margin-bottom: 15px;
	padding-bottom: 5px;
	border-bottom: 2px solid #69C6B3;
}
#anuncios .menu_interno {
	margin-bottom: 0;
    text-align: left;
	float: right;
}
#anuncios .elemento_menuinterno {
	background: #cfcfcf;
	border: 1px solid #999;
	border-radius: 3px;
	padding: 5px 10px;
	margin: 0 5px 0 0;
}
#anuncios .elemento_menuinterno a {
	color: #444;
}

#frmTablonAnuncioHallNuevo div.upload {
	left: 0 !important;
}

#frmTablonAnuncioHallEditarFile {
	float: right;
}
#frmTablonAnuncioHallEditarFile li {
	float: left;
	margin-left: 10px;
}

.listarElementos {
	/*border-top: 1px solid #CFCFCF;*/
	/*margin: 10px -20px 0 -20px;*/
}

.elemento {
	padding: 10px 20px;
	border-bottom: 1px dashed #A0A0A0;
}
div.elemento:hover {
	/*background: #E5F4F8;*/
}
div.elemento:hover .hide {
	display: block;
}

.elemento h2, .elementoTitulo {
	font-size: 1.2em;
	margin-bottom: 5px;
	font-weight:bold;
}
.elementoTitulo a {
	margin: -10px -20px;
	padding: 10px 20px;
	display: block;
	font-weight: bold;
}
.elementoTitulo a:hover {
	text-decoration: none;
}

.elementoContenido p {
	line-height: 16px;
}

.elementoPie {
	margin-top: 5px;
}
.elementoPie .elementoFecha, .elementoPie .elementoNombre, .elementoPie .elementoNombre a, .elementoPie .elementoNombre a:hover {
	color: #999;
	float:left;
}


.elementoPieButtons li {
	float: left;
	margin-left: 10px;
}
.elementoPieButtons li a {
	display: block;
}
.elementoPieButtons a:hover {
	text-decoration: none;
}
.elementoPieButtons a:hover span {
	text-decoration: underline;
}

.elementosNoEncontrados {
	text-align: center;
	font-size: 1.1em;
	padding: 10px 0;
	border-bottom: 1px solid #CFCFCF;
}

.elementoListOptions li {
	float: left;
	diaplay: inline-block;
	margin-left: 5px;
}


/* */
.elementoNombre {
	color:  #5D5D5D;
}

.campofrm{width:75%;}