#solicitudes .tab {
	width: 900px;
}

.solicitudes_datos {
	width: 450px;
}
.solicitudes_datos li {
	line-height: 20px;
}
.solicitudes_datos .fleft {
	width: 150px;
}
.solicitudes_datos .fright {
	width: 300px;
}

#frmServiciosConv label {
	float: left;
	width: 150px;
}
#frmServiciosConv select {
	float: left;
}

#frmServiciosCurso label {
	float: left;
	width: 150px;
}
#frmServiciosCurso select {
	float: left;
}

#serviciosTutores label {
	float: left;
	width: 150px;
}
#serviciosTutores select {
	float: left;
}