#chat_tutoria, .chat_tutoria_privado {
	padding: 20px;
}
#chat_tutoria_mensajes .elemento > strong {
	font-size: 0.8em;
}
#chat_tutoria_mensajes {
	height: 250px;
	overflow: hidden;
	overflow-y: scroll;
	border: 1px solid #CFCFCF;
	padding: 0 10px;
	margin-bottom: 10px;
}
#chat_tutoria_mensajes .elemento {
	margin: 0 -10px;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-radius: 0;
}

.chat_tutoria_privado .chat_tutoria_privado_mensajes {
	width: 95%;
	height: 260px;
	background: #fff;
	z-index: 2;
	position: relative;
}

#chat_tutoria_mensajes_contenedor {
	width: 70%;
	float: left;
	position: relative;
	z-index: 2;
	background: #fff;
}
#chat_tutoria_usuarios_contenedor {
	width: 30%;
	float: right;
}

#chat_tutoria_usuarios, .chat_tutoria_privado_mensajes {
	height: 230px;
	overflow: hidden;
	overflow-y: auto;
	border: 1px solid #CFCFCF;
	border-left: 0;
	padding: 10px;
	font-size: 0.8em;
}
.chat_tutoria_privado_mensajes {
	width: 100% !important;
	padding: 0 !important;
	margin-bottom: 10px;
}
.chat_tutoria_privado_mensajes .elemento {
	border-top: 0 !important;
	border-right: 0 !important;
	border-left: 0 !important;
	border-radius: 0 !important;
}

#chat_tutoria_usuarios h2 {
	color: #99;
	border-bottom: 1px dashed #999;
}
#chat_tutoria_usuarios h3 {
	color: #999;
	font-size: 0.90em;
}
#chat_tutoria_usuarios a:hover {
	text-decoration: none;
}
#chat_tutoria_usuarios a:hover span {
	text-decoration: underline;
}

#frm_tutoria_chat .fleft {
	width: 90%;
}
#frm_tutoria_chat .fright {
	width: 8.5%;
}
#frm_tutoria_chat li {
	margin-bottom: 0;
}

#chat_horario {
	margin-top: 10px;
}

.chat_to_privado {
	position: relative;
}
.chat_to_privado > div {
	border-radius: 50%;
	padding: 7px;
	background: #CFCFCF;
	border: 1px solid #999;
	position: absolute;
	right: 0;
}

#frm_tutoria_chat_emoticons li {
	display: inline-block;
	float: left;
	margin-right: 5px;
}

.chat_tutoria_disabled {
	background: #999;
	filter: alpha(opacity=50);
	opacity: .1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
}
.chat_tutoria_disabled_content {
	position: absolute;
	z-index: 3;
    text-align: center;
	bottom: 50px;
	left: 0;
	right: 0;
	width: 160px;
	margin: 0 auto;
	background: #999;
	border: 1px solid #444;
	padding: 10px 20px;
	border-radius: 10px;
	color: #444;
}
.chat_tutoria_disabled_content a {
	color: #444;
}

.chat_tutoria_privado button {
	width: 100%;
}