#usuarios_conectados {
	padding: 20px;
}

#usuarios_conectados h2 {
	font-size: 1.1em;
	text-align: center;
	padding: 5px;
	border: 1px solid #999;
	color: #999;
}

#usuarios_conectados ul {
/*	max-height: 200px;
	overflow: auto;*/
}
#usuarios_conectados ul small {
	color:gray;
}
#usuarios_conectados li {
	margin-bottom: 5px;
}

#usuarios_conectados li a:hover {
	text-decoration: none;
}
#usuarios_conectados li img {
	margin-right: 6px;
	position:relative;
	top:-2px;
}
#usuarios_conectados li a:hover span {
	text-decoration: underline;
}

.NumeroConectados{
	color:#FFFFFF;
	border: 2px solid #FFFFFF;
	background-color: #E11F17;
	border-radius:10px;
	padding: 1px 5px;
	font-weight: bold;
	position: relative;
	top:-41px;
	left: 25px;
	font-size: 0.8em;
}	

.userDisable{
	color:#888888;
}

#usuarios_conectados .empty-chat{
	color:gray;
	padding-left:15px;
}