/*************************** HEADER ***************************/

/* Header Background color */
.l-header,
.l-subheader .w-nav-item.level_2:hover .w-nav-anchor.level_2,
.l-subheader .w-nav-item.level_2.active:hover .w-nav-anchor.level_2,
.l-subheader .w-nav-item.level_2.current-menu-item:hover .w-nav-anchor.level_2,
.l-subheader .w-nav-item.level_2.current-menu-ancestor:hover .w-nav-anchor.level_2,
.l-subheader .w-nav-item.level_3:hover .w-nav-anchor.level_3,
.l-subheader .w-nav-item.level_3.active:hover .w-nav-anchor.level_3,
.l-subheader .w-nav-item.level_3.current-menu-item:hover .w-nav-anchor.level_3,
.l-subheader .w-nav-item.level_3.current-menu-ancestor:hover .w-nav-anchor.level_3,
.l-subheader .w-nav.touch_enabled .w-nav-list.level_1 {
	background-color: #fff;
	}

/* Header Alternate Background Color */
.l-subheader .w-nav-item.level_1 .w-nav-anchor.level_1:before,
.l-subheader .w-nav-list.level_2,
.l-subheader .w-nav-list.level_3 {
	background-color: #f5f5f5;
	}
	
/* Border Color */
.l-subheader .w-nav.touch_enabled .w-nav-anchor {
	border-color: #e8e8e8;
	}
	
/* Navigation Color */
.w-logo-title,
.l-subheader .w-nav-control,
.l-subheader .w-nav-anchor.level_1,
.l-subheader .w-nav-list.level_2 .w-nav-anchor,
.l-header .w-socials-item-link {
	color: #666;
	}
	
/* Navigation Hover Color */
.w-logo-link:hover .w-logo-title,
.l-subheader .w-nav-control:hover,
.l-subheader .w-nav-control:active,
.l-subheader .w-nav-item.level_1:hover .w-nav-anchor.level_1,
.l-subheader .w-nav-item.level_2:hover .w-nav-anchor.level_2,
.l-subheader .w-nav-item.level_3:hover .w-nav-anchor.level_3 {
	color: #ff5842;
	}
	
/* Navigation Active Color */
.l-subheader .w-nav-item.level_1.active .w-nav-anchor.level_1,
.l-subheader .w-nav-item.level_1.current-menu-item .w-nav-anchor.level_1,
.l-subheader .w-nav-item.level_1.current-menu-ancestor .w-nav-anchor.level_1,
.l-subheader .w-nav-item.level_2.active .w-nav-anchor.level_2,
.l-subheader .w-nav-item.level_2.current-menu-item .w-nav-anchor.level_2,
.l-subheader .w-nav-item.level_2.current-menu-ancestor .w-nav-anchor.level_2,
.l-subheader .w-nav-item.level_3.active .w-nav-anchor.level_3,
.l-subheader .w-nav-item.level_3.current-menu-item .w-nav-anchor.level_3,
.l-subheader .w-nav-item.level_3.current-menu-ancestor .w-nav-anchor.level_3 {
	color: #ff5842;
	}



/*************************** MAIN CONTENT ***************************/

/* Background Color */
.l-section,
.l-preloader,
.color_primary .g-btn.type_primary,
.w-blog.imgpos_atleft .w-blog-entry-meta-date,
.w-clients-itemgroup,
.w-clients-nav,
.w-tabs-item.active,
#supersized li,
#prevslide,
#nextslide,
.flex-direction-nav span {
	background-color: #fff;
	}
.w-icon.color_border.with_circle .w-icon-link,
.w-pricing-item-title {
	color: #fff;
	}
.w-portfolio-item-anchor:after {
	border-bottom-color: #fff;
	}
	
/* Alternate Background Color */
.l-preloader-bar,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="date"],
textarea,
select,
.g-pagination-item,
.w-actionbox,
.no-touch .w-blog.imgpos_atleft .w-blog-entry:hover,
.w-comments-item-icon,
.l-main .w-contacts-item > i,
.w-icon.with_circle .w-icon-link,
.w-portfolio-item-details-close:hover,
.w-portfolio-item-details-arrow:hover,
.w-tabs-list,
.w-tabs.layout_accordion .w-tabs-section-title:hover,
.w-tags.layout_block .w-tags-item-link,
.w-testimonial-text {
	background-color: #f2f2f2;
	}
.w-testimonial-person:after {
	border-top-color: #f2f2f2;
	}

/* Border Color */
.w-blog.imgpos_atleft .w-blog-list,
.w-blog.imgpos_atleft .w-blog-entry,
.w-blog-entry.sticky,
.w-comments,
.w-nav-list.layout_ver .w-nav-anchor,
.w-pricing-item-h,
.w-portfolio-item-meta,
.w-shortblog-entry-meta-date,
.w-tabs.layout_accordion,
.w-tabs.layout_accordion .w-tabs-section,
#wp-calendar thead th,
#wp-calendar tbody td,
#wp-calendar tfoot td,
.widget.widget_nav_menu .menu-item a,
.widget.widget_nav_menu .menu-item a:hover {
	border-color: #e8e8e8;
	}
.g-hr-h:before,
.g-hr-h:after,
.g-btn.type_default,
.w-icon.color_border.with_circle .w-icon-link {
	background-color: #e8e8e8;
	}
.g-hr-h i,
.page-404 i,
.w-icon.color_border .w-icon-link {
	color: #e8e8e8;
	}

/* Text Color */
.l-section,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="date"],
textarea,
select,
.color_primary .g-btn.type_primary,
.l-preloader-counter,
.g-pagination-item,
.g-btn.type_default,
.w-blog.imgpos_atleft .w-blog-entry-meta-date,
.w-clients-nav,
.l-subsection.color_primary .w-clients-nav,
.l-subsection.color_primary .w-clients-nav:hover,
.l-subsection.color_dark .w-clients-nav:hover,
.l-main .w-contacts-item > i,
.w-icon-link,
.w-iconbox .w-iconbox-title,
#prevslide,
#nextslide,
.flex-direction-nav span,
#wp-calendar tbody td#today,
.widget.widget_nav_menu .menu-item.current-menu-item > a,
.widget.widget_nav_menu .menu-item.current-menu-ancestor > a {
	color: #333;
	}
.w-pricing-item-title {
	background-color: #333;
	}

/* Primary Color */
a,
.home-heading-line.type_primary,
.g-html .highlight,
.w-counter-number,
.w-icon.color_primary .w-icon-link,
.w-iconbox-icon,
.l-subsection.color_dark .w-icon-link:hover,
.w-iconbox.with_circle .w-iconbox-link:hover .w-iconbox-title,
.w-nav-list.layout_ver .w-nav-anchor:hover,
.w-nav-list.layout_ver .active .w-nav-anchor.level_1,
.w-tabs-item.active,
.w-tabs.layout_accordion .w-tabs-section.active .w-tabs-section-title,
.w-team-member-name,
.w-testimonial-person-name {
	color: #ff5842;
	}
.l-subsection.color_primary,
.home-heading-line.type_primary_bg,
.g-btn.type_primary,
input[type="submit"],
.no-touch .g-btn.type_secondary:after,
.g-pagination-item.active,
.w-actionbox.color_primary,
.w-icon.color_primary.with_circle .w-icon-link,
.w-iconbox.with_circle .w-iconbox-link:hover .w-iconbox-icon,
.w-pricing-item.type_featured .w-pricing-item-title,
.no-touch .w-team-member-links .w-team-member-links-item:hover {
	background-color: #ff5842;
	}
.g-html blockquote,
.w-clients.columns_5 .w-clients-item:hover,
.w-tabs-item.active {
	border-color: #ff5842 #ff5842 #ff5842 #FF5842;
	}
.no-touch .w-iconbox.with_circle .w-iconbox-icon:after {
	box-shadow: 0 0 0 3px #ff5842;
	}

/* Secondary Color */
a:hover,
a:active,
.home-heading-line.type_secondary,
.w-icon.color_secondary .w-icon-link,
.w-iconbox-link:hover .w-iconbox-icon,
.w-iconbox-link:hover .w-iconbox-title,
.w-tags-item-link:hover,
.widget.widget_nav_menu .menu-item a:hover:before,
.widget.widget_tag_cloud .tagcloud a:hover {
	color: #555;
	}
.home-heading-line.type_secondary_bg,
.no-touch .g-btn.type_default:after,
.no-touch .g-btn.type_primary:after,
.no-touch input[type="submit"]:hover,
.g-btn.type_secondary,
.g-pagination-item:hover,
.w-icon.color_secondary.with_circle .w-icon-link,
.w-iconbox.with_circle .w-iconbox-icon,
.w-tags.layout_block .w-tags-item-link:hover {
	background-color: #555;
	}
	
/* Fade Elements Color */
.w-bloglist-entry:before,
.w-blogpost-meta i,
.w-blogpost-meta,
.w-comments-title i,
.w-comments-item-icon,
.w-comments-item-date,
.w-icon.color_fade .w-icon-link,
.w-links-anchor:before,
.w-socials-item-link,
.w-testimonial-person,
#wp-calendar thead th,
#wp-calendar tbody td,
.widget.widget_archive ul li:before,
.widget.widget_categories ul li:before,
.widget.widget_nav_menu .menu-item a:before,
.widget.widget_recent_entries ul li:before,
.widget.widget_rss ul li span,
.widget.widget_rss ul li cite,
.widget.widget_tag_cloud .tagcloud a {
	color: #999;
	}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
textarea:focus,
select:focus {
	box-shadow: 0 0 0 2px #999;
	}

	
	
/*************************** ALTERNATE CONTENT ***************************/

/* Background Color */
.l-subsection.color_alternate,
.color_alternate .color_primary .g-btn.type_primary,
.color_alternate .w-blog.imgpos_atleft .w-blog-entry-meta-date,
.color_alternate .w-clients-itemgroup,
.color_alternate .w-clients-nav,
.color_alternate .w-tabs-item.active {
	background-color: #fae6cd;
	}
.color_alternate .w-pricing-item-title,
.color_alternate .w-icon.color_border.with_circle .w-icon-link {
	color: #fae6cd;
	}
.color_alternate .w-portfolio-item-anchor:after {
	border-bottom-color: #fae6cd;
	}

/* Alternate Background Color */
.color_alternate .g-btn.type_default,
.color_alternate input[type="text"],
.color_alternate input[type="password"],
.color_alternate input[type="email"],
.color_alternate input[type="url"],
.color_alternate input[type="tel"],
.color_alternate input[type="number"],
.color_alternate input[type="date"],
.color_alternate textarea,
.color_alternate select,
.color_alternate .g-pagination-item,
.color_alternate .w-actionbox,
.no-touch .color_alternate .w-blog.imgpos_atleft .w-blog-entry:hover,
.color_alternate .w-comments-item-icon,
.color_alternate .w-contacts-item > i,
.color_alternate .w-icon.with_circle .w-icon-link,
.color_alternate .w-portfolio-item-details-close:hover,
.color_alternate .w-portfolio-item-details-arrow:hover,
.color_alternate .w-tabs-list,
.color_alternate .w-tabs.layout_accordion .w-tabs-section-title:hover,
.color_alternate .w-tags.layout_block .w-tags-item-link,
.color_alternate .w-testimonial-text {
	background-color: #fff;
	}
.color_alternate .w-testimonial-person:after {
	border-top-color: #fff;
	}

/* Border Color */
.color_alternate .w-blog.imgpos_atleft .w-blog-list,
.color_alternate .w-blog.imgpos_atleft .w-blog-entry,
.color_alternate .w-blog-entry.sticky,
.color_alternate .w-comments,
.color_alternate .w-nav-list.layout_ver .w-nav-anchor,
.color_alternate .w-pricing-item-h,
.color_alternate .w-portfolio-item-meta,
.color_alternate .w-shortblog-entry-meta-date,
.color_alternate .w-tabs.layout_accordion,
.color_alternate .w-tabs.layout_accordion .w-tabs-section,
.color_alternate #wp-calendar thead th,
.color_alternate #wp-calendar tbody td,
.color_alternate #wp-calendar tfoot td,
.color_alternate .widget.widget_nav_menu .menu-item a,
.color_alternate .widget.widget_nav_menu .menu-item a:hover {
	border-color: #dec7ab;
	}
.color_alternate .g-hr-h:before,
.color_alternate .g-hr-h:after,
.color_alternate .g-btn.type_default,
.color_alternate .w-icon.color_border.with_circle .w-icon-link {
	background-color: #dec7ab;
	}
.color_alternate .g-hr-h i,
.color_alternate .page-404 i,
.color_alternate .w-icon.color_border .w-icon-link {
	color: #dec7ab;
	}

/* Text Color */
.color_alternate,
.color_alternate input[type="text"],
.color_alternate input[type="password"],
.color_alternate input[type="email"],
.color_alternate input[type="url"],
.color_alternate input[type="tel"],
.color_alternate input[type="number"],
.color_alternate input[type="date"],
.color_alternate textarea,
.color_alternate select,
.color_alternate .g-pagination-item,
.color_alternate .g-btn.type_default,
.color_alternate .w-blog.imgpos_atleft .w-blog-entry-meta-date,
.color_alternate .w-clients-nav,
.color_alternate .w-contacts-item > i,
.color_alternate .w-icon-link,
.color_alternate .w-iconbox .w-iconbox-title,
.color_alternate  #wp-calendar tbody td#today,
.color_alternate .widget.widget_nav_menu .menu-item.current-menu-item > a,
.color_alternate .widget.widget_nav_menu .menu-item.current-menu-ancestor > a {
	color: #333;
	}
.color_alternate .w-pricing-item-title {
	background-color: #333;
	}

/* Primary Color */
.color_alternate a,
.color_alternate .home-heading-line.type_primary,
.color_alternate .g-html .highlight,
.color_alternate .w-counter-number,
.color_alternate .w-icon.color_primary .w-icon-link,
.color_alternate .w-iconbox-icon,
.color_alternate .w-iconbox.with_circle .w-iconbox-link:hover .w-iconbox-title,
.color_alternate .w-nav-list.layout_ver .w-nav-anchor:hover,
.color_alternate .w-nav-list.layout_ver .active .w-nav-anchor.level_1,
.color_alternate .w-tabs-item.active,
.color_alternate .w-tabs.layout_accordion .w-tabs-section.active .w-tabs-section-title,
.color_alternate .w-team-member-name,
.color_alternate .w-testimonial-person-name {
	color: #ff5842;
	}
.color_alternate .home-heading-line.type_primary_bg,
.color_alternate .g-btn.type_primary,
.color_alternate input[type="submit"],
.no-touch .color_alternate .g-btn.type_secondary:after,
.color_alternate .g-pagination-item.active,
.color_alternate .w-actionbox.color_primary,
.color_alternate .w-icon.color_primary.with_circle .w-icon-link,
.color_alternate .w-iconbox.with_circle:hover .w-iconbox-icon,
.color_alternate .w-pricing-item.type_featured .w-pricing-item-title,
.no-touch .color_alternate .w-team-member-links .w-team-member-links-item:hover {
	background-color: #ff5842;
	}
.color_alternate .g-html blockquote,
.color_alternate .w-clients.columns_5 .w-clients-item:hover,
.color_alternate .w-tabs-item.active {
	border-color: #ff5842;
	}
.no-touch .color_alternate .w-iconbox.with_circle .w-iconbox-icon:after {
	box-shadow: 0 0 0 3px #ff5842;
	}

/* Secondary Color */
.color_alternate a:hover,
.color_alternate a:active,
.color_alternate .home-heading-line.type_secondary,
.color_alternate .w-icon.color_secondary .w-icon-link,
.color_alternate .w-tags-item-link:hover,
.color_alternate .widget.widget_nav_menu .menu-item a:hover:before,
.color_alternate .widget.widget_tag_cloud .tagcloud a:hover {
	color: #444;
	}
.color_alternate .home-heading-line.type_secondary_bg,
.no-touch .color_alternate .g-btn.type_default:after,
.no-touch .color_alternate .g-btn.type_primary:after,
.no-touch .color_alternate input[type="submit"]:hover,
.color_alternate .g-btn.type_secondary,
.color_alternate .g-pagination-item:hover,
.color_alternate .w-icon.color_secondary.with_circle .w-icon-link,
.color_alternate .w-iconbox.with_circle .w-iconbox-icon,
.color_alternate .w-tags.layout_block .w-tags-item-link:hover {
	background-color: #444;
	}
	
/* Fade Elements Color */
.color_alternate .w-bloglist-entry:before,
.color_alternate .w-blogpost-meta i,
.color_alternate .w-blogpost-meta,
.color_alternate .w-comments-title i,
.color_alternate .w-comments-item-icon,
.color_alternate .w-comments-item-date,
.color_alternate .w-icon.color_fade .w-icon-link,
.color_alternate .w-links-anchor:before,
.color_alternate .w-socials-item-link,
.color_alternate .w-testimonial-person,
.color_alternate #wp-calendar thead th,
.color_alternate #wp-calendar tbody td,
.color_alternate .widget.widget_archive ul li:before,
.color_alternate .widget.widget_categories ul li:before,
.color_alternate .widget.widget_nav_menu .menu-item a:before,
.color_alternate .widget.widget_recent_entries ul li:before,
.color_alternate .widget.widget_rss ul li span,
.color_alternate .widget.widget_rss ul li cite,
.color_alternate .widget.widget_tag_cloud .tagcloud a {
	color: #9e8f7e;
	}
.color_alternate input[type="text"]:focus,
.color_alternate input[type="password"]:focus,
.color_alternate input[type="email"]:focus,
.color_alternate input[type="url"]:focus,
.color_alternate input[type="tel"]:focus,
.color_alternate input[type="number"]:focus,
.color_alternate input[type="date"]:focus,
.color_alternate textarea:focus,
.color_alternate select:focus {
	box-shadow: 0 0 0 2px #9e8f7e;
	}
	

	
/*************************** FOOTER ***************************/

/* Background Color */
.l-footer {
	background-color: #333;
	}

/* Border Color */
.l-subfooter.at_top,
.l-footer #wp-calendar thead th,
.l-footer #wp-calendar tbody td,
.l-footer #wp-calendar tfoot td,
.l-footer .widget.widget_nav_menu .menu-item a,
.l-footer .widget.widget_nav_menu .menu-item a:hover {
	border-color: #444;
	}
.l-footer input[type="text"],
.l-footer input[type="password"],
.l-footer input[type="email"],
.l-footer input[type="url"],
.l-footer input[type="tel"],
.l-footer input[type="number"],
.l-footer input[type="date"],
.l-footer textarea,
.l-footer select {
	background-color: #444;
	}

/* Text Color */
.l-footer,
.l-footer .w-socials-item-link,
.l-footer #wp-calendar thead th,
.l-footer #wp-calendar tbody td,
.l-footer #wp-calendar tbody td#today,
.l-footer .widget.widget_archive ul li:before,
.l-footer .widget.widget_categories ul li:before,
.l-footer .widget.widget_nav_menu .menu-item a:before,
.l-footer .widget.widget_recent_entries ul li:before,
.l-footer .widget.widget_rss ul li span,
.l-footer .widget.widget_rss ul li cite,
.l-footer .widget.widget_tag_cloud .tagcloud a {
	color: #999;
	}
.l-footer input[type="text"]:focus,
.l-footer input[type="password"]:focus,
.l-footer input[type="email"]:focus,
.l-footer input[type="url"]:focus,
.l-footer input[type="tel"]:focus,
.l-footer input[type="number"]:focus,
.l-footer input[type="date"]:focus,
.l-footer textarea:focus,
.l-footer select:focus {
	box-shadow: 0 0 0 2px #999;
	}

/* Link Color */
.l-footer a,
.l-footer input[type="text"],
.l-footer input[type="password"],
.l-footer input[type="email"],
.l-footer input[type="url"],
.l-footer input[type="tel"],
.l-footer input[type="number"],
.l-footer input[type="date"],
.l-footer textarea,
.l-footer select {
	color: #ddd;
	}

/* Link Hover Color */
.l-footer a:hover,
.l-footer a:active,
.l-footer .w-tags-item-link:hover,
.l-footer .widget.widget_nav_menu .menu-item a:hover:before,
.l-footer .widget.widget_tag_cloud .tagcloud a:hover {
	color: #ff5842;
	}
