#datos_personales {
	padding: 20px 20px 0 20px
}

#datos_personales input[type="text"], #datos_personales input[type="password"] {
	width: 270px;
}

.burbuja {
	padding:10px;
	border: 1px solid #CECECE;
	-webkit-borderradius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#datos_personales div.upload {
position: relative;
min-height:25px;
min-width: 126px;
overflow:hidden;
background:url(imagenes/datos_personales/examinar.png) left top no-repeat;
clip:rect(0px, 126px, 24px, 60px );
left:0;
border:1px solid #CCC;
margin:5px 0;
}
 
#datos_personales div.upload input {
position: absolute;
left: -145px;
top: 0px;
margin:0;
padding:0;
filter: Alpha(Opacity=0);
-moz-opacity: 0;
opacity: 0;
cursos:pointer;
}
#datos_personales div.upload input:hover
{
	cursor: pointer;	
}

#frm_datos_personales_imagen {
	float: right;
}

.camposDatosPersonales{
	float: left;
	width: 370px;
}

#contenidoDatosPersonales{
	width: 550px;
	height: 405px;
	background-color:#FFFFFF;
	padding:15px 30px;
	-webkit-box-shadow: 3px 3px 5px -3px #999;
	-moz-box-shadow: 3px 3px 5px -3px #999;
	box-shadow: 3px 3px 5px -3px #999;
	overflow:auto;
	border:1px solid #d5d5d5;
	overflow: auto;
}

#navDatosPersonales{
	margin-top:0 20px;
	width: 90px;
	position: relative;
	padding-right: 2px;
}

#navDatosPersonales a{
	display: block;
	text-align: center;
	padding-bottom:10px;
	width: 100%;
	height: 100%;
}

#navDatosPersonales a span{
	font-size:0.8em;
	text-align:center;
	text-align: center;
}

.imgDatosPersonales{
	vertical-align:middle;
	width:40px;
	height:49px;
}