
.accesRapidoMenu{
	padding:10px;	
}

#fondoWebPublico {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}
#fondoWebPublico img {
	width: 100%;
	height: 100%;
}

#menuCurso {
	position: absolute;
	width: 100%;
	/*background: url('imagenes/menuCursoFondo.png') repeat-x;*/
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #000;
	padding: 0 1px;
	top: 0;
	background-color: #666;
	opacity: 0.8;
	min-width: 730px;
	z-index: 21;
}
#menuCurso > ul {
	position: relative;
	margin: 0 auto;
	height:100%;
}
#menuCurso > ul > li {
	display: inline-block;
	float: left;
	height:100%;
	/*font-weight: bold;*/
}
#menuCurso a {
	display: block;
	color: #fff;
	font-size: 1.2em;
	padding: 0 20px;
	font-size: 1em;
	height:100%;
}
@media (max-width: 1300px) {
	#menuCurso a {
		padding: 0 10px;
	}
}
#menuCurso a:hover {
	text-decoration: none;
	background: #fff;
	color: #000;
}
#menuCurso_conversaciones img{
	height: 100%;
}
#menuCurso_conversaciones span{
	height: 100%;
    display: inline-block;
    top: -15px;
    position: relative;
}

#menuCurso #menuCurso_home:hover {
	background: #fff url("imagenes/menu/menu_icon_home.png") no-repeat 5px center;
}
#menuCurso_home {
	font-weight: bold;
	background: #57AA57 url("imagenes/menu/menu_icon_home.png") no-repeat 5px center;
	padding-left: 40px !important;
	padding-right: 20px !important;
}

#menuCurso #menuCurso_conectados:hover {
	/*background: #fff url("imagenes/menu/menu_icon_users.png") no-repeat 5px center;*/
}
#menuCurso_conectados {
	/*background: url("imagenes/menu/menu_icon_users.png") no-repeat 5px center;*/
	padding-left: 50px !important;
}

#menuCurso #menuCurso_salir:hover {
	background: #fff url("imagenes/menu/menu_icon_exit.png") no-repeat 5px center;
}
#menuCurso_salir {
	background: url("imagenes/menu/menu_icon_exit.png") no-repeat 5px center;
	padding-left: 40px !important;
}

/* ----- */

#menuCurso > ul > li > ul {
	display: none;
}
#menuCurso > ul > li:hover ul {
	display: block;
}
#menuCurso > ul > li > ul {
	position: absolute;
	z-index: 2;
	background: #fff;
	border-bottom: 1px solid #5F5857;
	border-left: 1px solid #5F5857;
	border-right: 1px solid #5F5857;
	margin-left: -1px;
	top: 40px;
}
#menuCurso > ul > li > ul > li {
	font-weight: normal;
	height: 25px;
	line-height: 25px;
	white-space: nowrap;
}
#menuCurso > ul > li > ul a {
	color: #5F5857;
}
#menuCurso > ul > li > ul a:hover {
	background: #5F5857;
	color: #fff;
}

/*
#boton_chat_general {
	position: absolute;
	bottom: 0;
	right: 10px;
	background: #FFDC70;
	font-weight: bold;
	
	border-top: 2px solid #D46B00;
	border-left: 2px solid #D46B00;
	border-right: 2px solid #D46B00;
	
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

	-webkit-box-shadow: 0 0 5px #D46B00;  
    -moz-box-shadow: 0 0 5px #D46B00;  
    box-shadow: 0 0 5px #D46B00;
}
#boton_chat_general a {
	display: block;
	color: #D46B00;
	padding: 5px 10px;
}
#boton_chat_general a:hover {
	text-decoration: none;
	padding-bottom: 10px;
}
*/

/* BIBLIOTECA */

#biblioteca {
	background: url(imagenes/biblioteca_full.jpg);
	background-repeat: no-repeat;
	background-position: center center; 
	min-height: 100%;
	min-width: 980px;

	/* Set up proportionate scaling */
	width: 100%;
	height: auto;

	/* Set up positioning */
	position: fixed;
	top: 0;
	left: 0;

   	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}
#biblioteca_nuevo {
	top: 40%;
	left: 45%;
}

#biblioteca_buscar {
	top: 30%;
	left: 20%;
}
#biblioteca_admin {
	top: 20%;
	left: 70%;
}
#biblioteca_admin.titulo_tareas_pendientes {
	position: relative !important;
	left: auto !important;
}

/* CAFETERIA */

#cafeteria {
	background: url(imagenes/cafeteria_full.jpg);
	background-repeat: no-repeat;
	background-position: center center; 
	min-height: 100%;
	min-width: 980px;

	/* Set up proportionate scaling */
	width: 100%;
	height: auto;

	/* Set up positioning */
	position: fixed;
	top: 0;
	left: 0;

   	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}
#cafeteria_revista {
	top: 60%;
	left: 70%;
}
#cafeteria_chat {
	top: 50%;
	left: 55%;
}
#cafeteria_foro_opiniones {
	top: 45%;
	left: 25%;
}

/* ------- HALL ------ */

#hall_correo {
	top: 62%;
	left: 21%;
}
#hall_aula {
	top:47% ;
	left: 45%;
}

#hall_zona_tutor {
	top:47% ;
	left: 21%;
}

#hall_cafeteria {
	top: 60%;
	left: 75%;
}
#hall_biblioteca {
	top: 47%;
	left: 36%;
}
#hall_secretaria {
	top: 62%;
	left: 7%;
}

#hall_tablon_anuncios {
	top: 58%;
	left: 28%;
}

/* ----- */

.boton_menu_transparente {
	position: absolute;
	display: block;
}

.boton_menu {
	position: absolute;
	background: #fff;
	/*background: rgba(255, 255, 255, 0.8);*/
	padding: 5px 10px;
	font-weight: bold;
	color: #000;
	border: 1px solid #000;

	border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	-webkit-box-shadow: 0 0 5px #000;  
    -moz-box-shadow: 0 0 5px #000;  
    box-shadow: 0 0 5px #000;

    white-space: nowrap;

}
.boton_menu:hover {
	text-decoration: none;
	background: #000;
	/*background: rgba(0, 0, 0, 0.8);*/
	color: #fff;
	border-color: #fff;

	-webkit-box-shadow: 0 0 5px #fff;  
    -moz-box-shadow: 0 0 5px #fff;  
    box-shadow: 0 0 5px #fff;
}

/* ---------------------- */
#hall_chat_tutoria {
	position: absolute;
	top: 380px;
	left: 490px;
	text-align: center;
}
#hall_chat_tutoria_priv {
	position: absolute;
	top: 340px;
	left: 490px;
	text-align: center;
}

.aula {
	position: relative;
}

.nNew{
	background-color: #9AB951; 
	border: 1px solid #000; 
	border-radius: 12px 12px 12px 12px; 
	position: absolute; 
	padding: 2px 5px; 
	top: -10px;
	right: -10px;
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait){

	#cafeteria
	{
		background-image: url(imagenes/cafeteria_low.jpg); 
		background-repeat: no-repeat;
		width: 981px;
		height: 551px;

		position: relative;
		margin: 0 auto;

		-webkit-background-size: 981px 551px;
		-moz-background-size: 981px 551px;
		-o-background-size: 981px 551px;
		background-size: 981px 551px;
	}


	#biblioteca
	{
		background-image: url(imagenes/biblioteca_low.jpg); 
		background-repeat: no-repeat;
		width: 981px;
		height: 551px;

		position: relative;
		margin: 0 auto;

		-webkit-background-size: 981px 551px;
		-moz-background-size: 981px 551px;
		-o-background-size: 981px 551px;
		background-size: 981px 551px;
	}
}

@media (max-width: 1024px){
	#hall_correo {
		top: 63%;
		left: 15%;
	}
	#hall_aula {
		top:38% ;
		left: 38%;
	}

	#hall_biblioteca {
		top: 45%;
		left: 38%;
	}
	#hall_secretaria {
		top: 70%;
		left: 15%;
	}

	#hall_tablon_anuncios {
		top: 56%;
		left: 15%;
	}	
}
