html {
	overflow-y: scroll;
}
#foro {
	padding: 10px 20px;
}

#foro .subtitleForo{
	border-bottom: 2px solid #69C6B3;	
}

#foro .subtitleForo .subtitleModulo{
	color: #686868;
	margin: 10px 0 5px 0;
	padding:0;
}

#foro .popupIntro{
	margin:0;
}

#foroMensajes .elemento{
	padding: 0;
	border:1px solid #A0A0A0;
	margin: 10px 0;
	background-color: #F0F0F0; 
	background-image: url('imagenes/foro/separator-foro.jpg');
	background-repeat: repeat-y;
	background-position: 99px 0;
	position: relative;
}

#foro .no-details{
	background-position: 0px 50%;	
}

#foro .details{
	background-position: 0px 50%;	
}

#foro .textRespuesta{
	margin-top:5px;
}

/* ---------- TEMAS DEL FORO ------------- */

#foroTemaIntro {
	margin-bottom:15px;	
}

#foroTemaIntro .elementoIntro {
	margin-top:-10px;
	background-color: #F0F0F0;	
}


	

#foroIntro2 {
	font-size: 0.95em;
	text-align: center;
	margin: 0;
	padding: 10px 0;
	/*border-top: 1px solid #999;*/
}

#listarTemasForo .elementoTitulo {
	font-size: 1em;
}

#listarTemasForo .elementoTitulo:hover {
	text-decoration: underline;
}

#foro .titleTemaForo{
	color: #444;
	border-bottom:2px solid #69C6B3;
	font-size: 1.1em;
	padding-bottom: 10px;
	font-weight: bold;
}

.allTemas .headTitleTemaForo{
	float:left;
	margin-top:31px;
}

#foro .elemento:hover{
	/*background: #F0F0F0;*/
}

#foro .allTemas{
	margin-bottom:10px;
}

/* ------- MENSAJES DEL FORO ---------- */
#foroNuevoMensaje textarea {
	height: 60px;
	resize: vertical;
}
#foroNuevoMensaje button {
	width: 100%;
}

#foroEditarMensaje textarea {
	height: 150px;
	resize: vertical;
}

/* -------- */

#foroRespuestaMensaje {
	margin: 0 0 20px 0;
	/*padding: 20px;*/
	/*border-top: 1px solid #CFCFCF;*/
}
#foroRespuestaMensaje .elementoContenido {
	color: #999;
	font-style: italic;
	margin-bottom:5px;
}

#foro .elementoContenido p{
	padding-bottom: 10px;
}

#foroMensajes div.un_mensaje_respuesta {
	/*background: #fff url('imagenes/foro_flecha_respuesta.png') no-repeat;*/
	padding: 0;
	border:1px solid #A0A0A0;
	margin: 10px 0 10px 101px;
	background-color: #F0F0F0; 
	background-image: url('imagenes/foro/separator-foro.jpg');
	background-repeat: repeat-y;
	background-position: 99px 0;
	position: relative;
}
#foroMensajes div.un_mensaje_respuesta:hover {
	/*background: #E5F4F8 url('imagenes/foro_flecha_respuesta.png') no-repeat;*/
}
#foroMensajes div.un_mensaje_respuesta .elementoAvatar {
	float: left;
	width: 80px;
	text-align: center;
	padding: 10px;
}
#foroMensajes div.un_mensaje_respuesta .elementoAll {
	/*width: 92%;*/
}

#foroMensajes .elementoPie{
	border-top: 1px solid #CFCFCF;
	padding-top: 10px;
}

/* -------- */

#foroMensajes .elemento {
	/*background: #EFEFEF;*/
}
#foroMensajes .elemento:hover {
	/*background: #E5F4F8;*/
}

#foroMensajes .elementoAvatar, #foroRespuestaMensaje .elementoAvatar {
	float: left;
	width: 80px;
	text-align: center;
	padding: 10px;
}

#foroMensajes .elementoAvatar img, #foroRespuestaMensaje .elementoAvatar img {
	width: 100%;
	height: auto;
}
#foroMensajes .elementoAll, #foroRespuestaMensaje .elementoAll {
	float: left;
	min-height: 129px;
	background-color:#FFF;
}

/* */
#foroNuevoTemaLink a {
	float:right;
	margin: 15px 5px 0 0;
	display: block;
	background: #E7EAEB;
	color: #a24309;
	font-weight: bold;
	padding: 7px;
	text-align: center;
	border: 1px solid #cecece;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color:#565656;
}

/*
#foroNuevoTemaLink a:hover 
{
	text-decoration: none;
	background: #40B5CF;
}
*/

#foroNuevoTema {
	margin-top: 10px;
}
#foroNuevoTema .fleft {
	width: 15%;
}
#foroNuevoTema .fright {
	width: 82%;
}

#foroNuevoTema .etiqueta
{
	width:120px !important;
	line-height:25px;
}

.descripcionTema{
	float:left;
}

.menuTema{
	float:right;
	margin-top:35px;
}

.mensajePertenece{
	margin-top:-10px;
}

.respuestaForo{
margin-left:25px;
}

.beige{
	/*background-color:#FEF8EC;*/
	/*background-color:#CCC;*/
	/*background-image: url('imagenes/foro/new-forum.png);*/	
}

.ocultarRespuestasInicio{
display: none;
}

.contenidoRespuesta{
margin: 10px 0 5px 0;
color:#565656;
line-height: 15px;
}

.contenidoRespuesta img{
margin-right:5px;
border: 1px solid #FF721A;
padding: 2px;
vertical-align: middle;
}

.fechaForo{
	color:#565656;
	font-size: 0.9em;
	font-style: italic;
}

.elementoNombreForo{
	color:#565656;
	font-size: 1em;
	font-weight:bold;
	font-style: italic;
	margin-bottom:10px;
}

.optionsTab{
	position:absolute;
	top:10px;
	right:-21px;
	
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
	
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;
	
	background-color:#EEE;
	
	padding:5px;
}

.optionsForo{
	position:relative;
	margin-top:12px !important;
}

.optionsForo ul li{
	/*min-width:30px;
	min-height: 16px;*/	
}

.optionsForo ul li img{
	vertical-align: middle;
	margin-right:3px;
	min-height:16px;	
}

.optionsForo ul li span{
	line-height: 19px;
	font-size:0.9em;
}

.galleta{
	background-image:url("imagenes/foro/bocadillo.png");
	background-repeat: no-repeat;	
	min-width:36px;
	min-height: 19px;
}

.galletaNueva{
	background-image:url("imagenes/foro/bocadillo-nuevo.png");
	background-repeat: no-repeat;
}

.textGalleta{
	margin-left:15px;
	margin-right:15px;
	font-size:0.9em;
	width:30px;
}

.optionsForo ul li a{
	text-decoration: none;
	display: block;
	width:100%;
}

.elementoAll .minContentForo{
	min-height: 67px;
}