#evaluacion {
	margin: 10px 20px 0 20px;
}
#expedientes {
	/*padding: 0 20px;*/
}

/*
#frm_expedientes select {
	margin-right: 10px;
}

#expedientes table {
	width: 100%;
	border-collapse: collapse;
}
#expedientes td {
	padding: 4px;
	border: 1px solid #ccc;
	width: 100%;
}
#expedientes td.t_head {
	background: #fef8ec;
	color: #65574C;
	width: 25%;
}
*/
#expediente_alumno {
	border:1px solid #D5D5D5;
	padding: 20px;
	box-shadow:0px 0px 11px #999999;
}

#expediente_alumno #generalDataUser{
	border-bottom:1px dashed #A0A0A0;
	padding-bottom:15px;
}

.expediente_alumno_foto {
	border: 1px solid #CECECE;
	float:left;
	padding: 15px;
	background-color: #EFEFEF;
}
.expediente_alumno_foto img {
	height: 92px;
}

#expediente_alumno .dataUser{
	float:left;
	margin-left: 10px;
	line-height: 24px;
}

#expediente_alumno .dataUser .tagDataUser
{
	font-weight: bold;
	color: #4F4F4F;
}

#expediente_alumno #AdressDataUser{
	margin-top:10px;
	border-bottom:1px dashed #A0A0A0;
	padding-bottom:15px;
}

#expediente_alumno #administrationDataUser{
	margin-top:10px;
}

#expediente_alumno #AdressDataUser .tagDataUser, #expediente_alumno #administrationDataUser .tagDataUser{
	font-weight: bold;
	line-height: 18px;
	color: #4F4F4F;
}