/***************************************************************************************
ESTILOS PARA EMAILS DEL SEGUIMIENTO
***************************************************************************************/

#seguimientoEmailTabs {
	font-weight: bold;
}
#seguimientoEmailTabs li {
	display: inline-block;
	float: left;
	margin-right: 10px;
	border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: block;
    padding: 4px 10px;
}
#seguimientoEmailTabs a {
	text-decoration: none;
}
#seguimientoEmailTabs a:hover {
	text-decoration: none;
}
#seguimientoEmailTabs .activeAnotation {
	padding-bottom: 5px;
}
#cuerpoSeguimiento, #cuerpoSeguimientoPersonal {
	border: 1px solid #CCCCCC;
	background-color: #EFEFEF;
	padding: 10px;
}

#seguimiento{
	overflow:hidden;
	font-size:0.9em;
}

.tabSeguimientoMailer{
	border: 1px solid #CCC;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	padding:5px 5px 5px 7px;
	margin-left:-3px;
}

.tabSeguimientoAnotaciones{
	border-left: 1px solid #CCC;
	border-top:1px solid #CCC;
	border-bottom:1px solid #CCC;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding:5px 7px 5px 5px;
}

#encabezadoSeguimiento .encabezadoAlumno div {
	/*margin: -10px 0;*/
	/*padding: 10px;*/
	display: inline-block;
}
#encabezadoSeguimiento .encabezadoAlumno div a {
	display: block;
}

#encabezadoSeguimiento {
    border-bottom: 1px solid #CCCCCC;
}
.encabezadoAlumnoTitulo {
    width: 30%;
    float: left;
    font-weight: bold;
    margin-left: 1px;
}
.encabezadoAlumnoTitulo div {
	padding: 10px;
	height: 18px;
    border-right: 1px solid #CCCCCC;
}
.encabezadoAlumno {
	/*padding: 10px 0;*/
	float: left;
}
.encabezadoSeguimientoActive {
	background: #EEEEEE;
}

#interfazSeguimiento{
	/*borde redondeado*/
	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	
	/*degradado*/
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#FFFFFF');
	background: -webkit-linear-gradient(#FFFFFF, #EEEEEE);
  	background: -moz-linear-gradient(#FFFFFF, #EEEEEE);
  	background: -o-linear-gradient(#FFFFFF, #EEEEEE);

	  	
	/*sobreado*/
	/*
    -moz-box-shadow: 0 4px 4px #CFCFCF;
    -webkit-box-shadow: 0 4px 4px #CFCFCF;
    box-shadow: 0 4px 4px #CFCFCF;
    */
  	  	
	border:1px solid #CCCCCC;
	margin:15px;
}

#encabezadoSeguimiento{
	color: #666;
	font-style: italic;
}

.encabezadoAlumno{
	text-align:center;
	font-weight:bold;
	margin-top:4px;
	margin-left:5px;
}

#cuerpoSeguimiento
{
	z-index: 10;
	overflow:hidden;	
}

.contenidoSeguimiento{
	/*borde redondeado*/
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;	
}

.emailSeguimiento{
}


.emailSeguimiento .asuntoSeguimiento{
	width:63%;
	float:left;
}
.emailSeguimiento .fechaSeguimiento{
	width:37%;
	float:left;	
}

.emailSeguimiento span{
padding:6px 0;	
}

.emailSeguimiento img{
	margin-right:7px;	
}

#seguimientoEmail {
	clear: both;
	margin: 10px;
}
.filaSeguimientoEmail{
	padding:15px 0;	
}

#cuerpoSeguimientoLlamada{
	background-color: #FFFFFF;	
	overflow:hidden;
	min-height: 600px;
	color: #444444;
}

.alumnosSeguimientoLlamada{
	width:30%;
	background-color:#EEEEEE;
	border-right: 1px solid #CCCCCC;
}

.alumnosSeguimientoLlamada .alums{
	border-right: 1px solid #EEEEEE;
	min-height: 600px;	
	cursor: pointer;
}

#cuerpoSeguimientoLlamada .alumnosSeguimientoLlamada .datosAlumno{
	padding:10px 20px;	
}

.datosAlumno img{
	vertical-align: middle;	
	margin-top:5px;
}

#alumnoImagenData{
	border:1px solid #CCC;
	overflow: hidden;
	background-color: #EFEFEF;	
	padding: 5px;
	line-height: 18px;
}

#textAlumno{
	/*margin-top:15px;*/
	width: 70%;
}

.telefono{
	font-style: italic;
	color: #444444;
	margin-top:7px;
}

.contenidoSeguimientoLlamadas{
	width:69%;
	float:left;	
}

#anotaciones{
	padding:5px 10px;;
	margin:0 10px;	
	border:1px solid #CCC;
	background-color: #EFEFEF;
}
#anotaciones h1 {
	background: #cfcfcf;
	padding: 5px;
	font-size:1em;
	margin-bottom:0 !important;
	margin-top:5px;
}
#anotaciones h1 a {
	display: block;
}

#anotaciones .asuntosAnotaciones{
	border-bottom: 1px solid #CCC;
	margin-bottom: 5px;
	padding-bottom: 5px;
}

.unaAnotacion{
	/*margin: 10px;*/
	padding:5px;
	background-color: #F6F6F6;
	border-right: 1px solid #CCC;
	border-left: 1px solid #CCC;
}


#formularioAnotacion{
	padding:5px 10px;
	background-color:#EFEFEF;
	margin:0 10px 10px 10px;
	height: 400px;
	padding-top:20px;
	border:1px solid #CCC;
}

.blockTextarea{
	margin-right: 10px;
}

#formularioAnotacion textarea{
	height: 240px;
	width: 100%;
}

#frmAnotaciones_1 {
	margin-right: 0px !important;
	width: 20px !important;
}
#frmAnotaciones_2 {
	width: 20px !important;
}

#infoAlumno{
	margin:10px 10px;
	overflow: hidden;
}

#infoAlumno img{
	height: 65px;
}

.active{
	background-color: #FFF !important;
	margin-right:-2px;
	border-top:1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
}

.campos{
	width:80px !important;
	margin:0 15px 10px 5px;
}

.saltoAnotacion{
	margin-bottom:10px;	
}

#seguimientoBuscador{
	margin: 10px 10px 10px 10px;
	background-color:#FFFFFF;
}

#seguimientoBuscador input{
	background: url('imagenes/lupa_buscador16.png')no-repeat right 50%;	
	padding:4px 30px 4px 4px;
	width:167px;
}

.tabFrm{
	background-color:#FFF;
	/*margin-bottom:5px;*/
	margin-left:10px;
	/*margin-top:-25px;*/
	
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;	
	
	padding:5px;
	float:left;	
	
	cursor: pointer;
}

.optionsLlamadas img{
	vertical-align: middle;
	margin-right: 5px;	
}

.unaAnotacion{
	border-bottom:1px solid #CCC;	
	padding-bottom:15px;
}

.tituloEditarAnotacion{
	background-color:#FFF;
	text-align:center;
	border-top:1px solid #CCC;
	border-left:1px solid #CCC;
	border-right:1px solid #CCC;
	margin:10px 10px -10px 10px;
	padding:5px 0;	
}

.activeAnotation{
	background-color:#EFEFEF;
	margin-bottom: -1px;
	padding-bottom: 6px;
}

.editable{
	cursor: pointer;
}