#frm_contenido_multimedia {
	width: 500px;
}
#frm_contenido_multimedia li input[type="text"], #frm_contenido_multimedia li select, #frm_contenido_multimedia li textarea {
	float: right;
	width: 360px;
}
#frm_contenido_multimedia li input[type="file"] {
	float: right;
}

#scormSearch {
	width: 300px;
	margin-right: 10px;
}