#chat {
	padding: 20px;
}

#chat_mensajes_container {
	float: left;
	width: 75%;
}
#chat_mensajes {
	height: 250px;
	overflow: hidden;
	overflow-y: scroll;
	border: 1px solid #CFCFCF;
	padding: 0;
	/*margin-bottom: 10px;*/
}
#chat_mensajes .elemento {
	border-top: 0;
	border-right: 0;
	border-left: 0;
	border-radius: 0;
	
	padding-left: 7px !important;
	padding-right: 7px !important;
}
#chat_mensajes .elemento > strong {
	font-size: 0.8em;
}
#chat_mensajes .elemento:last-child {
	border-bottom: none !important;
	margin-bottom: 0 !important;
}
#chat_mensajes a {
	text-decoration: underline;
}

#chat_usuarios_container {
	width: 25%;
	float: right;
}
#chat_usuarios {
	height: 230px;
	overflow: hidden;
	overflow-y: auto;
	border: 1px solid #CFCFCF;
	border-left: 0;
	padding: 10px;
	font-size: 0.8em;
}
#chat_usuarios img {
	width: 7px;
	height: auto;
}
#chat_usuarios > div {
	margin-bottom: 5px;
}

#frm_chat .fleft {
	width: auto;
}
#frm_chat .fright {
	width: auto;
}
#frm_chat li {
	margin-bottom: 0;
}

#chat_input_msg_li {
	width: 100% !important;
	margin-bottom: 10px !important;
}

#chat_input_msg_li textarea {
	height: 60px;
}

#frm_chat_tutoria button {
	width: 100%;
}

#frm_chat_destinatarios {
	margin-bottom: 10px !important;
	text-align: right;
}

#frm_chat button, .frm_chat_tertulia_privado button {
	width: 100%;
}

/* --------- */

#chat_mensajes_titulo, #chat_usuarios_titulo {
	background: #FEF8EC;
	color: #65574C;
	padding: 7px 10px;
}
#chat_mensajes_titulo {
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
}
#chat_usuarios_titulo {
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
}

/* ----------------*/

#frm_chat_titulo2 {
	background: #FEF8EC;
	color: #65574C;
	padding: 7px 10px;
	margin-bottom: 10px;
	
	border-left: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
}

/* CHAT PRIVADO */

.frm_chat_tertulia_privado .fleft {
	width: 75%;
}
.frm_chat_tertulia_privado .fright {
	width: 20%;
	text-align: right;
}
.chat_tertulia_privado_mensajes .elemento > strong {
	font-size: 0.8em;
}

.chat_tertulia_privado  {
	padding: 0 10px 10px 10px;
}
.chat_tertulia_privado_mensajes {
	height: 200px;
	overflow-y: auto;
	border: 1px solid #CFCFCF;
	margin-bottom: 10px;
}
.chat_tertulia_privado .chat_tertulia_privado_mensajes .elemento {
	border-radius: 0 !important;
	border-top: none !important;
	border-left: none !important;
	border-right: none !important;
}
.chat_tertulia_privado_mensajes .elemento:last-child {
	border-bottom: none !important;
	margin-bottom: 0 !important;
}
.chat_tertulia_privado_titulo {
	background: #FEF8EC;
	color: #65574C;
	padding: 7px 10px;
	margin-top: 10px;
	
	border-left: 1px solid #DDDDDD;
	border-top: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
}