#notas  
{
	/*padding: 0 20px;*/
}

#evaluacion {
	margin: 10px 20px 0 20px;
}

#notas table {
	width: 100%;
}

#notas table input {
	padding: 0;
	width: 100%;
}

#frm_notas select {
	width: 440px;
}

.aprobado{background-color:#84E6AF;}

.printEvaluation{
	background-color: #FFF;
	border: 1px solid #d5d5d5;
	border-radius:5px;
}