.respuesta, .pregunta
{
	clear: both;
}

#autoevaluaciones
{
	padding: 20px 0;
}

#test
{
	padding:10px 20px;
	margin:20px 20px 10px 20px;
	border-bottom:5px solid #69C6B3;	
	line-height:1.3em;
}
.pregunta
{
	font-weight:bold;
	padding:10px;
}

.pregunta img {
	width: 100px;
	height: auto;
}

.respuesta
{
	overflow:hidden;
	margin:5px 5px 5px 20px;
	padding:3px 0 3px 0;
	
}

.respuesta_corregida
{
	/*padding:0 0;*/
	border:1px solid;
	margin:0 0 10px 50px;
	height:25px;
}

.correccionRespuestasVerde{
	border-top:1px dashed #A0A0A0;
	padding:10px;
	background-color: #CDFDDD;
	font-weight: bold;
}

.correccionRespuestasRojo{
	border-top:1px dashed #A0A0A0;
	padding:10px;
	background-color: #FFD8D8;
	font-weight: bold;
}

.PreguntaMasRespuesta{
	border-bottom:1px dashed #A0A0A0;
	padding-bottom:10px;
}

.txt_respuesta
{
	margin-bottom:5px;	
	/*line-height:25px;*/		
}


.tu_respuesta
{
	float:left;
	margin:5px;
}


.enviar_autoevaluacion
{
	/*margin-left:45%;*/
	/*margin-top:30px;*/
	/*margin-left:-140px;*/
	margin-bottom: 10px;
	/*float:left;*/
	width:100%;	
}

.info_respuesta_ok
{
	background: url("imagenes/check_ok.png") no-repeat;
	background-position-y: -6px;
	padding-left:30px;
	height:25px;
	margin-bottom:15px;
	/*line-height:25px;*/
}
.info_respuesta_fail
{
	background: url("imagenes/check_fail.png") no-repeat;
	background-position-y: -6px;
	padding-left:30px;
	height:25px;
	margin-bottom:15px;
	/*line-height:25px;*/
}
.info_respuesta_blanco
{
	background: url("imagenes/check_blanco.png") no-repeat;
	padding-left:30px;
	height:25px;
	margin-bottom:15px;
	/*line-height:25px;*/
}

.las_respuestas
{
	margin:5px 0 5px 20px;
}


.pregunta img, .tu_respuesta img {
	width: auto !important;
	height: 20px !important;
}

.notaAlumnoFinal
{
	float:right;
	margin-top:-80px;
    font-size:2em;
    border:1px solid #ccc;
    padding-bottom:10px;
}

.tituloResultado
{
	border-bottom: 1px solid #ccc;
    font-size: 0.6em;
    padding: 5px;	
    font-weight:bold;
}

/* IMAGE TIP HOVER */
#thumbPopup {
	max-width: 250px !important;
	min-width: 50px !important;
	border: 0 !important;
	background: transparent !important;
	z-index: 50;
}
#thumbPopup img {
	width: 100%;
	height: auto;
	
	border: 4px solid #999 !important;
	
	border-radius: 3px;
	-moz-border-radius: 3px;
  	-webkit-border-radius: 3px;
  	
  	-moz-box-shadow: 0 0 5px #000;
	-webkit-box-shadow: 0 0 5px #000;
	box-shadow: 0 0 5px #000;
}

.cabeceraTest{
	margin-bottom:3px;	
	overflow:hidden;
}

.pyr{
	margin-bottom:10px;
	padding-bottom:5px;
	border-bottom:1px solid #ccc;
}
.pregunta{
	font-size:1.2em;
	font-weight:bold;
}

.respuesta{
	/*font-weight:bold;*/
	margin-bottom:3px;
}

.pregunta img, .tu_respuesta img {
	width: auto !important;
	height: 30px !important;
}

.preguntaTest{
	height:100px;
	width:695px;
	border:1px solid #ccc;
	overflow-y:scroll;
	padding:5px;
}

/* IMAGE TIP HOVER */
#thumbPopup {
	max-width: 250px !important;
	min-width: 50px !important;
	border: 0 !important;
	background: transparent !important;
}
#thumbPopup img {
	width: 100%;
	height: auto;
	
	border: 4px solid #999 !important;
	
	border-radius: 3px;
	-moz-border-radius: 3px;
  	-webkit-border-radius: 3px;
  	
  	-moz-box-shadow: 0 0 5px #000;
	-webkit-box-shadow: 0 0 5px #000;
	box-shadow: 0 0 5px #000;
}


#clipboard{
	background-image: url("imagenes/clipboard/clipboard.png");
	background-repeat: no-repeat;
	min-height:403px;
	width:660px;
	margin:0 auto;
	/*position:relative;*/
	padding-top:3px;
	boder:1px solid #CCC;
}

.registroTest{
	width: 620px;
	overflow:hidden;
	padding: 10px 0;
	border-bottom: 1px dashed #D5D5D5;
}

.registroTestCabecera{
	padding:5px;
	width: 610px;
	overflow:hidden;	
	margin: 0 20px;
	border-bottom:2px solid #69C6B3;
	font-weight: bold;
	font-size: 0.9em;
}

.registroTest .notaClipboard, #clipboard .registroTestCabecera .notaClipboard{
	float:right;
	text-align: center;
	width: 70px;
}
.registroTest .numeroAccesoClipboard, #clipboard .registroTestCabecera .numeroAccesoClipboard{
	float:right;
	text-align: center;
	width: 130px;
}

.tituloClipboard{
	float:left;	
}

.menuVistaClipboard
{
	right: 30px;
	top : 90px;
	/*position:relative;*/
	z-index: 2;
}

#clipboard .menuVistaClipboard{
	margin:25px 15px 15px 0 !important;
}

.tituloClasica{float:left;}

.notaClasica{
	float:right;
	text-align: center;
	width: 70px;
}
.accesoClasica{
	float:right;
	text-align: center;
	width: 130px;
}

.allTest{
	/*margin-top:230px;*/
	clear: both;
}

.registrosTests{
	width: 620px;
	height: 280px;
	margin: 5px 20px;
	overflow: auto;
	
	overflow-x: hidden;
	/*overflow-y: auto;
	*/
}

.registroTest:hover{
	background-color: #F9F9F9;
}

/****************************************************************************************************
* VISTA LISTADO DE AUTOEVALUACIONES
*****************************************************************************************************/
.listRegistroTestCabecera{
	padding:5px 5px 10px 5px;
	overflow:hidden;	
	margin: 0 10px;
	border-bottom:2px solid #69C6B3;
	font-weight: 0.9em;
}

.listRegistroTest{
	border-bottom:1px dashed #A0A0A0;
	padding:5px;
	margin: 0 10px;
	overflow: hidden;
}

.listRegistroTest:hover{
	background-color: #EFEFEF;
}

/****************************************************************************************************
* SCROLL
*****************************************************************************************************/
/* basic scrollbar styling */
/* vertical scrollbar */
.mCSB_container{
	width:auto;
	margin-right:30px;
	overflow:hidden;
}
.mCSB_container.mCS_no_scrollbar{
	margin-right:0;
}
.mCustomScrollBox .mCSB_scrollTools{
	width:16px;
	height:100%;
	top:0;
	right:0;
}
.mCSB_scrollTools .mCSB_draggerContainer{
	height:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.mCSB_scrollTools .mCSB_buttonUp+.mCSB_draggerContainer{
	padding-bottom:40px;
}
.mCSB_scrollTools .mCSB_draggerRail{
	width:2px;
	height:100%;
	margin:0 auto;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
.mCSB_scrollTools .mCSB_dragger{
	cursor:pointer;
	width:106%;
	height:30px;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:6px;
	height:100%;
	margin:0 auto;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	text-align:center;
}
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown{
	height:20px;
	overflow:hidden;
	margin:0 auto;
	cursor:pointer;
}
.mCSB_scrollTools .mCSB_buttonDown{
	bottom:0;
	margin-top:-40px;
}
/* horizontal scrollbar */
.mCSB_horizontal .mCSB_container{
	height:auto;
	margin-right:0;
	margin-bottom:30px;
	overflow:hidden;
}
.mCSB_horizontal .mCSB_container.mCS_no_scrollbar{
	margin-bottom:0;
}
.mCSB_horizontal.mCustomScrollBox .mCSB_scrollTools{
	width:100%;
	height:16px;
	top:auto;
	right:auto;
	bottom:0;
	left:0;
	overflow:hidden;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_draggerContainer{
	height:100%;
	width:auto;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	overflow:hidden;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_buttonLeft+.mCSB_draggerContainer{
	padding-bottom:0;
	padding-right:20px;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_draggerRail{
	width:100%;
	height:2px;
	margin:7px 0;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_dragger{
	width:30px;
	height:100%;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:100%;
	height:4px;
	margin:6px auto;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_horizontal .mCSB_scrollTools .mCSB_buttonRight{
	width:20px;
	height:100%;
	overflow:hidden;
	margin:0 auto;
	cursor:pointer;
	float:left;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_buttonRight{
	right:0;
	bottom:auto;
	margin-left:-40px;
	margin-top:-16px;
	float:right;
}

/* default scrollbar colors and backgrounds */
.mCustomScrollBox .mCSB_scrollTools{
	opacity:0.75;
}
.mCustomScrollBox:hover .mCSB_scrollTools{
	opacity:1;
}
.mCSB_scrollTools .mCSB_draggerRail{
	background:#666; /* rgba fallback */
	background:rgba(0,0,0,0.4);
	filter:"alpha(opacity=40)"; -ms-filter:"alpha(opacity=40)"; /* old ie */
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	background:#fff; /* rgba fallback */
	background-color:#444;
	filter:"alpha(opacity=75)"; -ms-filter:"alpha(opacity=75)"; /* old ie */
}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
	background-color:#000;
	filter:"alpha(opacity=85)"; -ms-filter:"alpha(opacity=85)"; /* old ie */
}
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
	background-color:#000;
	filter:"alpha(opacity=90)"; -ms-filter:"alpha(opacity=90)"; /* old ie */
}
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown,
.mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_scrollTools .mCSB_buttonRight{
	background-image:url(imagenes/clipboard/mCSB_buttons.png);
	background-repeat:no-repeat;
	opacity:0.4;
	filter:"alpha(opacity=40)"; -ms-filter:"alpha(opacity=40)"; /* old ie */
}
.mCSB_scrollTools .mCSB_buttonUp{
	background-position: -80px 0;
	/* 
	sprites locations are 0 0/-16px 0/-32px 0/-48px 0 (light) and -80px 0/-96px 0/-112px 0/-128px 0 (dark) 
	*/
}
.mCSB_scrollTools .mCSB_buttonDown{
	background-position:-80px -20px;
	/* 
	sprites locations are 0 -20px/-16px -20px/-32px -20px/-48px -20px (light) and -80px -20px/-96px -20px/-112px -20px/-128px -20px (dark) 
	*/
}
.mCSB_scrollTools .mCSB_buttonLeft{
	background-position:0 -40px;
	/* 
	sprites locations are 0 -40px/-20px -40px/-40px -40px/-60px -40px (light) and -80px -40px/-100px -40px/-120px -40px/-140px -40px (dark) 
	*/
}
.mCSB_scrollTools .mCSB_buttonRight{
	background-position:0 -56px;
	/* 
	sprites locations are 0 -56px/-20px -56px/-40px -56px/-60px -56px (light) and -80px -56px/-100px -56px/-120px -56px/-140px -56px (dark) 
	*/
}
.mCSB_scrollTools .mCSB_buttonUp:hover,
.mCSB_scrollTools .mCSB_buttonDown:hover,
.mCSB_scrollTools .mCSB_buttonLeft:hover,
.mCSB_scrollTools .mCSB_buttonRight:hover{
	opacity:0.75;
	filter:"alpha(opacity=75)"; -ms-filter:"alpha(opacity=75)"; /* old ie */
}
.mCSB_scrollTools .mCSB_buttonUp:active,
.mCSB_scrollTools .mCSB_buttonDown:active,
.mCSB_scrollTools .mCSB_buttonLeft:active,
.mCSB_scrollTools .mCSB_buttonRight:active{
	opacity:0.9;
	filter:"alpha(opacity=90)"; -ms-filter:"alpha(opacity=90)"; /* old ie */
}