/* CALENDARIO */

#calendario_content {
	width: 580px;
	margin: 0 auto;
}

#agenda_menu_principal {
	margin-bottom: 20px;
}

#agenda {
	padding: 20px 20px 0 20px;
	margin: 0 auto;
	position: relative;
}

#calendario{
	float:left;
	/*background-color:#fff;*/
	background-image: url("imagenes/agenda/calendar-bg.png");
	padding:10px 5px;
	width: 260px;
	height: 185px;
	/*margin-top:5px;*/	
	-webkit-box-shadow: 5px 5px 11px rgba(50, 50, 50, 0.55);
	-moz-box-shadow:    5px 5px 11px rgba(50, 50, 50, 0.55);
	box-shadow:         5px 5px 11px rgba(50, 50, 50, 0.55);
}

.nombreMes{
	float:left;
	width: 240px;
	text-align: center;
	color:#565656;
	font-weight: bold;
	font-size: 0.9em;
}

#agenda_mes {
	width: 260px;
	height: 20px;
	border-bottom:1px solid #D5D5D5;
	margin-bottom:5px;
	padding-bottom:5px;
}
#agenda_mes li {
	float: left;
	display: inline-block;
	font-size: 0.7em;
	padding: 3px 0;
	color: #fff;
}
#agenda_mes li a, #agenda_mes li a:hover {
	color: #fff;
	padding: 0 10px;
}
#agenda_mes_actual {
	width: 160px;
}

#agenda_dias_semana {
	margin: 10px 0 40px 0;
	font-size: 0.8em;
	color:#5656656;
	font-weight: bold;
}
#agenda_dias_semana span {
	float: left;
	display: inline-block;
	width: 37px;
	text-align: center;
	padding: 3px 0;
	color: #565656;
	text-align: center;
}

#agenda_dias {
	margin-bottom: 10px;
}
#agenda_dias li {
	float: left;
	display: inline-block;
	text-align: center;
	margin: 1px 1px;
}
#agenda_dias li span {
	color: #565656;
}
#agenda_dias li a, #agenda_dias li span {
	display: block;
	width: 35px;
	text-align: center;
	margin: 2px 0;
	
}

#agenda_dias li a:hover{text-decoration: none;color: #D53030;}

#agenda_dias li:hover {
	text-decoration: none;
	background: #C0E6EF;
	color: #009CBF;
	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

#agenda_vista {
	/*margin-top: 10px;
	border-top: 1px solid #CFCFCF;*/
	/*width: 560px;
	height: 290px;*/
	margin-bottom: 10px;
}

#agenda_dias .agenda_dia_activo, #agenda_dias .agenda_dia_activo:hover {
	background: #009CBF;
	color: #D53030 !important;
	cursor: default;
	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.agenda_dia_get_ev {
	background: #FFDC70;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px
}
.agenda_dia_get_ev a, .agenda_dia_get_ev a:hover {
	/*color: #D46B00;*/
}

.agenda_dia_get_ev_rcd {
	background: #FFC0C0;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.agenda_dia_get_ev_rcd a, .agenda_dia_get_ev_rcd a:hover {
	/*color: #D53030;*/
}

.agenda_dia_get_ev_coord, .agenda_dia_get_ev_coord:hover {
	background: #52A35C !important;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.agenda_dia_get_ev_mix {
	background: url('imagenes/agenda_ev_mix.png') no-repeat;
}

/* VISTA */

#agenda_eventos {
	padding: 20px 0 20px 0;
}

#frm_agenda_ev {
}
#frm_agenda_ev_contenido {
	width: 258px;
	height: 153px;
	resize: none;
}
#frm_agenda_ev button {
	width: 100%;
}

#frm_agenda_ev_editar textarea {
	width: 510px;
}

#agenda_ev_listado {	
	/*overflow-y: scroll;
	height: 245px;*/
	/*border: 1px solid #CFCFCF;
	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;*/
}

#agenda_vista_defecto {
	position: absolute;
	top: 40%;
	left: 35%;
	font-size: 2em;
}

/* CUADRADOS */
#agenda_ayuda {
	font-size: 0.8em;
}
#agenda_ayuda_color_1 {
	background: #009CBF;
	padding: 0 5px;
	margin: 0 3px 20px 10px;
}
#agenda_ayuda_color_2 {
	background: #FFDC70;
	padding: 0 5px;
	margin-right: 3px;
	margin-left: 10px;
}
#agenda_ayuda_color_3 {
	background: #FFC0C0;
	padding: 0 5px;
	margin-right: 3px;
	margin-left: 10px;
}
#agenda_ayuda_color_4 {
	background: #52A35C;
	padding: 0 5px;
	margin-right: 3px;
	margin-left: 10px;
}

#agenda_eventos img{
	vertical-align: middle;
	margin-right: 5px;
}

#agenda .agenda_evento_no_color .elementoPersonal,
#agenda .agenda_evento_no_color .elementoRecomendacion,
#agenda .agenda_evento_no_color .elementoCoordinador {

	background: #efefef;
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#EEEEEE');
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#EEEEEE)); 
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE);
	background: -o-linear-gradient(top, #FFFFFF,  #EEEEEE);
	background: -ms-linear-gradient(top, #FFFFFF,  #EEEEEE);
	background: linear-gradient(top, #FFFFFF,  #EEEEEE);

}
#agenda .elementoRecomendacion{
	background-color:#FFC0C0;
	border:1px solid #CCC;
	border-radius:5px;
	overflow: hidden;
	padding:10px;
	margin-bottom: 10px;

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FDE5E5', endColorstr='#FFA5A5');
	background: -webkit-gradient(linear, left top, left bottom, from(#FDE5E5), to(#FFA5A5)); 
	background: -moz-linear-gradient(top, #FDE5E5, #FFA5A5);
	background: -o-linear-gradient(top, #FDE5E5,  #FFA5A5);
	background: -ms-linear-gradient(top, #FDE5E5,  #FFA5A5);
	background: linear-gradient(top, #FDE5E5,  #FFA5A5);

}

#agenda .elementoCoordinador {
	background-color:#A0E0A9;
	border:1px solid #CCC;
	border-radius:5px;
	overflow: hidden;
	padding:10px;
	margin-bottom: 10px;
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A0E0A9', endColorstr='#52A35C');
	background: -webkit-gradient(linear, left top, left bottom, from(#A0E0A9), to(#52A35C)); 
	background: -moz-linear-gradient(top, #A0E0A9, #52A35C);
	background: -o-linear-gradient(top, #A0E0A9,  #52A35C);
	background: -ms-linear-gradient(top, #A0E0A9,  #52A35C);
	background: linear-gradient(top, #A0E0A9,  #52A35C);

}

#agenda .elementoPersonal{
	background-color:#FFEF74;
	border:1px solid #CCC;
	border-radius:5px;
	overflow: hidden;
	padding:10px;
	margin-bottom: 10px;
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FCF4BA', endColorstr='#FFF04E');
	background: -webkit-gradient(linear, left top, left bottom, from(#FCF4BA), to(#FFF04E)); 
	background: -moz-linear-gradient(top, #FCF4BA, #FFF04E);
	background: -o-linear-gradient(top, #FCF4BA,  #FFF04E);
	background: -ms-linear-gradient(top, #FCF4BA,  #FFF04E);
	background: linear-gradient(top, #FCF4BA,  #FFF04E);
}

#agenda .pieAgenda{
	float: right;
	font-size:0.8em;
}

#agenda .anotacion{
	float:left;
	width: 85%;
}

#agenda .crearEventoPersonal{
	width: 268px;
	height: 170px;
}

.leyendaCalendario{
	margin-top:20px;
	font-size:0.9em;
	border-bottom:1px solid #BFBFBF;
	padding-bottom:15px;
	text-align:center;
}

#agenda_eventos_editar{
	/*margin:0 20px 0 25px;*/
	margin:0 auto;
	background-image: url(imagenes/agenda/page-agenda.png);
	background-repeat: no-repeat;
	width: 570px;
	height: 435px;
}

#agenda_eventos_editar textarea{
	background: transparent;
	width: 490px !important;
	margin: -4px 35px !important;
	line-height: 23px;
	border: 0;
	height: 340px !important;
	resize: none;
}

#agenda_eventos_editar textarea:focus{
-moz-box-shadow: none;
-webkit-box-shadow: none;
box-shadow: none;	
}

#agenda_eventos_editar #frm_agenda_ev_editar textarea {
	/*width: 250px;*/
	width:98%;
	height: 150px;
	overflow-y: auto !important 
}

#agenda_eventos_editar p{
	padding: 75px 0 0 40px;
	color:#444;
}

#editarEvento{
	padding-top:15px;	
}

#editarEvento h2{
	color:#fff;
	background-image: url("imagenes/agenda/title-bg.png");
	width: 161px;
	height: 41px;
	line-height: 41px;	
	padding-left: 15px;
	background-repeat: no-repeat;
}

.fechaEditarAgenda{
	margin: 0 auto;
	width: 130px;
}

.fechaEditarAgenda .diaNumero{
	font-size: 3.5em;
	color: #F4912E;
	margin-top: 14px;
	float:left;
}

.fechaEditarAgenda .diaMes{
	margin: 20px 0 0 10px;
	/*color: #565656;*/
	color: #F4912E;
	font-style: italic;
	font-size: 0.9em;
	float:left;	
	font-weight: 600;
}


#menuAgendaAdmin img {
	width: 80px;
}
.listadoEventosAlumno{
	padding:5px;
	background-color:#EFEFEF;
	border-radius:5px;
	border:1px solid #D5D5D5;
}

.listadoEventosAlumno select{margin-top:3px;}
.listadoEventosAlumno .eventoAlumnoTitle{width:231px;margin-top:5px;}

.listBlack{
	border-top-left-radius: 5px;
	border: 1px solid #AFAFAF;
	border-bottom-left-radius: 5px;
	background-color: white;
}

.calendarBlack{
	border-top: 1px solid #AFAFAF;
	border-bottom: 1px solid #AFAFAF;
	background-color: white;
}
.printBlack{
	border: 1px solid #AFAFAF;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: white;
}

.ActiveOption{background-color: #C4C2C2;}