#secretaria {
	padding: 20px;
}
#frmSecretaria {
	margin-top:10px;	
}
#frmSecretaria .fleft {
	width: 12%;
}
#frmSecretaria .fright {
	width: 85%;
}
#frmSecretaria textarea {
	height: 100px;
	width: 98%;
}