.tituloTematica
{
    line-height: 22px;
    margin-right: 5px;	
}

.inputTematica
{
	width: 65%;	
}

.botonTematica
{
 margin-left: 10px;
}

.botonTematica input
{
	padding: 3px 5px 4px !important;
}