#mensajes_emergentes .elemento{
	padding: 10px 0;
}

#navMensajesEmergentes {
    padding-right: 2px;
    position: relative;
    width: 90px;
}
#contenidoMensajesEmergentes {
    background-color: #FFFFFF;
    border: 1px solid #D5D5D5;
    box-shadow: 0 7px 15px 0 #999999;
    height: 440px;
    overflow: auto;
    padding: 15px 30px;
    width: 550px;
}

#mensajesEmergentesBuscador {
	margin-bottom: 15px;
	text-align: right;
	margin-right: 10px;
}
#mensajesEmergentesBuscador input {
	width: 150px;
	background: url("imagenes/lupa_buscador16.png") no-repeat scroll right 50% transparent;
    padding: 4px 30px 4px 5px;
}

#mensajes_emergentes {
	padding: 20px;
}
#mensajes_emergentes_menu {
	margin: 20px;
}

#navMensajesEmergentes a span {
    font-size: 0.8em;
    text-align: center;
}
#navMensajesEmergentes a {
    display: block;
    height: 100%;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;
}

#frm_mensajes_emergentes textarea {
	height: 100px;
	width: 98%;
}

/*
#frm_mensajes_emergentes h2 {
	font-size: 0.95em;
	color: #999;
	background: #DFDFDF;
	padding: 5px;
	text-align: center;
	border: 1px solid #999;
}
*/

#frm_mensajes_emergentes select {
	margin-right: 10px;
}

#mensajes_emergentes_iconos li {
	float: left;
}
#mensajes_emergentes_iconos li img {
	padding: 5px;
	width: 35px;
	height: 35px;
	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
#mensajes_emergentes_iconos li img:hover {
	cursor: pointer;
	background: #FFB870;
}
#mensajes_emergentes_iconos img.mensajes_emergentes_iconos_active {
	background: #FF8000 !important;
}