/*!
 * CORSA THEME BASIC STYLES
 */

/* ====================================
====== COMMON =========================
==================================== */

html { 
	height: auto;
}

a {
	color: #31c5c7;
	text-decoration: none;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
a:hover,
a:active {
	color: #444;
}

::-moz-selection {
	background-color: rgba(0,0,0,0.5);
	color: #fff;
}
::selection {
	background-color: rgba(0,0,0,0.5);
	color: #fff;
}


/* ====================================
====== MAIN GRID ======================
==================================== */

.l-body {
	position: static;
	height: auto;
	overflow-x: hidden;
}

.l-preloader {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	/*z-index: 111;*/
	z-index: 9999;
	overflow: hidden;
	background-color: #fff;
}
.l-preloader-bar {
	position: absolute;
	top: 0;
	left: 0;
	height: 0;
	width: 100%;
	background-color: #f2f2f2;
}
.l-preloader-counter {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 60px;
	font-family: 'Dosis';
	text-align: center;
	line-height: 100px;
	height: 100px;
	width: 200px;
	margin: -50px 0 0 -100px;
	color: #444;
}

.l-header {
	position: relative;
	left: 0;
	line-height: 80px;
	height: 80px;
	width: 100%;
	z-index: 10;
	box-shadow: 0 4px 10px rgba(0,0,0,0.07);
	background-color: #fff;
}
.l-body.headertype_sticky .l-header {
	position: absolute;
}
.l-body.headertype_sticky.headerpos_top .l-header {
	position: fixed;
	top: 0;
}
.l-header-h,
.l-subheader,
.l-subheader-h {
	height: 100%;
}
.l-subheader {
	width: 96%;
}

.l-footer {
	position: fixed;
	left: 0;
	bottom: 0;
	min-height: 70px;
	width: 100%;
	overflow-y: auto;
	z-index: 0;
	background-color: #333;
	color: #999;
}
.l-footer a {
	color: #31c5c7;
}
.l-footer a:hover,
.l-footer a:active {
	color: #fff;
}
.no-touch .l-footer a:hover {
	border-bottom: 1px solid;
}
.l-footer p {
	font-size: 14px;
	line-height: 22px;
	margin-bottom: 20px;
}
.l-footer p:last-child {
	margin-bottom: 0;
}
.l-subfooter {
	width: 96%;
	max-width: 1140px;
}
.l-subfooter.at_top {
	padding: 40px 0 30px;
	border-bottom: 1px solid #444;
}
.l-subfooter.at_bottom {
	padding: 10px 0;
}

.l-main {
	margin-bottom: 70px; /* min height of footer */
	box-shadow: 0 4px 8px rgba(0,0,0,0.1);
	z-index: 2;
}
.l-section {
	position: static;
	background-color: #fff;
	color: #444;
}
.l-subsection {
	position: relative;
	padding: 60px 0;
	text-align: center;
	background-position: center center;
	background-size: cover;
}
.no-touch .l-subsection {
	background-attachment: fixed;
}
.l-subsection-h {
	position: relative;
	z-index: 2;
}
.l-subsection-hh {
	margin: 0 auto;
	width: 96%;
	max-width: 1140px;
}
/* FULL: width */
.l-subsection.full_width .l-subsection-hh {
	width: 100%;
	max-width: 100%;
}
/* FULL: height */
.l-subsection.full_height {
	padding: 0;
}
/* WITH: parallax */
.l-subsection.with_parallax {
	display: table;
	width: 100%;
	overflow: hidden;
}
.l-subsection.with_parallax .l-subsection-h {
	display: table-cell;
	margin: auto;
	vertical-align: middle;
	height: 300px;
	overflow: hidden;
}
/* WITH: video */
.l-subsection.with_video {
	overflow: hidden;
}
.l-subsection.with_video .video-background,
.l-subsection.with_video .video-preload {
	display: block;
}
.video-background {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.video-preload {
	display: none;
	height: auto;
	width: 100%;
}
.video-background video {
	display: none;
}

/* HOMETYPE: fullscreen */
.l-body.hometype_fullscreen .l-section:first-child {
	height: 100%;
	width: 100%;
}
.l-body.hometype_fullscreen .l-section:first-child .l-subsection {
	display: table;
	height: 100%;
	width: 100%;
	padding: 0;
	overflow: hidden;
}
.l-body.hometype_fullscreen .l-section:first-child .l-subsection-h {
	display: table-cell;
	vertical-align: middle;
	margin: auto;
}
.l-body.hometype_fullscreen .l-section:first-child .l-subsection-hh {
	max-width: 100%;
	width: 100%;
}

/* COLOR: dark */
.l-subsection.color_dark {
	background-color: #000;
	color: #fff;
}
.l-subsection.color_dark:after {
	display: block;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	background-color: rgba(0,0,0,0.3);
}
.l-subsection.color_dark a:hover {
	color: #fff;
}
.l-subsection.color_dark .g-hr-h:before,
.l-subsection.color_dark .g-hr-h:after {
	background-color: #fff;
	background-color: rgba(255,255,255,0.5);
}
.l-subsection.color_dark .g-hr-h i {
	color: #fff;
	color: rgba(255,255,255,0.5);
}
.l-subsection.color_dark .w-iconbox .w-iconbox-title {
	color: #fff;
}

/* COLOR: primary */
.l-subsection.color_primary,
.w-actionbox.color_primary {
	background-color: #31c5c7;
	color: #fff;
}
.color_primary a {
	color: #fff;
}
.color_primary a:hover {
	color: #fff;
}
.l-subsection.color_primary .g-hr-h:before,
.l-subsection.color_primary .g-hr-h:after {
	background-color: #fff;
	background-color: rgba(255,255,255,0.5);
}
.l-subsection.color_primary .g-hr-h i {
	color: #fff;
	color: rgba(255,255,255,0.5);
}
.color_primary .g-btn.type_primary {
	background-color: #fff;
	color: #444;
}

/* COLOR: alternate */
.l-subsection.color_alternate {
	background-color: #f2f2f2;
}

/* NO: pagesections */
.l-body.no_pagesections .l-subsection {
	text-align: left;
	width: auto;
}
.l-body.no_pagesections .l-subsection.with_parallax {
	width: 100%;
}
.l-body.no_pagesections.col_cont .l-sidebar {
	display: none;
}
.l-body.no_pagesections.col_contside .l-content {
	float: left;
	width: 70%;
}
.l-body.no_pagesections.col_contside .l-sidebar {
	float: right;
	width: 25%;
}
.l-body.no_pagesections.col_sidecont .l-content {
	float: right;
	width: 70%;
}
.l-body.no_pagesections.col_sidecont .l-sidebar {
	float: left;
	width: 25%;
}
.l-sidebar .widget {
	margin-bottom: 45px;
}
.l-footer .widget {
	margin-bottom: 35px;
}
.l-footer .widget:last-child {
	margin-bottom: 0;
}


/* ====================================
====== TYPOGRAPHY =====================
==================================== */

/* Main font */
body, p, td {
	font: 16px/26px 'PT Sans', sans-serif;
}

/* Headings */
h1 {
	font: 54px/66px 'Dosis';
	margin-bottom: 22px;
	text-transform: uppercase;
}
h2 {
	font: 44px/54px 'Dosis';
	margin-bottom: 22px;
	text-transform: uppercase;
}
h3 {
	font: 36px/46px 'Dosis';
	margin-bottom: 22px;
	text-transform: uppercase;
}
h4 {
	font: 30px/40px 'Dosis';
	margin-bottom: 22px;
	text-transform: uppercase;
}
h5 {
	font: 24px/34px 'Dosis';
	margin-bottom: 22px;
	text-transform: uppercase;
}
h6 {
	font: 20px/28px 'Dosis';
	margin-bottom: 22px;
	text-transform: uppercase;
}	
.g-html h2,
.g-html h3,
.g-html h4,
.g-html h5,
.g-html h6 {
	padding-top: 0;
}
.g-html h1:last-child,
.g-html h2:last-child,
.g-html h3:last-child,
.g-html h4:last-child,
.g-html h5:last-child,
.g-html h6:last-child {
	margin-bottom: 0;
}
/* home heading */
.g-html h1.home-heading {
	font-size: 90px;
	line-height: 90px;
	text-shadow: 0 3px 10px rgba(0,0,0,0.2);
}
.home-heading-line {
	display: inline-block;
	vertical-align: top;
	margin: 0 -0.1em;
	padding: 0.5% 1.1% 0.6%;
	color: #fff;
}
/* TYPE: black */
.home-heading-line.type_black {
	color: #111;
}
/* TYPE: primary */
.home-heading-line.type_primary {
	color: #31c5c7;
}
/* TYPE: secondary */
.home-heading-line.type_secondary {
	color: #444;
}
/* TYPE: primary bg */
.home-heading-line.type_primary_bg {
	background-color: #31c5c7;
	color: #fff;
}
/* TYPE: secondary bg */
.home-heading-line.type_secondary_bg {
	background-color: #444;
	color: #fff;
}
/* TYPE: dark bg */
.home-heading-line.type_dark_bg {
	background-color: #111;
	background-color: rgba(0,0,0,0.5);
	color: #fff;
}
/* TYPE: light bg */
.home-heading-line.type_light_bg {
	background-color: #fff;
	background-color: rgba(255,255,255,0.5);
	color: #111;
}

/* Paragraph */
.g-html p {
	margin-bottom: 26px;
}
.g-html .g-cols > div > p:last-child {
	margin-bottom: 0;
}
.g-html p.size_big {
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 30px;
}
.g-html p.subtitle {
	font-size: 24px;
	line-height: 34px;
	margin-bottom: 5px;
	text-transform: uppercase;
}
.no-touch .g-html p a:hover {
	border-bottom: 1px solid;
}

/* Lists */
.g-html ul,
.g-html ol {
	margin-left: 30px;
	margin-bottom: 26px;
}
.g-html ul {
    list-style-type: disc;
}
.g-html ol {
    list-style-type: decimal;
}
.g-html ul li,
.g-html ol li {
	margin-bottom: 4px;
	padding-left: 6px;
}
.no-touch .g-html li a:hover {
	border-bottom: 1px solid;
}
.g-html ul > li ul,
.g-html ul > li ol,
.g-html ol > li ul,
.g-html ol > li ol {
	margin-bottom: 6px;
	margin-top: 6px;
}

/* Image */
.g-html img + h1,
.g-html img + h2,
.g-html img + h3,
.g-html img + h4,
.g-html img + ul,
.g-html img + ol,
.g-html img + p {
	margin-top: 26px;
}
.g-html img.alignleft {
	display: inline;
	float: left;
	margin-right: 25px;
	margin-bottom: 25px;
}
.g-html img.alignright {
	display: inline;
	float: right;
	margin-left: 25px;
	margin-bottom: 25px;
}
.g-html img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.g-html a.image-link:hover {
	border-bottom: none;
}
.g-html a.image-link img {
	-webkit-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}
.g-html a.image-link:hover img {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80); /* hack for IE8 */
	opacity: 0.8;
}

/* Address */
.g-html address {
	margin-bottom: 26px;
}

/* Preformat */
.g-html pre {
	font-size: 12px;
	line-height: 20px;
	padding: 10px 15px;
	margin-bottom: 26px;
	border-radius: 5px;
	background-color: #333;
	background-color: rgba(0,0,0,0.8);
	color: #fff;
}

/* Blockquote */
.g-html blockquote {
	font-size: 18px;
	line-height: 28px;
	padding: 2px 0 2px 30px;
	margin-bottom: 26px;
	border-left: 5px solid #31c5c7;
}
.g-html blockquote q,
.g-html blockquote p {
	font: inherit;
	margin: 0;
}
.g-html blockquote cite {
	display: block;
	font-size: 80%;
	margin-top: 8px;
}

/* Dividers */
.g-hr {
	position: relative;
	font-size: 0;
	text-align: center;
	height: 24px;
	margin: 2% 0;
	width: 100%;
	padding: 2px 0;
	overflow: hidden;
	clear: both;
}
.g-hr-h:before,
.g-hr-h:after {
	display: inline-block;
	content: "";
	height: 1px;
	width: 50%;
	margin-top: 9px;
	vertical-align: top;
	position: relative;
	background-color: #e8e8e8;
}
.g-hr-h:before {
	left: -13px;
	margin-left: -50%;
}
.g-hr-h:after {
	left: 13px;
	margin-right: -50%;
}
.g-hr-h i {
	font-size: 16px;
	line-height: 20px;
	height: 20px;
	width: 20px;
	vertical-align: top;
	text-align: center;
	color: #e8e8e8;
}
/* SIZE: small */
.g-hr.size_small {
	margin: 1% 0;
}
/* SIZE: big */
.g-hr.size_big {
	margin: 3% 0;
}
/* TYPE: short */
.g-hr.type_short {
	width: 30%;
	margin-left: auto;
	margin-right: auto;
}
/* TYPE: simple */
.g-hr.type_simple .g-hr-h:before {
	left: 0;
	margin-left: 0;
	width: 100%;
}
.g-hr.type_simple .g-hr-h:after,
.g-hr.type_simple .g-hr-h i {
	display: none;
}
/* TYPE: invisible */
.g-hr.type_invisible {
	height: 0;
	padding: 0;
}


.g-html .highlight {
	color: #31c5c7;
}

.g-html .thin {
	font-weight: 300;
}
.g-html .bold {
	font-weight: 700;
}

.g-html .align_left {
	text-align: left;
}
.g-html .align_right {
	text-align: right;
}
.g-html .align_center {
	text-align: center;
}
.g-html .align_justify {
	text-align: justify;
}


/* ====================================
====== FORM ELEMENTS ==================
==================================== */

/* Labels & Inputs */
.g-form-row {
    padding: 0 0 15px;
}
.g-form-row-label {
	font-size: 16px;
	margin-bottom: 5px;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="date"],
textarea,
select {
	border: none;
	font-size: 16px;
	height: 42px;
	padding: 10px;
	border-radius: 5px;
	border-top: 1px solid rgba(0,0,0,0.08);
	box-shadow: 0 0 0 2px rgba(0,0,0,0);
	-webkit-transition: box-shadow 0.3s ease;
	transition: box-shadow 0.3s ease;
	background-color: #f2f2f2;
}
textarea {
	height: 150px;
	line-height: 24px;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
textarea:focus,
select:focus {
	border-color: transparent;
	box-shadow: 0 0 0 2px #999;
}

/* Buttons */
.g-btn,
input[type="submit"] {
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	padding: 13px 40px;
	margin: 4px 0;
	border: none !important;
	border-radius: 5px;
	overflow: hidden;
	-webkit-transition: background-color 0.3s ease, color 0.3s ease;
	transition: background-color 0.3s ease, color 0.3s ease;
}
.g-btn span {
	position: relative;
	z-index: 1;
}
.g-btn span i {
	margin: 0 14px 0 -2px;
	line-height: .9em;
}
.g-btn:active {
	top: 0;
}
.no-touch .g-btn:after {
	display: block;
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 100%;
	z-index: 0;
	-webkit-transition: height 0.3s ease;
	transition: height 0.3s ease;
}
.no-touch .g-btn:hover:after {
	height: 100%;
}
/* TYPE: default */
.g-btn.type_default {
	background-color: #e8e8e8;
	color: #444;
}
.no-touch .g-btn.type_default:after {
	background-color: #444;
}
.no-touch .g-btn.type_default:hover {
	color: #fff;
}
/* TYPE: primary */
.g-btn.type_primary,
input[type="submit"] {
	background-color: #31c5c7;
	color: #fff;
}
.no-touch .g-btn.type_primary:after,
.no-touch input[type="submit"]:hover {
	background-color: #444;
}
.no-touch .g-btn.type_primary:hover,
.no-touch input[type="submit"]:hover {
	color: #fff;
}
/* TYPE: secondary */
.g-btn.type_secondary {
	background-color: #444;
	color: #fff;
}
.no-touch .g-btn.type_secondary:after {
	background-color: #31c5c7;
}
.no-touch .g-btn.type_secondary:hover {
	color: #fff;
}
/* SIZE: small */
.g-btn.size_small,
input.g-btn.size_small,
button.g-btn.size_small {
	font-size: 14px;
	line-height: 20px;
	padding: 10px 30px;
}
/* SIZE: big */
.g-btn.size_big,
input.g-btn.size_big,
button.g-btn.size_big {
	font-size: 22px;
	line-height: 32px;
	padding: 14px 44px;
}

/* Alerts */
.g-alert {
	text-align: left;
    padding: 0 20px;
	border-radius: 3px;
}
.g-alert-close {
	right: -38px;
	top: 12px;
	font-size: 20px;
	text-align: center;
	line-height: 30px;
	height: 30px;
	width: 30px;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30); /* hack for IE8 */
	opacity: 0.3;
	-webkit-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}
.g-alert-close:hover {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100); /* hack for IE8 */
	opacity: 1;
}
.g-alert-body {
	padding: 15px 0;
}
.g-alert-body p {
	margin: 0;
}

/* Pagination */
.g-pagination {
	text-align: center;
}
.g-pagination-item {
	font-size: 16px;
	line-height: 40px;
	height: 40px;
	width: 40px;
	padding: 0;
	margin: 0 3px;
	position: relative;
	border-radius: 50%;
	background-color: #f2f2f2;
	color: #444;
}
.g-pagination-item:hover {
	background-color: #444;
	color: #fff;
}
.g-pagination-item.active {
	font-weight: 700;
	background-color: #31c5c7;
	color: #fff;
}
.g-pagination-item.disabled {
	display: none;
}


/* ====================================
====== WIDGETS ========================
==================================== */

/* w-actionbox */
.w-actionbox {
	margin-bottom: 0;
	padding: 3%;
	border-radius: 5px;
	background-color: #f2f2f2;
}
.w-actionbox-text {
	padding: 0 20px;
}
.w-actionbox.controls_aside .w-actionbox-text {
	padding: 0;
}
.no-touch .w-actionbox-text a:hover {
	border-bottom: 1px solid;
}
.w-actionbox-text h3 + p {
	margin: 12px 0 0;
}
.w-actionbox-button.g-btn {
	margin: 0;
}
.w-actionbox.color_primary {
	background-color: #31c5c7;
	color: #fff;
}


/* w-blog */
.w-blog.imgpos_atleft .w-blog-list {
	border-bottom: 2px solid #e8e8e8;
}
.w-blog.imgpos_atleft .w-blog-entry {
	text-align: left;
	margin: 0;
	padding-right: 3%;
	border-top: 2px solid #e8e8e8;
	-webkit-transition: background-color 0.3s ease;
	transition: background-color 0.3s ease;
}
.no-touch .w-blog.imgpos_atleft .w-blog-entry:hover {
	background-color: #f2f2f2;
}
.w-blog.imgpos_atleft .w-blog-entry-h {
	min-height: 100px;
}
.w-blog.imgpos_atleft .w-blog-entry-preview {
	float: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.w-blog.imgpos_atleft .w-blog-entry-title {
	font-size: 24px;
	line-height: 34px;
	font-weight: 700;
	margin-left: 30%;
	margin-bottom: 1.5%;
	padding: 25px 0 0 35px;
}
.w-blog.imgpos_atleft .w-blog-entry-body {
	margin-left: 30%;
	padding-left: 35px;
}
.w-blog.imgpos_atleft .w-blog-entry-short {
	margin-bottom: 0;
	padding-bottom: 4px;
}
.w-blog.imgpos_atleft .w-blog-entry-meta-date {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 60px;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
	z-index: 2;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05);
	background-color: #fff;
	color: #444;
}
.w-blog.imgpos_atleft .w-blog-entry-meta-date-month {
	display: block;
	font-size: 16px;
	line-height: 20px;
	padding-top: 6px;
}
.w-blog.imgpos_atleft .w-blog-entry-meta-date-day {
	display: block;
	font-size: 32px;
	line-height: 32px;
	font-family: 'Dosis';
	font-weight: 700;
}
.w-blog.imgpos_atleft .w-blog-entry-meta-date-year {
	display: block;
	font-size: 13px;
	line-height: 24px;
	padding-bottom: 4px;
}
.w-blog.imgpos_atleft .w-blog-entry.sticky .w-blog-entry-title,
.w-blog.imgpos_atleft .w-blog-entry.sticky .w-blog-entry-short p {
	font-weight: 700;
}
.w-blog-load {
	text-align: center;
	line-height: 0;
	padding-top: 20px;
}
.w-blog-load #spinner {
	padding: 8px;
}


/* w-bloglist */
.w-bloglist-entry {
	line-height: 22px;
	padding: 0 0 10px 18px;
	margin-bottom: 10px;
	position: relative;
}
.w-bloglist-entry:last-child {
	margin-bottom: 0;
}
.no-touch .w-bloglist-entry a:hover {
	border-bottom: 1px solid;
}
.w-bloglist-entry-date {
	font-size: 14px;
	line-height: 18px;
}
.w-bloglist-entry:before {
	display: block;
	position: absolute;
	top: 0;
	left: 1px;
	content: '\f105';
	font-size: 18px;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	color: #999;
}


/* w-blogpost */
.w-blogpost {
	padding-bottom: 30px;
	text-align: left;
}
.w-blogpost-meta {
	margin-bottom: 20px;
	color: #999;
}
.no-touch .w-blogpost-meta a:hover {
	border-bottom: 1px solid;
}
.w-blogpost-meta i {
	font-size: 16px;
	margin-right: 6px;
	margin-left: 1px;
	color: #999;
}


/* w-clients */
.w-clients-item {
	vertical-align: middle;
	border: 2px solid transparent;
	border-radius: 5px;
	-webkit-transition: border 0.25s ease-out;
	transition: border 0.25s ease-out;
}
.w-clients-item:hover {
	border-color: #31c5c7;
}
.w-clients-item img {
	margin: 0 auto;
}
.w-clients.columns_5 .w-clients-item {
	width: 204px;
	margin-right: 30px;
}
.w-clients-nav {
	top: 50%;
	margin-top: -25px;
	font-size: 30px;
	text-align: center;
	line-height: 50px;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30); /* hack for IE8 */
	opacity: 0.3;
	background-color: #fff;
	color: #444;
}
.l-subsection.color_primary .w-clients-nav,
.l-subsection.color_primary .w-clients-nav:hover,
.l-subsection.color_dark .w-clients-nav:hover {
	color: #444;
}
.w-clients-nav:hover {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=75); /* hack for IE8 */
	opacity: 0.75;
}
.w-clients-nav.to_prev {
	left: -70px;
}
.w-clients-nav.to_prev:before {
	display: block;
	content: '\f104';
	font-family: FontAwesome;
	margin-right: 3px;
}
.w-clients-nav.to_next {
	right: -70px;
}
.w-clients-nav.to_next:before {
	display: block;
	content: '\f105';
	font-family: FontAwesome;
	margin-left: 3px;
}
.w-clients-nav.disabled,
.w-clients-nav.disabled:hover {
	cursor: default;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=10); /* hack for IE8 */
	opacity: 0.1;
}


/* w-comments */
.w-comments {
	padding-top: 30px;
	border-top: 1px solid #e8e8e8;
}
.w-comments-title i {
	margin-right: 10px;
	margin-left: 1px;
	color: #999;
}
.w-comments-title a {
	border-bottom: none;
}
.w-comments-item-meta,
.w-comments-item-text,
.w-comments-item-answer {
	margin-left: 70px;
}
.w-comments-item-icon {
	top: 20px;
	font-size: 20px;
	text-align: center;
	line-height: 50px;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	overflow: hidden;
	background-color: #f2f2f2;
	color: #999;
}
.w-comments-item-icon i {
	line-height: inherit;
}
.w-comments-item-date {
	float: none;
	color: #999;
}
.w-comments-item {
	padding-top: 20px;
	margin-bottom: 20px;
}
.w-comments-item-text {
	margin-bottom: 0;
}
.w-comments-item-text p {
	margin-bottom: 16px;
}
.w-comments-item-meta a:hover,
.w-comments-item-answer:hover,
.w-comments-item-answer a:hover {
	border-bottom: 1px solid;
}
.w-comments .g-pagination {
	font-size: inherit;
	margin: 10px 0;
}
.w-comments .g-pagination a {
	margin-right: 10px;
}
.no-touch .w-comments .g-pagination a:hover {
	border-bottom: 1px solid;
}
.w-comments-form {
	padding: 20px 0;
}


/* w-contacts */
.no-touch .w-contacts a:hover {
	border-bottom: 1px solid;
}
.l-main .w-contacts-list {
	margin: 0 -28px;
}
.l-main .w-contacts-item {
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
	padding: 0 20px;
	margin-bottom: 15px;
}
.l-main .w-contacts-item > i {
	display: inline-block;
	vertical-align: middle;
	font-size: 24px;
	text-align: center;
	line-height: 50px;
	height: 50px;
	width: 50px;
	margin: 8px;
	border-radius: 50%;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	background-color: #f2f2f2;
	color: #444;
}
.l-main .w-contacts-item-value {
	display: inline-block;
	vertical-align: middle;
	font-size: 24px;
	line-height: 34px;
	margin: 0 8px;
	text-transform: uppercase;
}
/* w-contacts in footer */
.l-footer .w-contacts-item > i {
	float: left;
	font-size: 20px;
	text-align: center;
	line-height: 26px;
	height: 26px;
	width: 26px;
}
.l-footer .w-contacts-item-value {
	margin: 0 0 14px 36px;
}
.l-footer .w-contacts-item:last-child  .w-contacts-item-value {
	margin-bottom: 0;
}


/* w-copyright */
.w-copyright {
	float: left;
	font-size: 13px;
	line-height: 50px;
}
.no-touch .w-copyright a:hover {
	border-bottom: 1px solid;
}


/* w-counter */
.w-counter {
	text-align: center;
	margin: 0 auto;
	max-width: 300px;
}
.w-counter-number {
	font: 700 80px/80px 'Dosis';
	color: #31c5c7;
}
.w-counter h6.w-counter-title {
	padding-top: 10px;
	margin: 0;
	text-transform: none;
}


/* w-form */
.w-form {
	text-align: center;
	max-width: 450px;
	margin: 0 auto;
}
.w-form .g-form-row-label {
	text-align: left;
}
.w-form .g-form-row-field {
	position: relative;
}
.w-form .g-form-row-field > i {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 20px;
	text-align: center;
	line-height: 42px;
	height: 42px;
	width: 50px;
	z-index: 1;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=33); /* hack for IE8 */
	opacity: 0.33;
}
.w-form .g-form-row-field > input[type="text"],
.w-form .g-form-row-field > input[type="password"],
.w-form .g-form-row-field > input[type="email"],
.w-form .g-form-row-field > textarea,
.w-form .g-form-row-field > select {
	/*padding-left: 50px;*/
}


/* w-form */
.w-form-loggin {
	text-align: right;
	/*margin: 6% 4% 0 53%;*/
	max-width: 540px;
}
.w-form-loggin .g-form-row-label {
	text-align: left;
}
.w-form-loggin .g-form-row-field {
	position: relative;
	width: 60%;
}
.w-form-loggin .g-form-row-field > i {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 20px;
	text-align: center;
	line-height: 42px;
	height: 42px;
	width: 50px;
	z-index: 1;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=33); /* hack for IE8 */
	opacity: 0.33;
}
.w-form-loggin .g-form-row-field > input[type="text"],
.w-form-loggin .g-form-row-field > input[type="password"],
.w-form-loggin .g-form-row-field > input[type="email"],
.w-form-loggin .g-form-row-field > textarea,
.w-form-loggin .g-form-row-field > select {
	/*padding-left: 50px;*/
}
.w-form-loggin .g-form-row-field .g-btn{width:100%;}
#form_bg
{
	float:right;
	width:40%;
}
#logo_bg
{
	float:left;
	width:50%;
	margin: 5% 0 1% 1%;
}
#logo_bg img{width: 70%;height: auto;min-width: 130px;}
#franja
{
	background-image:url('../img/linea_traslucida.png');
	width:100%;
	/*max-height:558px;*/
	margin-top:5%;
	height: auto;
}


/* w-gallery */
.w-gallery-tnails-h {
	text-align: center;
}
.w-gallery.size_s .w-gallery-tnails-h {
	margin: -3px;
}
.w-gallery.size_s .w-gallery-tnail {
	height: 185px;
	width: 185px;
	margin: 3px;
}
.w-gallery.size_m .w-gallery-tnails-h {
	margin: -5px;
}
.w-gallery.size_m .w-gallery-tnail {
	height: 220px;
	width: 220px;
	margin: 5px;
}
.w-gallery.size_l .w-gallery-tnails-h {
	margin: -6px;
}
.w-gallery.size_l .w-gallery-tnail {
	height: 276px;
	width: 276px;
	margin: 6px;
}
.no-touch .w-gallery-tnail-hover {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	font-size: 0;
	height: 0;
	width: 100%;
	overflow: hidden;
	-webkit-transition: height 0.3s ease, font-size 0.3s ease;
	transition: height 0.3s ease, font-size 0.3s ease;
}
.no-touch .w-gallery-tnail:hover .w-gallery-tnail-hover {
	font-size: 40px;
	height: 100%;
}
.no-touch .w-gallery-tnail-hover:before {
	display: block;
	content: '';
	height: 100%;
	width: 100%;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=75); /* hack for IE8 */
	opacity: 0.75;
	background-color: #000;
}
.no-touch .w-gallery-tnail-hover i {
	position: absolute;
	top: 50%;
	left: 50%;
	line-height: 60px;
	height: 60px;
	width: 60px;
	margin: -30px 0 0 -30px;
	color: #fff;
}


/* w-icon */
.w-icon {
	display: inline-block;
	vertical-align: top;
	margin: 4px;
}
.w-icon-link {
	display: block;
	color: #444;
}
.l-subsection.color_dark .w-icon-link:hover {
	color: #31c5c7;
}
/* WITH: circle */
.w-icon.with_circle {
	text-align: center;
	border-radius: 50%;
	overflow: hidden;
}
.w-icon.with_circle .w-icon-link {
	background-color: #f2f2f2;
}
/* COLOR: border */
.w-icon.color_border .w-icon-link {
	color: #e8e8e8;
}
.w-icon.color_border.with_circle .w-icon-link {
	background-color: #e8e8e8;
	color: #fff;
}
/* COLOR: primary */
.w-icon.color_primary .w-icon-link {
	color: #31c5c7;
}
.w-icon.color_primary.with_circle .w-icon-link {
	background-color: #31c5c7;
	color: #fff !important;
}
/* COLOR: secondary */
.w-icon.color_secondary .w-icon-link {
	color: #444;
}
.w-icon.color_secondary.with_circle .w-icon-link {
	background-color: #444;
	color: #fff !important;
}
/* COLOR: fade */
.w-icon.color_fade .w-icon-link {
	color: #999;
}
/* SIZE: tiny */
.w-icon.size_tiny {
	font-size: 24px;
}
.w-icon.size_tiny.with_circle {
	font-size: 16px;
	line-height: 36px;
	height: 36px;
	width: 36px;
}
/* SIZE: small */
.w-icon.size_small {
	font-size: 36px;
}
.w-icon.size_small.with_circle {
	font-size: 24px;
	line-height: 48px;
	height: 48px;
	width: 48px;
}
/* SIZE: medium */
.w-icon.size_medium {
	font-size: 48px;
}
.w-icon.size_medium.with_circle {
	font-size: 32px;
	line-height: 60px;
	height: 60px;
	width: 60px;
}
/* SIZE: big */
.w-icon.size_big {
	font-size: 68px;
}
.w-icon.size_big.with_circle {
	font-size: 48px;
	line-height: 86px;
	height: 86px;
	width: 86px;
}
/* SIZE: huge */
.w-icon.size_huge {
	font-size: 90px;
}
.w-icon.size_huge.with_circle {
	font-size: 64px;
	line-height: 110px;
	height: 110px;
	width: 110px;
}


/* w-iconbox */
.w-iconbox {
	position: relative;
}
.w-iconbox-link {
	display: inline;
}
.w-iconbox-icon {
	position: relative;
	color: #31c5c7;
	-webkit-transition: color 0.3s ease;
	transition: color 0.3s ease;
}
.w-iconbox-icon i {
	vertical-align: top;
	line-height: inherit;
}
.w-iconbox.with_img .w-iconbox-icon i {
	display: none;
}
.w-iconbox .w-iconbox-title {
	color: #444;
	-webkit-transition: color 0.3s ease;
	transition: color 0.3s ease;
}
.w-iconbox-link:hover .w-iconbox-icon,
.w-iconbox-link:hover .w-iconbox-title {
	color: #444;
}
.w-iconbox-text p,
.w-iconbox-text ul,
.w-iconbox-text ol {
	margin-bottom: 0;
}
/* ICONPOS: left */
.w-iconbox.iconpos_left {
	text-align: left;
}
.w-iconbox.iconpos_left .w-iconbox-icon {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 36px;
	line-height: 40px;
	height: 40px;
	width: 40px;
}
.w-iconbox.iconpos_left.with_circle .w-iconbox-icon {
	font-size: 28px;
	line-height: 70px;
	height: 70px;
	width: 70px;
}
.w-iconbox.iconpos_left .w-iconbox-title {
	margin-left: 55px;
	padding-bottom: 12px;
}
.w-iconbox.iconpos_left.with_circle .w-iconbox-title {
	margin-left: 95px;
}
.w-iconbox.iconpos_left.with_circle .w-iconbox-text {
	margin-left: 95px;
}
/* ICONPOS: top */
.w-iconbox.iconpos_top {
	text-align: center;
	max-width: 350px;
	margin: 0 auto;
}
.w-iconbox.iconpos_top .w-iconbox-icon {
	font-size: 80px;
	line-height: 90px;
	height: 90px;
	width: 90px;
	margin: 0 auto;
}
.w-iconbox.iconpos_top.with_circle .w-iconbox-icon {
	font-size: 40px;
}
.w-iconbox.iconpos_top .w-iconbox-title {
	padding: 15px 0 10px;
}
/* WITH: circle */
.w-iconbox.with_circle .w-iconbox-icon {
	text-align: center;
	border-radius: 50%;
	background-color: #444;
	color: #fff;
	box-shadow: 0 1px 1px rgba(0,0,0,0.05);
	-webkit-transition: background-color 0.3s ease, color 0.3s ease;
	transition: background-color 0.3s ease, color 0.3s ease;
}
.w-iconbox.with_circle .w-iconbox-link:hover .w-iconbox-icon {
	background-color: #31c5c7;
	color: #fff;
}
.no-touch .w-iconbox.with_circle .w-iconbox-icon:after {
	display: block;
	content: '';
	position: absolute;
	left: -5px;
	top: -5px;
	padding: 5px;
	height: 100%;
	width: 100%;
	border-radius: 50%;
	box-shadow: 0 0 0 3px #31c5c7;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); /* hack for IE8 */
	opacity: 0;
	transform: scale(0.8);
	-webkit-transition: opacity 0.3s ease;
	transition: transform 0.3s ease, opacity 0.3s ease;
}
.no-touch .w-iconbox.with_circle .w-iconbox-link:hover .w-iconbox-icon:after {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100); /* hack for IE8 */
	opacity: 1;
	transform: scale(1);
}
.w-iconbox.with_circle .w-iconbox-link:hover .w-iconbox-title {
	color: #31c5c7;
}


/* w-links */
.w-links-item {
	line-height: 22px;
	padding: 7px 18px;
	position: relative;
}
.w-links-anchor {
	display: inline;
	padding: 0;
	position: static;
}
.no-touch .w-links-anchor:hover {
	border-bottom: 1px solid;
}
.w-links-anchor:before {
	display: block;
	position: absolute;
	top: 7px;
	left: 1px;
	content: '\f105';
	font-size: 18px;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	color: #999;
}


/* w-logo */
.w-logo {
	float: left;
	height: 100%;
}
.w-logo-h {
	height: 100%;
}
.w-logo-link {
	display: block;
	height: 100%;
}
.w-logo-img {
	display: inline-block;
	vertical-align: middle;
	max-height: 100%;
	height: 50%;
}
.w-logo-title {
	font-size: 36px;
	font-weight: 700;
	font-family: 'Dosis';
	line-height: inherit;
	text-transform: uppercase;
	color: #666;
	-webkit-transition: color 0.3s ease;
	transition: color 0.3s ease;
}
.w-logo-link:hover .w-logo-title {
	color: #333;
}


/* w-map */
.w-map img {
	max-width: none;
}
.w-map label {
	display: inline;
	width: auto;
}


/* w-nav */
.l-subheader .w-nav {
	float: right;
}
.l-subheader .w-nav-control {
	display: none;
	position: relative;
	font-size: 21px;
	text-align: center;
	line-height: inherit;
	height: inherit;
	width: 50px;
	cursor: pointer;
	color: #666;
}
.l-subheader .w-nav-control:hover,
.l-subheader .w-nav-control:active {
	color: #333;
}
.l-subheader .w-nav-control i {
	display: block;
	line-height: inherit;
}
.l-subheader .w-nav-list {
	min-width: 50px;
}
.l-subheader .w-nav-item.level_1 {
	font-size: 17px;
	font-weight: 700;
	font-family: 'Dosis';
	line-height: inherit;
	text-transform: uppercase;
}
.l-subheader .w-nav-anchor.level_1 {
	padding: 0 20px;
	color: #666;
}
.l-subheader .w-nav-item.level_1:hover .w-nav-anchor.level_1 {
	color: #333;
}
.l-subheader .w-nav-item.level_1.active .w-nav-anchor.level_1,
.l-subheader .w-nav-item.level_1.current-menu-item .w-nav-anchor.level_1,
.l-subheader .w-nav-item.level_1.current-menu-ancestor .w-nav-anchor.level_1 {
	color: #31c5c7;
}
.l-subheader .w-nav-item.level_1 .w-nav-anchor.level_1:before {
	display: none;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 0;
	width: 100%;
	-webkit-transition: height 0.3s ease;
	transition: height 0.3s ease;
	background-color: #f5f5f5;
}
.no-touch .l-subheader .w-nav-item.level_1 .w-nav-anchor.level_1:before {
	display: block;
}
.l-subheader .w-nav-item.level_1:hover .w-nav-anchor.level_1:before {
	height: 100%;
}
.l-subheader .w-nav-anchor.level_1 > .w-nav-title {
	position: relative;
}
/* w-nav dropdown list */
.l-subheader .w-nav-list.level_2,
.l-subheader .w-nav-list.level_3 {
	z-index: 10;
}
.l-subheader .w-nav-item.level_1:last-child .w-nav-list.level_2 {
	left: auto;
	right: 0;
}
.l-subheader .w-nav-item.level_1:last-child .w-nav-list.place_aside {
	left: auto;
	right: 100%;
}
.l-subheader .w-nav-list.level_2 .w-nav-item {
	font-size: 15px;
	line-height: 20px;
}
.l-subheader .w-nav-list.level_2,
.l-subheader .w-nav-list.level_3 {
	background-color: #f5f5f5;
	box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.l-subheader .w-nav-list.level_2 .w-nav-anchor {
	padding: 10px 20px;
	white-space: nowrap;
	color: #666;
}
.l-subheader .w-nav-item.level_2:hover .w-nav-anchor.level_2,
.l-subheader .w-nav-item.level_3:hover .w-nav-anchor.level_3 {
	background-color: #fff;
	color: #333;
}
.l-subheader .w-nav-item.level_2.active .w-nav-anchor.level_2,
.l-subheader .w-nav-item.level_2.current-menu-item .w-nav-anchor.level_2,
.l-subheader .w-nav-item.level_2.current-menu-ancestor .w-nav-anchor.level_2,
.l-subheader .w-nav-item.level_3.active .w-nav-anchor.level_3,
.l-subheader .w-nav-item.level_3.current-menu-item .w-nav-anchor.level_3,
.l-subheader .w-nav-item.level_3.current-menu-ancestor .w-nav-anchor.level_3 {
	color: #31c5c7;
}
/* w-nav sublevel arrow */
.l-subheader .w-nav-anchor .w-nav-hint {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 16px;
	font-weight: normal;
	line-height: inherit;
	height: 100%;
	width: 20px;
	margin: 0;
}
.l-subheader .w-nav-anchor .w-nav-hint:after {
	display: block;
	content: '\f078';
	font-family: FontAwesome;
}
.l-subheader .w-nav-anchor.level_2 .w-nav-hint:after {
	content: '\f105';
	line-height: 40px;
}
.l-subheader .w-nav-item.level_2.with_sublevel .w-nav-anchor.level_2 > .w-nav-title,
.l-subheader .w-nav-item.level_3.with_sublevel .w-nav-anchor.level_3 > .w-nav-title {
	padding-right: 20px;
}
.l-subheader .w-nav-item.level_2.with_sublevel .w-nav-anchor.level_2 > .w-nav-hint,
.l-subheader .w-nav-item.level_3.with_sublevel .w-nav-anchor.level_3 > .w-nav-hint {
	display: block;
}
/* TOUCH: enabled */
.l-subheader .w-nav.touch_enabled {
	position: static;
	width: 50px;
}
.l-subheader .w-nav.touch_enabled .w-nav-h {
	position: static;
}
.l-subheader .w-nav.touch_enabled .w-nav-control {
	display: block;
}
.l-subheader .w-nav.touch_enabled .w-nav-list.level_1 {
	position: absolute;
	top: 60px;
	left: 0;
	right: 0;
	padding: 0 3%;
	max-height: 300px;
	overflow-y: auto !important;
	box-shadow: 0 5px 10px rgba(0,0,0,0.1);
	background-color: #fff;
}
.l-subheader .w-nav.touch_enabled .w-nav-item {
	float: none;
	width: 100%;
	line-height: 26px;
}
.l-subheader .w-nav.touch_enabled .w-nav-anchor {
	border-top: 1px solid #e8e8e8;
}
.l-subheader .w-nav.touch_enabled .w-nav-anchor.level_1:after,
.l-subheader .w-nav.touch_enabled .w-nav-anchor.level_1:before {
	display: none !important;
}
.l-subheader .w-nav.touch_enabled .w-nav-anchor .w-nav-hint {
	font-size: 18px;
	text-align: center;
	line-height: 46px;
	width: 50px;
	-webkit-transition: -webkit-transform 0.3s ease;
	transition: transform 0.3s ease;
}
.l-subheader .w-nav.touch_enabled .w-nav-anchor.level_2 .w-nav-hint:after {
	content: '\f078';
	line-height: 46px;
}
.l-subheader .w-nav.touch_enabled .w-nav-item.level_1.with_sublevel .w-nav-anchor.level_1 > .w-nav-title,
.l-subheader .w-nav.touch_enabled .w-nav-item.level_2.with_sublevel .w-nav-anchor.level_2 > .w-nav-title,
.l-subheader .w-nav.touch_enabled .w-nav-item.level_3.with_sublevel .w-nav-anchor.level_3 > .w-nav-title {
	padding-right: 50px;
}
.l-subheader .w-nav.touch_enabled .w-nav-item.level_1.with_sublevel .w-nav-anchor.level_1 > .w-nav-hint {
	display: block;
}
.l-subheader .w-nav.touch_enabled .w-nav-item.level_1.open .w-nav-anchor.level_1 .w-nav-hint,
.l-subheader .w-nav.touch_enabled .w-nav-item.level_2.open .w-nav-anchor.level_2 .w-nav-hint {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.l-subheader .w-nav.touch_enabled .w-nav-list.level_2,
.l-subheader .w-nav.touch_enabled .w-nav-list.level_3,
.l-subheader .w-nav.touch_enabled .w-nav-item.level_1:last-child .w-nav-list.level_2,
.l-subheader .w-nav.touch_enabled .w-nav-item.level_1:last-child .w-nav-list.place_aside {
	display: block;
	position: relative;
	left: 0;
	right: 0;
	top: 0;
	padding: 0 0 0 20px;
	background-color: transparent;
	box-shadow: none;
}
.l-subheader .w-nav.touch_enabled .w-nav-list.level_2 .w-nav-item {
	line-height: 26px;
}
.l-subheader .w-nav.touch_enabled .w-nav-item.level_1 .w-nav-anchor.level_1,
.l-subheader .w-nav.touch_enabled .w-nav-item.level_1:hover .w-nav-anchor.level_1,
.l-subheader .w-nav.touch_enabled .w-nav-item.level_1.active:hover .w-nav-anchor.level_1,
.l-subheader .w-nav.touch_enabled .w-nav-item.level_1.current-menu-item:hover .w-nav-anchor.level_1,
.l-subheader .w-nav.touch_enabled .w-nav-item.level_1.current-menu-ancestor:hover .w-nav-anchor.level_1,
.l-subheader .w-nav.touch_enabled .w-nav-item.level_2 .w-nav-anchor.level_2,
.l-subheader .w-nav.touch_enabled .w-nav-item.level_2:hover .w-nav-anchor.level_2,
.l-subheader .w-nav.touch_enabled .w-nav-item.level_2.active:hover .w-nav-anchor.level_2,
.l-subheader .w-nav.touch_enabled .w-nav-item.level_2.current-menu-item:hover .w-nav-anchor.level_2,
.l-subheader .w-nav.touch_enabled .w-nav-item.level_2.current-menu-ancestor:hover .w-nav-anchor.level_2,
.l-subheader .w-nav.touch_enabled .w-nav-item.level_3 .w-nav-anchor.level_3,
.l-subheader .w-nav.touch_enabled .w-nav-item.level_3:hover .w-nav-anchor.level_3,
.l-subheader .w-nav.touch_enabled .w-nav-item.level_3.active:hover .w-nav-anchor.level_3,
.l-subheader .w-nav.touch_enabled .w-nav-item.level_3.current-menu-item:hover .w-nav-anchor.level_3,
.l-subheader .w-nav.touch_enabled .w-nav-item.level_3.current-menu-ancestor:hover .w-nav-anchor.level_3 {
	text-align: left;
	padding: 10px 0;
	margin: 0;
	background-color: transparent;
}


/* w-portfolio */
.w-portfolio-list-h {
	font-size: 0;
	text-align: left;
	margin: 0;
	box-shadow: 0 -1px 0 rgba(0,0,0,0.1) inset;
}
.w-portfolio-item {
	float: none;
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	padding: 0;
	margin-bottom: 0;
	width: 25%;
	overflow: visible;
}
.w-portfolio-item-anchor {
	display: block;
	height: 300px; /* variable */
	width: 100%;
	overflow: hidden;
	position: relative;
	z-index: 1;
}
.w-portfolio-item-anchor:after {
	display: none;
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -20px;
	height: 0;
	width: 0;
	z-index: 2;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid #fff;
}
.w-portfolio-item.active .w-portfolio-item-anchor:after {
	display: block;
}
.w-portfolio-item-image {
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.w-portfolio-item-meta {
	padding: 60px 30px 30px;
	background-image: linear-gradient(to top, rgba(40,40,40,0.5) 0px, transparent 100%);
	background-repeat: repeat-x;
	text-align: left;
	z-index: 2;
}
.w-portfolio-item-title {
	font-size: 22px;
	line-height: 28px;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,0.3);
}
.w-portfolio-item-text {
	font-size: 13px;
	line-height: 18px;
	color: #fff;
	margin-top: 4px;
	text-shadow: 0 1px 1px rgba(0,0,0,0.3);
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=75); /* hack for IE8 */
	opacity: 0.75;
}
.no-touch .w-portfolio-item-hover {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 0;
	width: 100%;
	font-size: 0;
	text-align: center;
	overflow: hidden;
	z-index: 1;
	-webkit-transition: height 0.3s ease, font-size 0.25s ease;
	transition: height 0.3s ease, font-size 0.25s ease;
}
.no-touch .w-portfolio-item-anchor:hover .w-portfolio-item-hover {
	height: 100%;
	font-size: 40px;
}
.no-touch .w-portfolio-item.active .w-portfolio-item-hover {
	display: none;
}
.no-touch .w-portfolio-item-hover:before {
	display: block;
	content: '';
	height: 100%;
	width: 100%;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=75); /* hack for IE8 */
	opacity: 0.75;
	background-color: #000;
}
.no-touch .w-portfolio-item-hover i {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -30px 0 0 -30px;
	font-size: inherit;
	line-height: 60px;
	height: 60px;
	width: 60px;
	color: #fff;
}
.w-portfolio-item-details {
	position: absolute;
	top: auto;
	left: 0;
	height: auto;
	width: 100%;
	overflow: hidden;
}
.w-portfolio-item-details-h {
	max-width: 1260px;
	margin: 0 auto;
	padding: 60px;
}
.w-portfolio-item-details-content {
	overflow: hidden;
}
.w-portfolio-item-details-content-preview {
	float: left;
	margin-right: 4%;
	width: 66%;
	line-height: 0;
}
.w-portfolio-item-details-content-text {
	float: left;
	text-align: left;	
	width: 30%;
}
.w-portfolio-item-details-close {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	font-size: 32px;
	text-align: center;
	line-height: 60px;
	height: 60px;
	width: 60px;
	cursor: pointer;
	z-index: 1;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30); /* hack for IE8 */
	opacity: 0.3;
	-webkit-transition: background-color 0.3s ease, opacity 0.3s ease;
	transition: background-color 0.3s ease, opacity 0.3s ease;
}
.w-portfolio-item-details-close:hover {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100); /* hack for IE8 */
	opacity: 1;
	background-color: #f2f2f2;
}
.w-portfolio-item-details-close:before {
	display: block;
	content: '\2715';
	cursor: pointer;
}
.w-portfolio-item-details-arrow {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 60px;
	cursor: pointer;
	z-index: 0;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30); /* hack for IE8 */
	opacity: 0.3;
	-webkit-transition: background-color 0.3s ease, opacity 0.3s ease;
	transition: background-color 0.3s ease, opacity 0.3s ease;
}
.w-portfolio-item-details-arrow:hover {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100); /* hack for IE8 */
	opacity: 1;
	background-color: #f2f2f2;
}
.w-portfolio-item-details-arrow.disabled {
	cursor: default;
	background-color: transparent;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=20); /* hack for IE8 */
	opacity: 0.2;
}
.w-portfolio-item-details-arrow.to_next {
	left: auto;
	right: 0;
}
.w-portfolio-item-details-arrow i {
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	font-size: 44px;
	text-align: center;
	line-height: 60px;
	height: 60px;
	width: 56px;
	margin-top: -30px;
}
.w-portfolio-item-details-arrow.to_next i {
	right: 0;
	left: auto;
}


/* w-pricing */
.w-pricing {
	margin-bottom: 40px;
}
.w-pricing-item-h {
	margin: 10px 0;
	border-bottom: 1px solid #e8e8e8;
	border-left: 1px solid #e8e8e8;
}
.w-pricing-item:first-child .w-pricing-item-h,
.w-pricing-item:first-child .w-pricing-item-title,
.w-pricing-item:first-child .w-pricing-item-price {
	border-left: none;
}
.w-pricing-item-header {
	margin-bottom: 20px;
}
.w-pricing-item-title {
	font: 700 18px/18px 'Dosis';
	text-transform: uppercase;
	padding: 15px 0;
	background-color: #444;
	color: #fff;
}
.w-pricing-item-price {
	font: 44px/44px 'Dosis';
	padding: 20px;
	background-color: rgba(0,0,0,0.05);
}
.w-pricing-item-price small {
	display: block;
	font-size: 16px;
	line-height: 20px;
	margin-top: 4px;
}
.w-pricing-item .w-pricing-item-features {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.w-pricing-item .w-pricing-item-features li {
	padding: 6px 30px;
	margin: 0;
}
.w-pricing-item-footer {
	padding: 30px 0;
}
.w-pricing-item.type_featured .w-pricing-item-h {
	margin: 0;
	position: relative;
	border-left: none;
	box-shadow: 0 1px 10px rgba(0,0,0,0.15);
}
.w-pricing-item.type_featured .w-pricing-item-title {
	padding: 20px 0;
	background-color: #31c5c7;
	color: #fff;
}
.w-pricing-item.type_featured .w-pricing-item-footer {
	padding-bottom: 40px;
}
.w-pricing-item.type_featured + .w-pricing-item .w-pricing-item-h {
	border-left: none;
}


/* w-search */
.w-search-form {
	min-width: 100px;
}
.widget .w-search form input[type="submit"] {
	font-size: 13px;
	line-height: 42px;
	height: 42px;
	width: 70px;
	margin: 0;
	padding: 0;
	border-radius: 0 5px 5px 0;
}


/* w-socials */
.w-socials-list {
	font-size: 0;
	margin: 0 -2px;
}
.w-socials-item {
	float: none;
	display: inline-block;
	vertical-align: top;
	margin: 2px;
	background: none !important;
}
.w-socials-item-link {
	position: relative;
	border-radius: 3px;
	overflow: hidden;
	color: #999;
}
.w-socials-item-link:hover {
	border: none !important;
	color: #fff !important;
}
.w-socials-item-link i {
	position: relative;
}
.w-socials.size_big .w-socials-item-link i {
	font-size: 24px;
}
.w-socials-item .w-socials-item-link:before {
	display: block;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 0;
	width: 100%;
	-webkit-transition: height 0.3s ease;
	transition: height 0.3s ease;
}
.w-socials-item:hover .w-socials-item-link:before {
	height: 100%;
}
/* w-socials icons colors */
.w-socials-item.rss .w-socials-item-link:before {
	background-color: #ff9702;
}					
.w-socials-item.facebook .w-socials-item-link:before {
	background-color: #3b5998;
}
.w-socials-item.twitter .w-socials-item-link:before {
	background-color: #00acee;
}
.w-socials-item.gplus .w-socials-item-link:before {
	background-color: #c63b1e;
}
.w-socials-item.linkedin .w-socials-item-link:before {
	background-color: #0073b2;
}
.w-socials-item.youtube .w-socials-item-link:before {
	background-color: #cd332d;
}
.w-socials-item.vimeo .w-socials-item-link:before {
	background-color: #20b9eb;
}
.w-socials-item.email .w-socials-item-link:before {
	background-color: #697277;
}
.w-socials-item.skype .w-socials-item-link:before {
	background-color: #00aff0;
}
.w-socials-item.flickr .w-socials-item-link:before {
	background-color: #ff0084;
}
.w-socials-item.pinterest .w-socials-item-link:before {
	background-color: #cb2027;
}
.w-socials-item.tumblr .w-socials-item-link:before {
	background-color: #2c4762;
}
.w-socials-item.blogger .w-socials-item-link:before {
	background-color: #fc9947;
}
.w-socials-item.dribbble .w-socials-item-link:before {
	background-color: #ea4c89;
}
.w-socials-item.vk .w-socials-item-link:before {
	background-color: #4e7299;
}
.w-socials-item.instagram .w-socials-item-link:before {
	background-color: #a17357;
}
.w-socials-item-popup {
	display: none;
	font-size: 13px;
	visibility: hidden;
	border-radius: 3px;
	z-index: 10;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); /* hack for IE8 */
	opacity: 0;
	transform: translateY(-20px);
	-webkit-transition: opacity 0.2s ease 0.3s;
	transition: transform 0.2s ease 0.3s, opacity 0.2s ease 0.3s;
}
.w-socials-item:hover .w-socials-item-popup {
	visibility: visible;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100); /* hack for IE8 */
	opacity: 1;
	transform: translateY(0);
}
.no-touch .l-main .w-socials-item-popup,
.l-subfooter.at_top + .l-subfooter.at_bottom .w-socials-item-popup {
	display: block;
}
.l-header .w-socials-item-popup,
.l-subfooter.at_bottom .w-socials-item-popup {
	display: none !important;
}
/* socials in header */
.l-header .w-socials {
	float: right;
	margin-left: 15px;
	padding: 20px 0;
}
.l-header .w-socials-list {
	height: 40px;
}
.l-header .w-socials-item {
	margin-top: 0;
	margin-bottom: 0;
}
.l-header .w-socials-item-link {
	line-height: 40px;
	color: #666;
}
/* socials in footer */
.l-footer .w-socials {
	float: right;
	padding: 5px 0;
}
.l-footer .w-socials-h {
	display: inline-block;
	vertical-align: top;
}
.l-footer .w-socials-item {
	margin-top: 0;
	margin-bottom: 0;
}
.l-footer .w-socials-item-link {
	color: #999;
}


/* w-tabs */
.w-tabs {
	text-align: left;
}
.w-tabs-list {
	text-align: left;
	background-color: #f2f2f2;
	box-shadow: 0 -1px 0 rgba(0,0,0,0.05) inset;
}
.w-tabs-item {
	padding: 12px 20px;
	border-top: 3px solid transparent;
	-webkit-transition: background-color 0.25s ease, color 0.25s ease;
	transition: background-color 0.25s ease, color 0.25s ease;
}	
.w-tabs-item:hover {
	background-color: rgba(0,0,0,0.03);
}	
.w-tabs-item.active {
	box-shadow: none;
	background-color: #fff;
	border-color: #31c5c7;
	color: #31c5c7;
}
.w-tabs.layout_accordion .w-tabs-section-title-text,
.w-tabs-item-title {
	font-size: 20px;
	font-family: 'Dosis';
	text-transform: uppercase;
}
.w-tabs-section-content-h {
	padding: 25px 0 1px;
}
.w-tabs-section-title {
	padding: 12px 20px;
}
.w-tabs-item-icon,
.w-tabs-section-title-icon {
	font-size: 18px;
	top: 14px;
	left: 20px;
}
.w-tabs-section-title-icon {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50); /* hack for IE8 */
	opacity: 0.5;
	-webkit-transition: opacity 0.25s ease;
	transition: opacity 0.25s ease;
}
.w-tabs-section-title:hover .w-tabs-section-title-icon,
.w-tabs-section.active .w-tabs-section-title-icon {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100); /* hack for IE8 */
	opacity: 1;
}	
.w-tabs-item.with_icon .w-tabs-item-title,
.w-tabs-section.with_icon .w-tabs-section-title-text {
	margin-left: 32px;
}
/* LAYOUT: accordion */
.w-tabs.layout_accordion {
	border-bottom: 1px solid #e8e8e8;
}
.w-tabs.layout_accordion .w-tabs-section {
	border-top: 1px solid #e8e8e8;
}
.w-tabs.layout_accordion .w-tabs-section-title {
	-webkit-transition: background-color 0.25s ease, color 0.25s ease;
	transition: background-color 0.25s ease, color 0.25s ease;
}
.w-tabs.layout_accordion .w-tabs-section-title:hover {
	background-color: #f2f2f2;
}
.w-tabs.layout_accordion .w-tabs-section.active .w-tabs-section-title {
	color: #31c5c7;
}
.w-tabs.layout_accordion .w-tabs-section-content-h {
	padding: 15px 20px;
}
.w-tabs.layout_accordion .w-tabs-section-title-control {
	top: 12px;
	right: 20px;
	font-size: 20px;
	line-height: 22px;
	height: 24px;
	width: 24px;
	text-align: center;
	transition: transform 0.25s ease;
}
.w-tabs.layout_accordion .w-tabs-section.active .w-tabs-section-title-control {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}


/* w-tags */
.w-tags.layout_block .w-tags-item {
	margin: 0 3px 3px 0;
}
.w-tags.layout_block .w-tags-item-link {
	font-size: 14px;
	padding: 3px 10px;
	border-radius: 3px;
	background-color: #f2f2f2;
}
.w-tags.layout_block .w-tags-item-link:hover {
	background-color: #444;
	color: #fff;
}
.w-tags.layout_block.title_atleft .w-tags-title-h {
	font-size: inherit;
	line-height: inherit;
	padding: 3px 0;
}
.w-blogpost .w-tags {
	padding-top: 25px;
}


/* w-team */
.w-team-list {
	margin: -2px;
}
.w-team-member {
	margin: 0;
	padding: 2px;
	width: 25%;
}
.w-team-member-h {
	position: relative;
	overflow: hidden;
}
.w-team-member-image {
	float: none;
	height: 0;
	width: 100%;
	padding-bottom: 100%;
	z-index: 1;
}
.w-team-member-meta {
	position: absolute;
	top: -100%;
	left: 0;
	text-align: center;
	min-height: 10px;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 6%;
	z-index: 2;
	-webkit-transition: top 0.3s ease;
	transition: top 0.3s ease;
	background-color: rgba(0,0,0,0.75);
}
.w-team-member:hover .w-team-member-meta {
	top: 0;
}
.w-team-member-name {
	font-size: 22px;
	line-height: 32px;
	margin: 15% 0 0;
	color: #31c5c7;
}
.w-team-member-role {
	font-size: 17px;
	line-height: 25px;
	margin: 5px 0 0;
	color: #ccc;
}
.w-team-member-links {
	position: relative;
	top: 0;
	margin-top: 20px;
	height: auto;
	min-height: 0;
}
.w-team-member-links .w-team-member-links-item {
	font-size: 20px;
	border-radius: 50%;
	background-color: #fff;
	color: #444;
}
.no-touch .w-team-member-links .w-team-member-links-item:hover {
	background-color: #31c5c7;
	color: #fff;
}


/* w-testimonial */
.w-testimonial {
	text-align: left;
}
.w-testimonial-text {
	font-size: 18px;
	line-height: 28px;
	padding: 30px 40px;
	border-radius: 5px;
	box-shadow: 0 1px 0 0 rgba(0,0,0,0.08);
	background-color: #f2f2f2;
}
.w-testimonial-person {
	padding: 15px 0 0 40px;
	position: relative;
	color: #999;
}
.w-testimonial-person:before {
	display: block;
	content: '';
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 40px;
	margin-left: 14px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid rgba(0,0,0,0.08);
}
.w-testimonial-person:after {
	display: block;
	content: '';
	width: 0;
	height: 0;
	position: absolute;
	top: -1px;
	left: 40px;
	margin-left: 14px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #f2f2f2;
}
.w-testimonial-person i {
	font-size: 19px;
	margin-right: 30px;
}
.w-testimonial-person-name {
	color: #31c5c7;
}
.w-testimonial-person-meta {
	margin-left: 2px;
}


/* w-toplink */
.w-toplink {
	display: block;
	position: fixed;
	bottom: -50px;
	right: 30px;
	text-align: center;
	font-size: 20px;
	line-height: 50px;
	height: 50px;
	width: 50px;
	border-radius: 5px;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); /* hack for IE8 */
	opacity: 0;
	z-index: 100;
	-webkit-transition: background-color 0.3s ease, opacity 0.3s ease, bottom 0.3s ease;
	transition: background-color 0.3s ease, opacity 0.3s ease, bottom 0.3s ease;
	background-color: #333;
	background-color: rgba(0,0,0,0.3);
	color: #fff;
}
.w-toplink.active {
	bottom: 60px;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100); /* hack for IE8 */
	opacity: 1;
}
.w-toplink.active:hover {
	background-color: #000;
	background-color: rgba(0,0,0,0.75);
	color: #fff;
}
.w-toplink i {
	line-height: inherit;
}


/* w-video */
.w-video {
	margin-bottom: 30px;
}
.w-video:last-child {
	margin-bottom: 0;
}


/* 404 page */
.page-404 {
	text-align: center;
}
.page-404 i {
	font-size: 200px;
	color: #e5e5e5;
}


/* ====================================
====== Supersized Slider ==============
==================================== */

.us_supersized {
	height: 100%;
	width: 100%;
}
#supersized-loader {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	text-indent: -9999px;
	z-index: 0;
	background: url(../img/loader.gif) no-repeat center center;
}
#supersized {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	margin: 0;
	overflow: hidden;
	z-index: -999;
}
#supersized img {
	display: none;
	position: relative;
	height: auto;
	width: auto;
	max-width: none;
}
#supersized li {
	display: block;
	list-style: none;
	z-index: -30;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	padding: 0;
	background-color: #fff;
}
#supersized a {
	display: block;
	height: 100%;
	width: 100%;
}
#supersized li.prevslide {
	z-index: -20;
}
#supersized li.activeslide {
	z-index: -10;
}
#supersized li.image-loading {
	height: 100%;
	width: 100%;
	background: url(../img/loader.gif) no-repeat center center #fff;
}
#supersized li.image-loading img {
	visibility: hidden;
}
#supersized li.prevslide img,
#supersized li.activeslide img {
	display: inline;
}
#prevslide,
#nextslide {
	display: block;
	position: absolute;
	top: 50%;
	font-size: 20px;
	line-height: 50px;
	height: 50px;
	width: 50px;
	margin-top: -25px;
	cursor: pointer;
	border-radius: 50%;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30); /* hack for IE8 */
	opacity: 0.3;
	background-color: #fff;
	color: #444;
}
#prevslide {
	left: 20px;
}
.no-touch #prevslide {
	left: -50px;
}
.no-touch .us_supersized:hover #prevslide {
	left: 30px;
}
#nextslide {
	right: 20px;
}
.no-touch #nextslide {
	right: -50px;
}
.no-touch .us_supersized:hover #nextslide {
	right: 30px;
}
.no-touch #prevslide:hover,
.no-touch #nextslide:hover {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100); /* hack for IE8 */
	opacity: 1;
}
.slidecaption {
	display: table;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
.slidecaption #slidecaption {
	display: table-cell;
	vertical-align: middle;
	margin: auto;
}


/* ====================================
====== FLEXSLIDER =====================
==================================== */

.flex-loading {
	min-height: 100px;
	background: url(../img/loader.gif) no-repeat center center;
}
.flexslider {
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: relative;
}
.flexslider ul.slides {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.flexslider .slides:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}
.flexslider .slides > li {
	display: none;
	line-height: 0;
	-webkit-backface-visibility: hidden;
	margin-bottom: 0;
	padding-left: 0;
}

/* Direction Nav */
ul.flex-direction-nav {
	list-style-type: none;
	margin: 0;
}
ul.flex-direction-nav li {
	padding: 0;
	margin: 0;
}
.flex-direction-nav span {
	position: absolute;
	top: 50%;
	font-size: 20px;
	text-align: center;
	line-height: 50px;
	height: 50px;
	width: 50px;
	margin-top: -25px;
	border-radius: 50%;
	background-image: none;
	overflow: hidden;
	cursor: pointer;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30); /* hack for IE8 */
	opacity: 0.3;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
	background-color: #fff;
	color: #444;
}
.flex-direction-nav li span:hover {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100); /* hack for IE8 */
	opacity: 1;
}
.flex-direction-nav .flex-next:before {
	display: block;
	content: '\f054';
	font-family: FontAwesome;
}
.flex-direction-nav .flex-prev:before {
	display: block;
	content: '\f053';
	font-family: FontAwesome;
}
.no-touch .flex-direction-nav .flex-next {
	right: -50px;
}
.flexslider .flex-next,
.no-touch .flexslider:hover .flex-next {
	right: 20px;
}
.no-touch .flex-direction-nav .flex-prev {
	left: -50px;
}
.flexslider .flex-prev,
.no-touch .flexslider:hover .flex-prev {
	left: 20px;
}
.flex-direction-nav .flex-disabled {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30); /* hack for IE8 */
	opacity: .3!important;
	cursor: default;
}


/* ====================================
====== jGrowl Messages styles =========
==================================== */
div.jGrowl.center {
	left: 50%;
	margin-left: -160px;
	width: 320px;
}
div.jGrowl div.jGrowl-notification,
div.jGrowl div.jGrowl-closer {
	font-size: 14px;
	line-height: 22px;
	margin: 5px;
	padding: 15px;
	width: 280px;
}
div.jGrowl div.jGrowl-notification {
	min-height: 20px;
	border-radius: 5px;
}
div.jGrowl div.jGrowl-notification div.jGrowl-close {
	font-size: 26px;
	font-weight: normal;
	height: 20px;
	width: 20px;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=20); /* hack for IE8 */
	opacity: 0.2;
	-webkit-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}
.no-touch div.jGrowl div.jGrowl-notification div.jGrowl-close:hover {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100); /* hack for IE8 */
	opacity: 1;
}


/* ====================================
====== Contact Form 7 =================
==================================== */
.wpcf7-form {
	max-width: 450px;
	margin: 0 auto;
}
.g-html .wpcf7-form p {
	margin-bottom: 15px;
}
span.wpcf7-form-control-wrap {
	display: inline-block;
	width: 100%;
}
.wpcf7-form input[type="text"],
.wpcf7-form input[type="password"],
.wpcf7-form input[type="email"],
.wpcf7-form input[type="url"],
.wpcf7-form input[type="tel"],
.wpcf7-form input[type="number"],
.wpcf7-form input[type="date"],
.wpcf7-form textarea,
.wpcf7-form select {
	margin-top: 5px;
}
.wpcf7-form-control.wpcf7-radio,
.wpcf7-form-control.wpcf7-checkbox {
	display: inline-block;
	padding: 10px 0;
}
span.wpcf7-list-item {
	margin: 0 10px;
}
span.wpcf7-list-item input[type="checkbox"],
span.wpcf7-list-item input[type="radio"] {
	margin: 0 2px 0 0;
}
div.wpcf7 img.ajax-loader {
	margin-right: -20px;
}
div.wpcf7-response-output {
	line-height: 24px;
	margin: 0;
	padding: 8px 16px;
	border-radius: 5px;
}
span.wpcf7-not-valid-tip {
	left: auto;
	top: auto;
	right: 5px;
	bottom: 5px;
	width: 220px;
	border-radius: 3px;
}


/*************************************************************************************************************************************
LANGUAGES
*************************************************************************************************************************************/
#languages-login {
	position: absolute;
    top: 20px;
    right: 20px;
    z-index: 999;
}
#languages-login a{
	cursor:pointer;
}
#languages-login a img{
	width: 30px;
}


/*************************************************************************************************************************************
RECAPTCHA
*************************************************************************************************************************************/
.recaptchatable .recaptcha_image_cell, #recaptcha_table {background-color:#FFFFFF !important;}  
#recaptcha_table {border-color: #FFFFFF !important;}  
#recaptcha_response_field {background-color: #FFFFFF !important;}
.recaptchatable .recaptcha_image_cell center img{height:57px !important;padding:5px;}
#recaptcha_reload, #recaptcha_switch_audio, #recaptcha_whatsthis{width:25px;height:18px;}
#recaptcha_logo{width:60px;height:auto;}


