.view
{
	border:1px solid #e4e4e4;
	margin:15px 20px 0 5px;
	font-size:0.9em;
	color:#333;
}

.view .header
{
	background-color:#e4e4e4;
	overflow:hidden;
	padding:6px;
	text-align:center;
}

.view .itemg3
{
	float:left;
	width:700px;
	text-align:left;
	line-height:25px;
}

.view .itemg1
{
	float:left;
	width:275px;
	text-align:left;
	line-height:25px;
}

.view .itemg2
{
	float:left;
	width:150px;
	text-align:center;
	line-height:25px;
}

.view .itemm
{
	float:left;
	width:180px;
	line-height:25px;
}

.view .itemp
{
	float:left;
	width:80px;
	text-align:center;
	line-height:25px;
}

.view .boder
{
	overflow:hidden;
	padding:6px;
	border-bottom:1px solid #e4e4e4;
}

.view .bod_cont
{
	margin-bottom:5px;
	padding-bottom:10px;
	border-bottom:1px solid #e4e4e4;
	overflow:hidden;
}

.view .foot
{
	overflow:hidden;
	background-color:#e4e4e4;
	padding:6px;
}