#trabajosPracticos .subtitleModulo {
	color: #686868;
	margin-bottom: 15px;
	padding-bottom: 5px;
	border-bottom: 2px solid #69C6B3;
}

.nombreModulo{
	/*
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#FFFFFF');
	background: -webkit-linear-gradient(#FFFFFF, #EEEEEE);
	background: -moz-linear-gradient(#FFFFFF, #EEEEEE);
	background: -o-linear-gradient(#FFFFFF, #EEEEEE);
	color:#555;
	font-weight:bold;
	font-style:italic;
	
	border:1px solid #CCC;
	
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	padding:10px;
	*/

}
#trabajosPracticos .archivosModulo{
	margin:-10px 0 15px 0;
	padding:5px 10px;
}

#trabajosPracticos .archivosModulo .listado_tabla{
	border-bottom: 1px dashed #A0A0A0 !important;
	padding:10px 0;
	margin: 5px 0;

}

.tituloArchivo{
	float:left;
	width:83%;
	margin-top:5px;
	font-weight:bold;
}

.botonDescargaArchivo{
	width: 64px;
	vertical-align: middle;
	float: right;
}

.botonDescargaArchivo a{
	display:block;
	width:100%;
	height: 100%;
	margin-top:	5px;
}

#mesaTrabajosPracticos{
	background-image: url(imagenes/trabajos_practicos/bg-table.png);
	width: 100%;
	height: 427px;
}

#libretaTrabajosPracticos{
	background-image: url(imagenes/trabajos_practicos/bg-trabjos-practicos.png);
	background-repeat: no-repeat;
	width: 500px;
	height: 500px;
}