#ayuda_descargas {padding: 20px;}

#ayuda_descargas h2 {
	font-size: 1.1em;
	text-align: center;
	padding: 5px;
	border: 1px solid #999;
	color: #999;
}

#ayuda_descargas {font-size: 0.95em;}
#ayuda_descargas a {text-decoration: none;}
#ayuda_descargas img {margin-right: 5px;}
#ayuda_descargas a:hover span {text-decoration: underline;}
.gris{background-color:#EFEFEF;}
#pNecesarios, #pUtiles{cursor: pointer;	}

#contentDescargas{
	height:400px;
	width:400px;
	background-color:#FFFFFF;
	padding:15px 30px;
	border:1px solid #D5D5D5;
	-moz-box-shadow:0px 7px 15px 0px #999;
	-webkit-box-shadow:0px 7px 15px #999;
	box-shadow:0px 7px 15px 0px #999;
}

#navDescargas{
	width:80px;
	position: relative;
}

#programasNecesarios .listProgramas, #programasUtiles .listProgramas{
	margin: 5px 0;
	border-bottom: 1px dashed #A0A0A0;
	padding: 0 0 7px 0;
}

.listProgramas img{vertical-align: middle;}
.listProgramas a{line-height: 24px;}
